<template>
  <div>
    <div v-if="$isMobile()" class="mobile-breadcrumb">
      <tm-button type="link" icon="pi pi-arrow-left" class="p-mx-2" @click="navigateBack()" />
      <span>{{ $t(`navigation.${$route.name.split('.').join(' ')}`) }}</span>
    </div>

    <prime-breadcrumb v-else :home="{ icon: 'pi pi-home', to: { name: 'home' } }" :model="routeItems" class="break" />
  </div>
</template>

<script>
import PrimeBreadcrumb from 'primevue/breadcrumb';
import { computed, ref, toRef, watch } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { useStore } from 'vuex';
import { useI18n } from 'vue-i18n';

export default {
  components: {
    PrimeBreadcrumb,
  },
  props: {
    /**
     * Object with model names that should replace active general route names
     * { routeLevel: activeModelName } (e.g. { scenarios: 'Můj scénář', events: 'Moje událost' })
     */
    names: {
      type: Object,
      default: () => {},
    },
  },
  setup(props) {
    const route = useRoute();
    const router = useRouter();
    const store = useStore();
    const { t, locale } = useI18n();

    const routeItems = ref([]);
    const currentRouteName = computed(() => route.name);
    const isInsideComputation = computed(() => store.getters['scenarios/isInsideComputation'](route.params?.id));

    const navigateBack = () => {
      const levels = route.name?.split('.') || [];
      if (levels.length <= 1 || levels[1] == 'login') return router.push({ name: 'home' });
      const parentRoute = levels[levels.length - 2];
      router.push({ name: parentRoute }); // maybe just use router.go(-1);
    };

    watch(
      [currentRouteName, toRef(props, 'names'), isInsideComputation, locale],
      ([routeName, propsNames]) => {
        _setItemsByRouteName(routeName);
        _setActualRouteModelNames(propsNames);
      },
      { immediate: true },
    );

    function _setItemsByRouteName(routeName) {
      const items = [];
      const levels = routeName.split('.');

      let itemRouteName = null;
      let prev = null;
      levels.forEach((lvl) => {
        itemRouteName = itemRouteName ? `${itemRouteName}.${lvl}` : lvl;
        const label = t(`navigation.${itemRouteName.split('.').join(' ')}`);
        items.push({ label: label, to: { name: itemRouteName }, prev });
        if (isInsideComputation.value && itemRouteName == 'scenarios.events') {
          // special breadcrumb item for the computation mode
          items.push({ label: t(`navigation.computation`), to: { name: 'scenarios.events' }, prev });
        }
        prev = lvl;
      });

      routeItems.value = items;
    }

    function _setActualRouteModelNames(names) {
      if (!names) return;

      for (const [type, name] of Object.entries(names)) {
        const item = routeItems.value.find((el) => el.prev === type);
        if (item && name) item.label = name;
      }
    }

    return {
      routeItems,
      navigateBack,
    };
  },
};
</script>

<style scoped>
.break {
  display: block;
  margin-bottom: 1rem;
}
.mobile-breadcrumb,
.mobile-breadcrumb ::v-deep(.pi) {
  color: white;
}
.mobile-breadcrumb {
  line-height: 1.5rem;
  background-color: #0094d2;
  padding: 1rem 0;
  margin-bottom: 2rem;
  font-size: 1.6rem;
}
</style>
