<template>
  <div
    class="p-text-center tm-button"
    :class="{ disabled: disabled, 'tm-fullwidth': ['confirm', 'cancel', 'toggle'].includes(type) }"
  >
    <prime-button
      v-tooltip.bottom="!$isMobile() && tooltip"
      type="Button"
      :disabled="disabled"
      :icon="buttonIcon"
      :class="buttonClass"
      :label="label"
      :data-type="type"
    >
      <slot />
    </prime-button>
    <span v-if="$isMobile() && tooltip" class="p-d-block p-mt-2">{{ tooltip }}</span>
  </div>
</template>

<script>
import { computed } from 'vue';
import PrimeButton from 'primevue/button';

export default {
  components: {
    PrimeButton,
  },
  props: {
    /**
     * Label of the actual button
     */
    label: {
      type: String,
      default: null,
    },
    /**
     * Type of the button - represents some styling
     */
    type: {
      type: String,
      default: 'basic',
      validator: (value) => {
        return [
          'basic',
          'cancel',
          'confirm',
          'back',
          'navigation',
          'create',
          'toggle',
          'action',
          'link',
          'zoom',
          'widget',
        ].includes(value);
      },
    },
    /**
     * What icon to prepend (prime icons string), null represents no icon
     */
    icon: {
      type: String,
      default: null,
    },
    /**
     * Disabled state of the button
     */
    disabled: {
      type: Boolean,
      default: false,
    },
    /**
     * Color of the button border
     */
    borderColor: {
      type: String,
      default: null,
      validator: (value) => {
        return ['red', 'green', 'yellow', 'blue'].includes(value);
      },
    },
    /**
     * Button tooltip
     */
    tooltip: {
      type: String,
      default: null,
    },
  },
  setup(props) {
    const buttonClass = computed(() => {
      const typeClass = {
        'p-button-rounded': ['navigation', 'back', 'create', 'action', 'widget'].includes(props.type),
        'p-button-secondary': ['toggle'].includes(props.type),
        'tm-navigation': ['navigation', 'toggle'].includes(props.type),
        'p-button-icon-only': ['navigation'].includes(props.type),
        'tm-fullwidth': ['confirm', 'cancel', 'toggle'].includes(props.type),
        [`tm-${props.type}`]: true,
      };
      const borderClass = props.borderColor ? 'border-color-' + props.borderColor : '';

      return [typeClass, borderClass];
    });

    const buttonIcon = computed(() => {
      if (!props.icon) return '';
      const iconType = props.icon.split('-')[0];
      return `${iconType} ${props.icon}`;
    });

    return {
      buttonClass,
      buttonIcon,
    };
  },
};
</script>

<style scoped>
.tm-button {
  height: fit-content;
  display: inline-block;
}
.tm-button.tm-fullwidth,
.p-button.tm-fullwidth {
  width: 100%;
}
.tm-button.active .p-button.tm-navigation,
.p-button.tm-navigation:hover {
  box-shadow: 0 0 0 0.2em #bbdefb !important;
  background-color: #0094d2;
  color: white;
}
.tm-button.active .p-button.tm-navigation.active:hover {
  background-color: #007aad;
}
.p-button.p-button-secondary {
  background-color: #cccccc;
  border-color: #cccccc;
}
.p-button.tm-navigation {
  text-decoration: none;
  background-color: inherit;
  border: #495057;
  color: #495057;
  box-shadow: 0 0 0 0.1em #495057;
}
.p-button:focus.tm-navigation {
  box-shadow: 0 0 0 0.1em #495057;
}
.p-button.tm-back {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  margin-right: 1rem;
}
.p-button.tm-link {
  background: none;
  border: none;
  padding: 0;
  color: #0094d2;
}
.p-button.tm-link:hover {
  color: #007aad;
}
.tm-button.tm-reload button {
  background-color: red !important;
}
.p-button-icon-only {
  width: 2.357rem !important;
  padding: 0.5rem 0;
}
.p-button.tm-zoom {
  border: 1px solid #ced4da;
  background: #ffffff;
  color: #495057;
}
.p-button.tm-zoom:hover {
  background: #e9ecef !important;
  color: #495057 !important;
}
.p-button.tm-widget {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  color: #495057;
}
.p-button.tm-widget ::v-deep(.ri) {
  font-size: 20px;
}
.p-button.tm-widget:hover,
.tm-button.active .p-button.tm-widget {
  color: #0094d2;
}
.tm-button.disabled {
  cursor: initial;
  pointer-events: none;
}
</style>
