<template>
  <div class="p-card p-component p-d-flex p-flex-column p-p-3">
    <div class="header">
      <slot name="header"></slot>
    </div>
    <div class="content" :class="{ 'min-height': hasMinHeight }">
      <slot name="content"></slot>
    </div>
    <div v-if="$slots.footer" class="footer p-pt-3"><slot name="footer"></slot></div>
  </div>
</template>

<script>
import { computed } from 'vue';

export default {
  setup(props, { slots }) {
    const hasMinHeight = computed(() => !!slots['content']);

    return {
      hasMinHeight,
    };
  },
};
</script>

<style scoped>
.p-card {
  max-width: 100%;
  max-height: 100%;
  overflow-y: auto; /* card itself should only be scrollable if header and footer themselves are too big to fit into full height card */
}
.content {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.content.min-height {
  min-height: 4rem; /* ensure that at least some space is allways displayed between header and footer -> causes parent card to be scrollable */
}
::v-deep(.p-panel:last-child) {
  margin-bottom: 0 !important;
}
</style>
