<template>
  <div class="p-grid">
    <div class="p-col-6">
      <tm-calendar
        v-model:selected="dateFrom"
        :popup="true"
        :label="'modifications.date from'"
        :clearable="true"
        :show-time="true"
        :disabled="disabled"
        data-test="date-from"
      />
    </div>
    <div class="p-col-6">
      <tm-calendar
        v-model:selected="dateTo"
        :popup="true"
        :label="'modifications.date to'"
        :clearable="true"
        :show-time="true"
        :disabled="disabled"
        data-test="date-to"
      />
    </div>
  </div>
</template>

<script>
import { computed } from 'vue';

/**
 * Component for displaying date from & date to inputs in a single row
 * @version 1.0.0
 * @author [roadtwin]
 */
export default {
  props: {
    /**
     * Date from
     */
    from: {
      type: String,
      default: null,
    },
    /**
     * Date to
     */
    to: {
      type: String,
      default: null,
    },
    /**
     * Disables editing
     */
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  /**
   * update:from event - updates original date from
   *
   * @event update:from
   * @property {String} date from
   */
  /**
   * update:to event - updates original date to
   *
   * @event update:to
   * @property {String} date to
   */
  emits: ['update:from', 'update:to'],
  setup(props, { emit }) {
    const dateFrom = computed({
      get: () => props.from,
      set: (date) => emit('update:from', date),
    });

    const dateTo = computed({
      get: () => props.to,
      set: (date) => emit('update:to', date),
    });

    return {
      dateFrom,
      dateTo,
    };
  },
};
</script>
