<template>
  <prime-divider :layout="layout" />
</template>

<script>
import PrimeDivider from 'primevue/divider';

export default {
  components: {
    PrimeDivider,
  },
  props: {
    /**
     * Positioning of the divider
     */
    layout: {
      type: String,
      default: 'horizontal',
    },
  },
};
</script>

<style scoped>
.p-divider-vertical:before {
  top: 15%;
  height: 70%;
  border-left: 2px solid #dee2e6 !important;
}
</style>
