<template>
  <iframe
    v-if="analyticsEnabled && videoSource"
    class="video"
    :src="videoSource"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <a v-if="!analyticsEnabled && linkSource" :href="linkSource" target="_blank">
    <img :src="thumbnailSource" :alt="`video ${code} thumbnail`" />
  </a>
</template>

<script>
import { computed } from 'vue';
import { useStore } from 'vuex';

export default {
  props: {
    /**
     * Code of the YT video
     */
    code: {
      type: String,
      default: null,
    },
  },
  setup(props) {
    const store = useStore();

    const analyticsEnabled = computed(() => store.state.layout.analyticsEnabled);

    const videoSource = computed(() => {
      return props.code ? `https://www.youtube.com/embed/${props.code}` : null;
    });

    const thumbnailSource = computed(() => {
      return props.code ? `https://img.youtube.com/vi/${props.code}/0.jpg` : null;
    });

    const linkSource = computed(() => {
      return props.code ? `https://www.youtube.com/watch?v=${props.code}` : null;
    });

    return {
      analyticsEnabled,
      videoSource,
      thumbnailSource,
      linkSource,
    };
  },
};
</script>
