<template>
  <prime-fieldset :legend="legend" :toggleable="toggleable">
    <slot />
  </prime-fieldset>
</template>

<script>
import PrimeFieldset from 'primevue/fieldset';

export default {
  components: {
    PrimeFieldset,
  },
  props: {
    /**
     * Label of the fieldset
     */
    legend: {
      type: String,
      default: null,
    },
    /**
     * Whether the table display can be toggled
     */
    toggleable: {
      type: Boolean,
      default: true,
    },
  },
};
</script>

<style scoped>
.p-fieldset {
  min-width: 0;
  width: 100%;
}
.p-fieldset ::v-deep(.p-fieldset-content) {
  padding: 0;
}
.p-fieldset ::v-deep(.p-fieldset-legend) {
  font-weight: normal;
  background-color: #66bfe4;
}
.p-fieldset ::v-deep(.p-fieldset-legend a) {
  padding: 0.8rem !important;
}
.p-fieldset.p-fieldset-toggleable ::v-deep(.p-fieldset-legend a) {
  background-color: #0094d2;
}
.p-fieldset.p-fieldset-toggleable ::v-deep(.p-fieldset-legend a:hover) {
  background-color: #007aad;
}
.p-fieldset ::v-deep(.p-fieldset-legend span) {
  color: white;
}
</style>
