<template>
  <div class="p-inputgroup">
    <span
      v-if="label"
      class="p-button button-label"
      :class="[borderColor ? 'border-color-' + borderColor : '', { active }, { disabled }]"
      @click="$emit('label:clicked')"
      >{{ label }}</span
    >
    <prime-input-number
      v-if="type === 'number'"
      v-model="selection"
      :input-props="{ name }"
      :mode="decimalDigits ? 'decimal' : undefined"
      locale="cs-CZ"
      :min-fraction-digits="decimalDigits || 0"
      :max-fraction-digits="decimalDigits || 0"
      :disabled="disabled"
      :readonly="!directInput"
      :suffix="suffix ? ' ' + suffix : null"
      :placeholder="placeholder"
    />
    <prime-input-text
      v-else
      v-model="selection"
      :name="name"
      :placeholder="placeholder"
      :disabled="disabled"
      :readonly="!directInput"
    />
    <prime-button
      v-if="restorableTo !== null && restorableTo != selection"
      :disabled="disabled"
      icon="pi pi-undo"
      class="p-button clear-icon"
      @click="
        selection = restorableTo;
        $emit('restore:clicked');
      "
    />
    <prime-button
      v-if="clearable && !isEmptySelection"
      :disabled="disabled"
      icon="pi pi-times"
      class="p-button clear-icon"
      @click="
        selection = null;
        $emit('clear:clicked');
      "
    />
  </div>
  <small :id="'help-input-' + name" class="p-error" :class="{ disabled }">{{ errorMessage }}</small>
</template>

<script>
import { watch, computed } from 'vue';
import PrimeButton from 'primevue/button';
import PrimeInputText from 'primevue/inputtext';
import PrimeInputNumber from 'primevue/inputnumber';
import { useField } from 'vee-validate';

/**
 * Special input component for displaying clearable selection
 * @version 1.0.0
 * @author [roadtwin]
 */
export default {
  components: {
    PrimeButton,
    PrimeInputText,
    PrimeInputNumber,
  },
  props: {
    /**
     * Name attribute of the input
     */
    name: {
      type: String,
      required: true,
    },
    /**
     * Type of the value (switches between number and text input)
     */
    type: {
      type: String,
      default: 'number',
      validator: (value) => ['number', 'array', 'string'].includes(value),
    },
    /**
     * Vee-validate rules string
     * (e.g. "required|min:5")
     */
    rules: {
      type: String,
      default: null,
    },
    /**
     * The value to display as selection
     */
    selected: {
      type: [Number, Array, String],
      default: null,
    },
    /**
     * Label to display before the multi-input
     */
    label: {
      type: String,
      default: null,
    },
    /**
     * Whether to display icon for clearing the multi-input value
     */
    clearable: {
      type: Boolean,
      default: true,
    },
    /**
     * Number or Array to be restored to after clicking on restore icon
     * automatically displays the restore icon if not null
     */
    restorableTo: {
      type: [Number, Array, String],
      default: null,
    },
    /**
     * Color of the label border
     */
    borderColor: {
      type: String,
      default: null,
      validator: (value) => {
        return ['red', 'green', 'yellow', 'blue'].includes(value);
      },
    },
    /**
     * Wheter this selector is currently 'in use'
     */
    active: {
      type: Boolean,
      default: false,
    },
    /**
     * Disabled state of the whole input selector
     */
    disabled: {
      type: Boolean,
      default: false,
    },
    /**
     * Whether the input value can be edited directly
     */
    directInput: {
      type: Boolean,
      default: false,
    },
    /**
     * Suffix for the input value (units) - only works with Number
     */
    suffix: {
      type: String,
      default: null,
    },
    /**
     * Whether to allow decimal digits and how many of them
     */
    decimalDigits: {
      type: [Number, null],
      default: null,
    },
    /**
     * Placeholder attribute for the input
     */
    placeholder: {
      type: String,
      default: null,
    },
  },
  /**
   * clear:clicked event - emits that the clear icon has been clicked on
   *
   * @event clear:clicked
   */
  /**
   * restore:clicked event - emits that the restore icon has been clicked on
   *
   * @event restore:clicked
   */
  /**
   * label:clicked event - emits that the label has been clicked on
   *
   * @event label:clicked
   */
  /**
   * update:selected event - update original model with directly inputed value
   *
   * @event update:selected
   */
  emits: ['clear:clicked', 'restore:clicked', 'label:clicked', 'update:selected'],
  setup(props, { emit }) {
    const selection = computed({
      get: () => (Array.isArray(props.selected) ? props.selected.join(', ') : props.selected),
      set: (newSelection) => emit('update:selected', newSelection), // emit in case of direct input ('directInput' == true)
    });

    const { errorMessage, value } = useField(props.name, props.rules, {
      initialValue: selection.value,
    });

    watch(selection, (newSelection) => (value.value = newSelection));

    const isEmptySelection = computed(() => {
      return selection.value === null || selection.value.length == 0;
    });

    return {
      selection,
      errorMessage,
      isEmptySelection,
    };
  },
};
</script>

<style scoped>
.p-button.button-label {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-width: 3px;
}
.p-button.p-button-icon-only.clear-icon {
  width: 1.5rem;
}
.p-inputtext:disabled {
  opacity: 1;
}
.p-button.button-label.active {
  background-color: #007aad;
}
.p-button.button-label.disabled {
  background-color: #66bfe4;
}
.disabled {
  cursor: initial;
  pointer-events: none;
}
</style>
