<template>
  <div class="input-wrapper">
    <div class="p-inputgroup">
      <span v-if="label && !borderless" class="button-label p-inputgroup-addon">{{ label }}</span>
      <component
        :is="inputComponent"
        v-model="inputValue"
        :type="type !== 'number' && type"
        :name="name"
        :placeholder="placeholder"
        :autocomplete="autocomplete"
        :disabled="disabled || loading"
        :class="{ 'p-invalid': errorMessage, borderless, readonly }"
        :aria-describedby="'help-input-' + name"
        :readonly="readonly"
        :min="type == 'number' && min"
        :max="type == 'number' && max"
        :show-buttons="type == 'number'"
        :mode="type == 'number' && 'decimal'"
        @blur="$emit('blur')"
      />
      <i v-if="loading" class="pi pi-spin pi-spinner loader" />
    </div>
    <small :id="'help-input-' + name" class="p-error">{{ errorMessage }}</small>
  </div>
</template>

<script>
import { computed } from 'vue';
import { useField } from 'vee-validate';
import PrimeInputText from 'primevue/inputtext';
import PrimeInputNumber from 'primevue/inputnumber';

export default {
  props: {
    /**
     * Value of the input
     */
    modelValue: {
      type: [String, Number],
      default: null,
    },
    /**
     * Text to display as placeholder
     */
    placeholder: {
      type: String,
      default: null,
    },
    /**
     * Name attribute of the input
     */
    name: {
      type: String,
      required: true,
    },
    /**
     * Type attribute of the input
     */
    type: {
      type: String,
      default: 'text',
    },
    /**
     * Vee-validate rules string
     * (e.g. "required|min:5")
     */
    rules: {
      type: String,
      default: null,
    },
    /**
     * Whether to display borderless input
     */
    borderless: {
      type: Boolean,
      default: true,
    },
    /**
     * Label to display before the input
     */
    label: {
      type: String,
      default: null,
    },
    /**
     * Autocomplete attribute of the input
     */
    autocomplete: {
      type: String,
      default: 'off',
    },
    /**
     * Disabled attribute of the input
     */
    disabled: {
      type: Boolean,
      default: false,
    },
    /**
     * Whether the input data is still loading
     * also makes the input disabled
     */
    loading: {
      type: Boolean,
      default: false,
    },
    /**
     * Readonly attribute of the input
     */
    readonly: {
      type: Boolean,
      default: false,
    },
    /**
     * Min number - only usable for input type == number
     */
    min: {
      type: Number,
      default: null,
    },
    /**
     * Max number - only usable for input type == number
     */
    max: {
      type: Number,
      default: null,
    },
  },
  /**
   * update:modelValue event - updates the original value of the input
   *
   * @event update:modelValue
   * @property {String} updated input value
   */
  /**
   * blur event - passes the input blur event
   *
   * @event blur
   */
  emits: ['update:modelValue', 'blur'],
  setup(props, { emit }) {
    const { errorMessage, value } = useField(props.name, props.rules, {
      initialValue: props.modelValue,
    });

    const inputComponent = computed(() => {
      return props.type == 'number' ? PrimeInputNumber : PrimeInputText;
    });

    const inputValue = computed({
      get: () => props.modelValue,
      set: (newVal) => {
        value.value = newVal;
        emit('update:modelValue', newVal);
      },
    });

    return {
      inputValue,
      errorMessage,
      inputComponent,
    };
  },
};
</script>

<style scoped>
.input-wrapper {
  width: 100%;
}
input {
  width: 100%;
  resize: none;
}
input.borderless {
  border: none;
}
input[name='name'] {
  font-size: 1.8rem;
  font-weight: 700;
  padding: 0;
}
.p-error {
  font-size: small;
  font-weight: initial;
}
.p-inputtext.p-invalid.p-component {
  box-shadow: 0 0 0 0.2rem #f44336;
}
.p-inputtext:not(.readonly):enabled:hover {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #a6d5fa;
  border-color: #0094d2;
}
.button-label {
  background-color: #0094d2;
  color: white;
}
.p-inputgroup {
  position: relative;
}
.loader {
  right: 0.5rem;
  color: #6c757d;
  position: absolute;
  top: 50%;
  margin-top: -0.3rem;
}
</style>
