<template>
  <div v-if="type == 'checkbox'" class="p-d-flex">
    <div v-for="option in options" :key="option.name" class="p-mr-2">
      <prime-checkbox
        :id="option.name"
        v-model="selection"
        :value="optionValue ? option[optionValue] : option"
        :name="option.name + ''"
        :disabled="disabled || option.disabled"
        :data-test="option.name + '-filter'"
      />
      <label :for="option.name" class="p-pl-1">{{ getLocalizedLabel(option) }}</label>
    </div>
  </div>
  <div v-else class="p-inputgroup">
    <span v-if="label" class="p-button button-label">{{ label }}</span>

    <prime-select-button
      v-if="type == 'radio'"
      v-model="selection"
      class="p-d-flex"
      :unselectable="false"
      :disabled="disabled"
      :options="options"
      :option-value="optionValue"
      :option-label="(option) => getLocalizedLabel(option)"
    />

    <prime-dropdown
      v-else-if="type == 'dropdown'"
      v-model="selection"
      :disabled="disabled"
      :options="options"
      :option-value="optionValue"
      :option-label="(option) => getLocalizedLabel(option)"
      placeholder="---"
    >
      <template #option="slotProps">
        <div>{{ getLocalizedLabel(slotProps.option) }}</div>
      </template>
    </prime-dropdown>

    <prime-auto-complete
      v-else-if="type.includes('autocomplete')"
      v-model="selection"
      :option-label="optionValue"
      :suggestions="options"
      :placeholder="placeholder"
      :force-selection="true"
      :dropdown="type.includes('dropdown')"
      :multiple="type.includes('multiple')"
      append-to="body"
      @complete="$emit('autocomplete', $event.query)"
    />
  </div>
</template>

<script>
import { computed } from 'vue';
import PrimeDropdown from 'primevue/dropdown';
import PrimeCheckbox from 'primevue/checkbox';
import PrimeSelectButton from 'primevue/selectbutton';
import PrimeAutoComplete from 'primevue/autocomplete';
import { useI18n } from 'vue-i18n';

export default {
  components: {
    PrimeDropdown,
    PrimeCheckbox,
    PrimeSelectButton,
    PrimeAutoComplete,
  },
  props: {
    /**
     * Type representing how the selection is displayed
     */
    type: {
      type: String,
      default: 'checkbox',
      validator: (value) => {
        return [
          'radio',
          'checkbox',
          'dropdown',
          'autocomplete',
          'autocomplete-dropdown',
          'autocomplete-multiple',
        ].includes(value);
      },
    },
    /**
     * Options to choose from
     */
    options: {
      type: Array,
      default: () => [],
    },
    /**
     * User-selected option
     */
    selected: {
      type: [String, Object, Boolean, Number],
      default: null,
    },
    /**
     * Object property that is used as option value
     */
    optionValue: {
      type: String,
      default: null,
    },
    /**
     * Label to display before the selection
     */
    label: {
      type: String,
      default: null,
    },
    /**
     * Disabled state of the entire selection
     */
    disabled: {
      type: Boolean,
      default: false,
    },
    /**
     * Text to display as placeholder
     */
    placeholder: {
      type: String,
      default: null,
    },
  },
  /**
   * update:selected event - updates original selected model
   *
   * @event update:selected
   * @property {String, Object}  selected item
   */
  /**
   * autocomplete event - triggers on search query in case of autocomplete selection
   *
   * @event autocomplete
   * @property String searched query
   */
  emits: ['update:selected', 'autocomplete'],
  setup(props, { emit }) {
    const { t } = useI18n();

    const selection = computed({
      get: () => props.selected,
      set: (newSelection) => emit('update:selected', newSelection),
    });

    const getLocalizedLabel = (option) => {
      if (option.label) return t(option.label);
      if (option.name) return option.name;
      return option;
    };

    return {
      selection,
      getLocalizedLabel,
    };
  },
};
</script>

<style scoped>
.p-selectbutton.p-buttonset {
  width: 100%;
}
.p-button.button-label {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
::v-deep(.p-selectbutton.p-buttonset .p-button) {
  flex: 1;
  padding: 0.5rem;
}
.p-inputgroup {
  width: auto;
}
</style>
