<template>
  <div class="tm-slider p-my-3" :class="{ labeled: label }">
    <div class="p-d-flex">
      <span v-if="label" class="p-button" :class="{ 'p-disabled': disabled }"> {{ label }}</span>
      <div class="slider-wrapper">
        <prime-input-number
          v-if="input"
          ref="inputElement"
          v-model="selectedNumber"
          :placeholder="placeholder"
          :disabled="disabled"
          :readonly="!directInput"
          :suffix="inputSuffix ? ' ' + inputSuffix : null"
          :min="range.min"
          :max="range.max"
          class="slider-input"
          mode="decimal"
          @mousedown="onInputMouseDown"
        />
        <prime-slider
          v-model="selectedNumber"
          :disabled="disabled"
          :step="step"
          :min="range.min"
          :max="range.max"
          @slideend="$emit('slideend')"
          @click="$emit('click')"
        />
      </div>
    </div>

    <div v-if="!input" class="p-d-flex p-jc-center p-my-3">{{ getTimeRange(selectedNumber) }}</div>
  </div>
</template>

<script>
import { ref, computed, onMounted } from 'vue';
import PrimeSlider from 'primevue/slider';
import PrimeInputNumber from 'primevue/inputnumber';
import useDate from '@composables/useDate';

/**
 * Slider component for displaying slide-able element - in order to select number
 * @version 1.0.0
 * @author [roadtwin]
 */
export default {
  components: {
    PrimeSlider,
    PrimeInputNumber,
  },
  props: {
    /**
     * Pre-selected default selection
     */
    selected: {
      type: [Number, null],
      default: null,
    },
    /**
     * Step factor of the slide
     */
    step: {
      type: Number,
      default: 1,
    },
    /**
     * Range of the slider
     */
    range: {
      type: Object,
      default: () => ({ min: 1, max: 100 }),
    },
    /**
     * Label to display with (before) the slider
     */
    label: {
      type: String,
      default: null,
    },
    /**
     * Whether to display selected number as input
     */
    input: {
      type: Boolean,
      default: true,
    },
    /**
     * Disabled state of the whole slider (input + slider)
     */
    disabled: {
      type: Boolean,
      default: false,
    },
    /**
     * Suffix for the input value (units)
     */
    suffix: {
      type: String,
      default: null,
    },
    /**
     * Text to display as placeholder for the input value
     */
    placeholder: {
      type: String,
      default: null,
    },
    /**
     * Whether the input value can be edited directly
     */
    directInput: {
      type: Boolean,
      default: false,
    },
    /**
     * Whether to display input value as value range (adding step to the value)
     */
    valueAsTimeRange: {
      type: Boolean,
      default: false,
    },
  },
  /**
   * update:selected event - updates original selection model
   *
   * @event update:selected
   * @property {Number} time that has been slided on (or clicked on) as number
   */
  /**
   * slideend event - emits when sliding ends
   *
   * @event slideend
   */
  /**
   * click event - emits when slider handle is clicked
   *
   * @event click
   */
  emits: ['update:selected', 'slideend', 'click'],
  setup(props, { emit }) {
    const { getHoursFromHoursNumber, getMinutesFromHoursNumber } = useDate();
    const inputElement = ref();

    const selectedNumber = computed({
      get: () => props.selected,
      set: (number) => {
        // default number (1) in case PrimeSlider returns NaN (edge cases, only seems to happen when simulating click on the slider via vitest)
        emit('update:selected', Number.isNaN(number) ? 1 : number);
      },
    });

    const getTimeRange = (timeNumber) => {
      const mins = getMinutesFromHoursNumber(timeNumber);
      const hour = getHoursFromHoursNumber(timeNumber);
      const stepMins = getMinutesFromHoursNumber(props.step);
      const stepHour = getHoursFromHoursNumber(props.step) + getHoursFromHoursNumber((mins + stepMins) / 60);
      return `${hour}:${_formatMinutes(mins)} - ${hour + stepHour}:${_formatMinutes(mins + stepMins)} ${props.suffix}`;
    };

    const inputSuffix = ref(props.suffix);

    const _overrideInputFormat = () => {
      // update formatting function of the original prime input-number component
      inputElement.value.formatValue = (v) => getTimeRange(v);
      // PRIMEVUE HACK - by updating the prime-input suffix, we force the format function to be registered
      inputSuffix.value = 'hack';
    };

    const _formatMinutes = (mins) => {
      if (mins == 60) return '00';
      return ('0' + mins).slice(-2);
    };

    const onInputMouseDown = (ev) => {
      if (props.directInput) return;
      ev.preventDefault();
    };

    onMounted(() => {
      if (!props.input || !props.valueAsTimeRange) return;
      _overrideInputFormat();
    });

    return {
      inputElement,
      selectedNumber,
      getTimeRange,
      inputSuffix,
      onInputMouseDown,
    };
  },
};
</script>

<style scoped>
.tm-slider.labeled .p-button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.tm-slider.labeled ::v-deep(.p-inputtext) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  opacity: 1;
}
.tm-slider .slider-wrapper {
  width: 100%;
}
.tm-slider .slider-input {
  width: 100%;
}
.tm-slider .p-button {
  overflow: visible;
  cursor: default;
}
</style>
