<template>
  <prime-input-switch v-model="checked" :disabled="disabled" />
</template>

<script>
import { computed } from 'vue';
import PrimeInputSwitch from 'primevue/inputswitch';

export default {
  components: {
    PrimeInputSwitch,
  },
  props: {
    /**
     * Checked state
     */
    modelValue: {
      type: Boolean,
      required: true,
    },
    /**
     * Disabled state
     */
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  /**
   * update:modelValue event - updates the original model value
   *
   * @event update:modelValue
   * @property {Boolean} checked state
   */
  emits: ['update:modelValue'],
  setup(props, { emit }) {
    const checked = computed({
      get: () => props.modelValue,
      set: (state) => emit('update:modelValue', state),
    });

    return {
      checked,
    };
  },
};
</script>

<style scoped></style>
