<template>
  <slot></slot>
</template>

<script>
export default {
  name: 'TabPanel',
  props: {
    /**
     * Heading string of the panel
     */
    header: {
      type: String,
      default: null,
    },
    /**
     * Whether the tab is disabled
     */
    disabled: {
      type: Boolean,
      default: false,
    },
    /**
     * Whether the tab has some filled content
     * this will be represented by a tick mark next to the heading
     */
    filled: {
      type: Boolean,
      default: false,
    },
  },
};
</script>
