<template>
  <div class="tm-tabs p-component">
    <ul ref="nav" class="tm-tabs-nav" role="tablist">
      <li
        v-for="(tab, i) of tabs"
        :key="getTabKey(tab, i)"
        role="presentation"
        :class="[{ 'p-highlight': activeTabIndex === i, 'p-disabled': isTabDisabled(tab) }]"
      >
        <a
          role="tab"
          class="tm-tabs-nav-link"
          :tabindex="isTabDisabled(tab) ? null : '0'"
          :aria-selected="activeTabIndex === i"
          @click="onTabClick($event, i)"
        >
          <span v-if="tab.props && tab.props.header" class="tm-tabs-title">{{ tab.props.header }}</span>
          <component :is="tab.children.header" v-if="tab.children && tab.children.header"></component>
          <i v-if="tab.props?.filled" class="filled-icon ri-check-line"></i>
        </a>
      </li>
    </ul>
    <div class="tm-tabs-panels">
      <template v-for="(tab, i) of tabs" :key="getTabKey(tab, i)">
        <div v-show="activeTabIndex === i" class="tm-tabs-panel" role="tabpanel">
          <component :is="tab"></component>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import { ref, computed } from 'vue';

export default {
  setup(props, { slots }) {
    const isTabPanel = (child) => child.type.name === 'TabPanel';
    const isTabDisabled = (tab) => tab.props && tab.props.disabled;
    const getTabKey = (tab, i) => (tab.props && tab.props.header ? tab.props.header : i);
    const activeTabIndex = ref(-1);

    const tabs = computed(() => {
      const tabs = [];
      slots.default().forEach((child) => {
        if (isTabPanel(child)) {
          tabs.push(child);
        } else if (child.children && child.children instanceof Array) {
          child.children.forEach((nestedChild) => {
            if (isTabPanel(nestedChild)) {
              tabs.push(nestedChild);
            }
          });
        }
      });
      return tabs;
    });

    const onTabClick = (event, i) => {
      if (isTabDisabled(tabs.value[i])) return;
      if (i === activeTabIndex.value) activeTabIndex.value = -1;
      else activeTabIndex.value = i;
    };

    return {
      activeTabIndex,
      isTabPanel,
      isTabDisabled,
      getTabKey,
      tabs,
      onTabClick,
    };
  },
};
</script>

<style scoped>
.tm-tabs .tm-tabs-panels {
  padding: 0 1rem;
}
.tm-tabs .tm-tabs-nav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
}
.tm-tabs .tm-tabs-nav li {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  text-align: center;
  border: solid 1px #dee2e6;
}
.tm-tabs .tm-tabs-nav-link {
  cursor: pointer;
  width: 100%;
  display: inline-block;
  padding: 0.5rem 1rem;
  position: relative;
  color: inherit;
}
.tm-tabs .tm-tabs-nav li:not(:last-of-type) {
  border-right: 0px;
}
.tm-tabs .tm-tabs-nav li:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.tm-tabs .tm-tabs-nav li:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.tm-tabs .tm-tabs-nav li.p-highlight {
  background: #0094d2;
  color: #495057;
}
.tm-tabs .tm-tabs-nav li.p-highlight .tm-tabs-nav-link {
  color: white;
}
.tm-tabs .tm-tabs-nav li:hover {
  background: #e9ecef;
}
.tm-tabs .tm-tabs-nav li.p-highlight:hover {
  background: #007aad;
}
.tm-tabs .filled-icon {
  margin-left: 1rem;
  position: absolute;
  top: 0.6rem;
}
</style>
