<template>
  <div class="textarea-wrapper">
    <prime-textarea
      v-model="value"
      :name="name"
      :rows="rows"
      :disabled="disabled"
      :class="{ 'p-invalid': errorMessage, readonly }"
      :placeholder="placeholder"
      :aria-describedby="'help-input-' + name"
      :readonly="readonly"
      @input="emitValue"
      @blur="$emit('blur')"
    />
    <i v-if="loading" class="pi pi-spin pi-spinner loader" />
    <small :id="'help-input-' + name" class="p-error">{{ errorMessage }}</small>
  </div>
</template>

<script>
import { useField } from 'vee-validate';
import PrimeTextarea from 'primevue/textarea';

export default {
  components: {
    PrimeTextarea,
  },
  props: {
    /**
     * Value of the textarea
     */
    modelValue: {
      type: String,
      default: null,
    },
    /**
     * Text to display as placeholder
     */
    placeholder: {
      type: String,
      default: null,
    },
    /**
     * Name attribute of the textarea
     */
    name: {
      type: String,
      required: true,
    },
    /**
     * Vee-validate rules string
     * (e.g. "required|min:5")
     */
    rules: {
      type: String,
      default: null,
    },
    /**
     * Number of rows to display
     */
    rows: {
      type: Number,
      default: 6,
    },
    /**
     * Disabled attribute of the textarea
     */
    disabled: {
      type: Boolean,
      default: false,
    },
    /**
     * Whether the textarea data is still loading
     */
    loading: {
      type: Boolean,
      default: false,
    },
    /**
     * Readonly attribute of the textarea
     */
    readonly: {
      type: Boolean,
      default: false,
    },
  },
  /**
   * update:modelValue event - updates the original value of the textarea
   *
   * @event update:modelValue
   * @property {String} updated textarea value
   */
  /**
   * blur event - passes the textarea blur event
   *
   * @event blur
   */
  emits: ['update:modelValue', 'blur'],
  setup(props, { emit }) {
    const { errorMessage, value } = useField(props.name, props.rules, {
      initialValue: props.modelValue,
    });

    const emitValue = (event) => {
      emit('update:modelValue', event.target.value);
    };

    return {
      value,
      errorMessage,
      emitValue,
    };
  },
};
</script>

<style scoped>
textarea {
  width: 100%;
  resize: vertical;
  border: none;
  padding: 0;
}
.p-inputtext.p-invalid.p-component {
  box-shadow: 0 0 0 0.2rem #f44336;
}
.p-inputtext:not(.readonly):enabled:hover {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #a6d5fa;
  border-color: #0094d2;
}
.textarea-wrapper {
  position: relative;
  padding: 1rem 0 0.5rem 0;
}
.loader {
  right: 0.5rem;
  color: #6c757d;
  position: absolute;
  margin-top: 0.5rem;
}
</style>
