<template>
  <div v-if="!isInWatchMode && $tmability.can('create:event', { scenario })" class="p-d-flex p-jc-center p-mb-3">
    <tm-button
      :tooltip="$t('events.new event')"
      type="create"
      icon="pi-plus"
      class="p-mr-3"
      @click="$router.push({ name: 'scenarios.events.create' })"
    />
    <tm-button
      :tooltip="$t('events.import event')"
      type="create"
      icon="pi-arrow-circle-down"
      @click="$router.push({ name: 'scenarios.events.import' })"
    />
  </div>

  <div class="p-grid p-justify-end">
    <div v-if="!isInWatchMode && scenario.level === 'editor'" class="p-col-6">
      <tm-button
        :disabled="!isToBeComputed"
        type="confirm"
        :label="$t('scenarios.compute')"
        @click="computeScenario(scenario.id)"
      />
    </div>

    <div class="p-col-6">
      <tm-split-button
        v-if="!isInWatchMode && scenario.level === 'editor'"
        :disabled="!isToBeSaved"
        :label="$t('scenarios.save')"
        :options="saveButtonOptions"
        @default:clicked="confirmSaveScenarioChanges(scenario.id)"
      />
      <tm-button v-else type="cancel" :label="$t('events.leave')" @click="$router.push({ name: 'scenarios' })" />
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { useStore } from 'vuex';
import { useI18n } from 'vue-i18n';
import useEditMode from '@composables/useEditMode';

const props = defineProps<{
  scenario: TmScenario;
}>();

const store = useStore();
const { t } = useI18n();
const { computeScenario, confirmCancelScenarioChanges, confirmSaveScenarioChanges } = useEditMode(props.scenario.id);

const isInWatchMode = computed(() => store.getters['scenarios/isWatchModeActive'](props.scenario.id));
const isToBeComputed = computed<boolean>(() => store.getters['scenarios/isScenarioToBeComputed'](props.scenario.id));
const isToBeSaved = computed<boolean>(() => store.getters['scenarios/isScenarioToBeSaved'](props.scenario.id));

const saveButtonOptions = computed(() => [
  {
    label: t('scenarios.leave without saving'),
    command: () => confirmCancelScenarioChanges(props.scenario.id, { leaveAfter: true }),
  },
  {
    label: t('scenarios.save and leave'),
    disabled: !isToBeSaved.value,
    command: () => confirmSaveScenarioChanges(props.scenario.id, { leaveAfter: true }),
  },
  {
    label: t('scenarios.delete changes'),
    disabled: !isToBeSaved.value,
    command: () => confirmCancelScenarioChanges(props.scenario.id),
  },
]);
</script>
