<template>
  <div class="p-mb-3">
    {{ $t(`scenarios.date of computation ${isBeingComputed ? 'start' : 'end'}`) }}
    <strong>{{ $d(computationTimestamp, 'full') }}</strong>
  </div>

  <div class="p-grid p-justify-end">
    <div v-if="scenario.level === 'editor'" class="p-col-6">
      <tm-button
        type="confirm"
        :label="$t(`scenarios.${isBeingComputed ? 'stop' : 'delete'} computation`)"
        @click="confirmCancelScenarioChanges(scenario.id, { cancelInProgress: isBeingComputed })"
      />
    </div>
    <div class="p-col-6">
      <tm-split-button
        v-if="scenario.level === 'editor' && !isBeingComputed"
        :label="$t('scenarios.save')"
        :options="saveComputationButtonOptions"
        @default:clicked="confirmSaveScenarioChanges"
      />
      <tm-button v-else type="cancel" :label="$t('events.leave')" @click="switchToOriginalScenario(scenario.id)" />
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { useStore } from 'vuex';
import { useI18n } from 'vue-i18n';
import useEditMode from '@composables/useEditMode';

const props = defineProps<{
  scenario: TmScenario;
}>();

const store = useStore();
const { t } = useI18n();
const { switchToOriginalScenario, confirmCancelScenarioChanges, confirmSaveScenarioChanges } = useEditMode(
  props.scenario.id,
);

const isBeingComputed = computed(() => store.getters['scenarios/isScenarioBeingComputed'](props.scenario.id));

const computationTimestamp = computed(() =>
  store.getters['scenarios/getScenarioComputationTimestamp'](props.scenario.id),
);

const saveComputationButtonOptions = computed(() => [
  {
    label: t('scenarios.save as copy'),
    command: () => confirmSaveScenarioChanges(props.scenario.id, { saveAsCopy: true }),
  },
  {
    label: t('scenarios.save and leave'),
    command: () => confirmSaveScenarioChanges(props.scenario.id, { leaveAfter: true }),
  },
  { label: t('scenarios.leave without saving'), command: () => switchToOriginalScenario(props.scenario.id) },
]);
</script>
