<template>
  <div class="p-grid p-justify-end">
    <div v-if="scenario.level === 'editor'" class="p-col-6">
      <tm-split-button
        :label="$t('scenarios.computation')"
        :options="computationButtonOptions"
        @default:clicked="switchToChangedScenario(scenario.id)"
      />
    </div>

    <div class="p-col-6">
      <tm-button type="cancel" :label="$t('events.leave')" @click="$router.push({ name: 'scenarios' })" />
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { useStore } from 'vuex';
import { useI18n } from 'vue-i18n';
import useEditMode from '@composables/useEditMode';

const props = defineProps<{
  scenario: TmScenario;
}>();

const store = useStore();
const { t } = useI18n();
const { switchToChangedScenario, confirmCancelScenarioChanges } = useEditMode(props.scenario.id);

const isBeingComputed = computed(() => store.getters['scenarios/isScenarioBeingComputed'](props.scenario.id));

const computationButtonOptions = computed(() => [
  {
    label: t(`scenarios.${isBeingComputed.value ? 'stop' : 'delete'} computation`),
    command: () => confirmCancelScenarioChanges(props.scenario.id, { cancelInProgress: isBeingComputed.value }),
  },
]);
</script>
