<template>
  <div class="p-mt-3 p-mb-2">
    <div v-if="ready" class="select-wrapper">
      <prime-multi-select
        v-if="selectedSharing"
        v-model="sharingSelection"
        :options="sharingOptions"
        :option-label="(option) => getLocalizedLabel(option)"
        :placeholder="$t('scenarios.sharing')"
        :show-toggle-all="false"
        data-test="sharing"
      >
        <template #value>
          <i class="ri-filter-line filter-icon" />
          {{ $t('scenarios.sharing') }}
          <prime-badge v-if="sharingSelection.length" :value="sharingSelection.length" />
        </template>
      </prime-multi-select>
      <prime-multi-select
        v-model="datingSelection"
        :options="datingOptions"
        :option-label="(option) => getLocalizedLabel(option)"
        :placeholder="$t('scenarios.date')"
        :show-toggle-all="false"
        data-test="dating"
      >
        <template #value>
          <i class="ri-filter-line filter-icon" />
          {{ $t('scenarios.date') }}
          <prime-badge v-if="datingSelection.length" :value="datingSelection.length" />
        </template>
      </prime-multi-select>
      <prime-multi-select
        v-if="selectedInclusion"
        v-model="inclusionSelection"
        :options="inclusionOptions"
        :option-label="(option) => getLocalizedLabel(option)"
        :placeholder="$t('scenarios.inclusion')"
        :show-toggle-all="false"
        data-test="inclusion"
      >
        <template #value>
          <i class="ri-filter-line filter-icon" />
          {{ $t('scenarios.inclusion') }}
          <prime-badge v-if="inclusionSelection.length" :value="inclusionSelection.length" />
        </template>
      </prime-multi-select>
      <prime-dropdown
        v-model="sortingSelection"
        :options="sortingOptions"
        :placeholder="$t('scenarios.sorting')"
        :option-label="(option) => getLocalizedLabel(option)"
        data-test="sorting"
      >
        <template #option="slotProps">
          <div>{{ getLocalizedLabel(slotProps.option) }}</div>
        </template>
      </prime-dropdown>
    </div>
    <div v-else>
      <div class="p-d-flex p-ai-end p-mb-3">
        <prime-skeleton height="2rem" width="30%" class="p-mr-2" />
        <prime-skeleton height="2rem" width="30%" class="p-mr-2" />
        <prime-skeleton height="2rem" width="30%" class="p-mr-2" />
      </div>
    </div>
  </div>
</template>

<script>
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';
import PrimeMultiSelect from 'primevue/multiselect';
import PrimeDropdown from 'primevue/dropdown';
import PrimeBadge from 'primevue/badge';

export default {
  components: {
    PrimeMultiSelect,
    PrimeDropdown,
    PrimeBadge,
  },
  props: {
    /**
     * Selected sharing items
     */
    selectedSharing: {
      type: Array,
      default: null,
    },
    /**
     * Selected dating items
     */
    selectedDating: {
      type: Array,
      required: true,
    },
    /**
     * Selected inclusion items
     */
    selectedInclusion: {
      type: Array,
      default: null,
    },
    /**
     * Selected sorting item (single)
     */
    selectedSorting: {
      type: Object,
      required: true,
    },
    /**
     * Sharing options to choose from
     */
    sharingOptions: {
      type: Array,
      default: () => [],
    },
    /**
     * Dating options to choose from
     */
    datingOptions: {
      type: Array,
      default: () => [],
    },
    /**
     * Inclusion options to choose from
     */
    inclusionOptions: {
      type: Array,
      default: () => [],
    },
    /**
     * Sorting options to choose from
     */
    sortingOptions: {
      type: Array,
      default: () => [],
    },
    /**
     * Whether the content is ready to be displayed
     * if false - it will display temporal skeleton panels
     */
    ready: {
      type: Boolean,
      default: true,
    },
  },
  /**
   * update:selectedSharing event - updates original selectedSharing model
   *
   * @event update:selectedSharing
   * @property {Array}  selected item list
   */
  /**
   * update:selectedDating event - updates original selectedDating model
   *
   * @event update:selectedDating
   * @property {Array}  selected item list
   */
  /**
   * update:selectedInclusion event - updates original selectedInclusion model
   *
   * @event update:selectedInclusion
   * @property {Array}  selected item list
   */
  /**
   * update:selectedSorting event - updates original selectedSorting model
   *
   * @event update:selectedSorting
   * @property {Object}  selected item (single)
   */
  emits: ['update:selectedSharing', 'update:selectedDating', 'update:selectedInclusion', 'update:selectedSorting'],
  setup(props, { emit }) {
    const { t } = useI18n();

    const sharingSelection = computed({
      get: () => props.selectedSharing,
      set: (newSelection) => emit('update:selectedSharing', newSelection),
    });

    const datingSelection = computed({
      get: () => props.selectedDating,
      set: (newSelection) => emit('update:selectedDating', newSelection),
    });

    const inclusionSelection = computed({
      get: () => props.selectedInclusion,
      set: (newSelection) => emit('update:selectedInclusion', newSelection),
    });

    const sortingSelection = computed({
      get: () => props.selectedSorting,
      set: (newSelection) => emit('update:selectedSorting', newSelection),
    });

    const getLocalizedLabel = (option) => (option.label ? t(option.label) : option);

    return {
      sharingSelection,
      datingSelection,
      inclusionSelection,
      sortingSelection,
      getLocalizedLabel,
    };
  },
};
</script>

<style scoped>
.select-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.select-wrapper > div {
  margin: 0 0.5rem 0.5rem 0;
}
::v-deep(.p-multiselect-token),
::v-deep(.p-multiselect-token-icon) {
  font-size: 0.9rem;
}
::v-deep(.p-multiselect),
::v-deep(.p-dropdown) {
  overflow: hidden;
}
::v-deep(.p-multiselect-label),
::v-deep(.p-dropdown-label.p-inputtext) {
  padding: 0.2rem 0rem 0.2rem 0.5rem !important;
}
::v-deep(.p-multiselect-token) {
  margin: 0.2rem 0 0 0 !important;
  display: flex;
  justify-content: space-between;
}
::v-deep(.p-multiselect-token-label) {
  max-width: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
::v-deep(.p-multiselect-token-icon) {
  margin-left: 0.1rem !important;
}
::v-deep(.p-multiselect-label .filter-icon),
::v-deep(.p-dropdown-label.p-inputtext:before) {
  padding-right: 0.3rem;
  vertical-align: -5%;
}
::v-deep(.p-dropdown-label.p-inputtext:before) {
  font-family: 'remixicon' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  content: '\f160';
  vertical-align: -10%;
}
::v-deep(.p-badge) {
  height: 1rem;
  width: 1rem;
  min-width: 1rem;
  vertical-align: 10%;
  line-height: 1rem;
  margin-left: 0.3rem;
}
</style>
