<template>
  <div>
    <div v-if="ready" class="heading">
      <tm-button v-if="backToRoute" icon="pi-arrow-left" type="back" @click="$router.push({ name: backToRoute })" />
      <slot name="back" />
      <tm-input
        v-model.trim="resourceData.name"
        :placeholder="$t('scenarios.name')"
        :readonly="!hasEditorAccess"
        type="text"
        name="name"
        :rules="rules.name"
        @blur="emitChangedResource()"
      />
      <slot name="icon" />
    </div>
    <tm-heading v-else :text="$t('scenarios.name')" :back-to-route="backToRoute" />

    <tm-tabs v-if="ready" class="p-mt-3">
      <tm-tab-panel :header="$t('scenarios.note')" :filled="!!resourceData.description">
        <tm-textarea
          v-model.trim="resourceData.description"
          :placeholder="$t('scenarios.note')"
          :readonly="!hasEditorAccess"
          :rows="3"
          name="description"
          :rules="rules.description"
          @blur="emitChangedResource()"
        />
      </tm-tab-panel>
      <tm-tab-panel v-if="hasEditorAccess" :header="$t('scenarios.internal note')" :filled="!!resourceData.note">
        <tm-textarea
          v-model.trim="resourceData.note"
          :placeholder="$t('scenarios.internal note')"
          :rows="3"
          name="note"
          :rules="rules.note"
          @blur="emitChangedResource()"
      /></tm-tab-panel>
    </tm-tabs>
    <div v-else>
      <div class="p-d-flex p-ai-end">
        <prime-skeleton height="3rem" width="50%" class="p-mr-1" />
        <prime-skeleton height="3rem" width="50%" />
      </div>
    </div>
  </div>
</template>

<script>
import { ref, watch } from 'vue';
import { useForm } from 'vee-validate';

export default {
  props: {
    /**
     * Whether the entire form is valid
     */
    valid: {
      type: Boolean,
      default: false,
    },
    /**
     * Indicates editor user access for the parent scenario
     */
    hasEditorAccess: {
      type: Boolean,
      default: true,
    },
    /**
     * Resource model object - that is to be edited
     */
    resource: {
      type: Object,
      required: true,
    },
    /**
     * Name of the route to go back to via 'back' button
     * if not set - the button will not be displayed at all
     */
    backToRoute: {
      type: String,
      default: null,
    },
    /**
     * Object containing vee-validate rules strings with input names as keys
     */
    rules: {
      type: Object,
      default: () => ({
        name: 'required',
      }),
    },
    /**
     * Whether the content is ready to be displayed
     * if false - it will display temporal skeleton panels
     */
    ready: {
      type: Boolean,
      default: true,
    },
  },
  /**
   * update:valid event - updates validation prop
   *
   * @event update:valid
   * @property {Boolean} updated validation state
   */
  /**
   * update event - updates resource object
   *
   * @event update:resource
   * @property {Object} updated resource data
   */
  /**
   * change event - emits change event of any form element
   *
   * @event change
   * @property {Object} updated resource data
   */
  emits: ['update:resource', 'update:valid', 'change'],
  setup(props, { emit }) {
    const { validate, meta, setValues } = useForm();

    const resourceData = ref({ name: '', description: '', note: '' });

    const haveDataChanged = () => {
      for (const [key, value] of Object.entries(resourceData.value)) {
        if (typeof props.resource[key] !== 'undefined' && value !== props.resource[key]) return true;
      }
    };

    const emitChangedResource = () => {
      if (!meta.value.valid) return;
      if (!haveDataChanged()) return;
      emit('change', { ...props.resource, ...resourceData.value });
    };

    watch(
      resourceData,
      async (updatedData) => {
        await validate();
        emit('update:valid', meta.value.valid);
        emit('update:resource', { ...props.resource, ...updatedData });
      },
      { deep: true },
    );

    watch(
      () => props.resource,
      ({ name = '', description = '', note = '' } = {}) => {
        if (!props.ready) return;
        setValues({ name, description, note });
        // set props one by one to avoid infinite watch cycling
        resourceData.value.name = name;
        resourceData.value.description = description;
        resourceData.value.note = note;
      },
      { immediate: true },
    );

    return {
      resourceData,
      emitChangedResource,
    };
  },
};
</script>

<style scoped>
.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heading ::v-deep(.p-button-secondary) {
  padding: 0.5rem 1rem;
  margin-left: 1rem;
}
</style>
