<template>
  <form>
    <tm-input
      v-model="credentials.username"
      :placeholder="$t('users.email/username')"
      type="text"
      autocomplete="username"
      name="email_username"
      rules="required"
      :borderless="false"
      class="p-mb-3"
      @keyup.enter="login"
    />
    <tm-input
      v-model="credentials.password"
      :placeholder="$t('users.password')"
      type="password"
      autocomplete="current-password"
      name="password"
      rules="required|min:5"
      :borderless="false"
      class="p-mb-3"
      @keyup.enter="login"
    />
    <tm-button type="confirm" :label="$t('users.log in')" @click="login" />
  </form>
</template>

<script>
import { ref } from 'vue';
import { useForm } from 'vee-validate';
import useAuth from '@composables/useAuth';

export default {
  setup() {
    const { validate, meta } = useForm();
    const { login: loginUser } = useAuth();

    const credentials = ref({
      username: '',
      password: '',
    });

    const login = async () => {
      await validate();
      if (!meta.value.valid) return;

      loginUser(credentials.value);
    };

    return {
      credentials,
      login,
    };
  },
};
</script>
