<template>
  <div>
    <span>{{ $t('modifications.generator location') }}</span>
  </div>
  <template v-if="isInitialized">
    <div class="p-grid p-mt-2">
      <div class="p-col-12">
        <tm-input-selector
          :selected="generator"
          name="generator"
          type="array"
          rules="required"
          :label="$t('modifications.generator')"
          border-color="blue"
          :clearable="true"
          :active="phase === 'generatorCreate'"
          @clear:clicked="clearGenerator()"
          @label:clicked="clearGenerator()"
        />
      </div>
    </div>

    <div class="p-mt-2">
      <span>{{ $t('modifications.traffic nodes') }}</span>
    </div>
    <div class="p-grid p-mt-2">
      <div class="p-col-12">
        <tm-input-selector
          :selected="nodes"
          :disabled="phase === 'generatorCreate'"
          name="nodes"
          type="array"
          rules="required"
          :label="$t('modifications.node')"
          border-color="yellow"
          :clearable="true"
          :active="phase === 'nodeSelect'"
          @clear:clicked="clearNodes()"
          @label:clicked="clearNodes()"
        />
      </div>
    </div>
  </template>
  <template v-else>
    <div>{{ $t('map.loading interaction') }}</div>
  </template>
</template>

<script>
import { ref, watch, markRaw, toRef } from 'vue';

import { singleClick } from 'ol/events/condition';
import { useSelect, useHover, useDraw, useModify, addStyleOptions } from 'vuemap';

import { useMainMap } from '@components/map/map';
import { useSetMapMode, useInteractionDataEvaluator } from '@composables/useCommonHelpers';
import useLayerSourceData from '@composables/useLayerSourceData';
import { MP_GENERATOR_DRAW, MP_GENERATOR_NEW_NODES } from '@keys/index';
import {
  modelLinksDisabledStyle,
  modelNodesPrimaryStyle,
  modelNodesSelectedStyle,
  modelGeneratorCreatedStyle,
} from '../map/layer-style';
import { createFeatureFromId } from '../map/layerModelNodesUtils';
import { createPointFeature } from '../map/layerCommonUtils';

export default {
  props: {
    generator: {
      type: Array,
      default: () => [],
    },
    nodes: {
      type: Array,
      default: () => [],
    },
    linksLayer: {
      type: Object,
      required: true,
    },
    nodesLayer: {
      type: Object,
      required: true,
    },
    newGeneratorLayer: {
      type: Object,
      required: true,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  emits: ['update'],
  setup(props, { emit }) {
    const { setMapMode } = useSetMapMode();
    const nodesData = useLayerSourceData(props.nodesLayer.id);
    const { isInitialized, initInteraction } = useInteractionDataEvaluator({
      props,
      fields: ['generator', 'nodes'],
      refreshStateFn: refreshState,
      dataSources: [nodesData],
      validatorFn: validateData,
    });

    const map = useMainMap();
    const newGeneratorsFeatures = toRef(props.newGeneratorLayer, 'features');
    const phase = ref(null);

    const linksDisabledContextStyle = addStyleOptions(modelLinksDisabledStyle, props.linksLayer.context.getByFeature);
    const drawMapState = {
      layers: [
        {
          layer: props.linksLayer,
          style: linksDisabledContextStyle,
        },
      ],
    };
    map.manager.createMapState(MP_GENERATOR_DRAW, drawMapState);

    const nodeSelectMapState = {
      layers: [
        {
          layer: props.linksLayer,
          style: linksDisabledContextStyle,
        },
        {
          layer: props.nodesLayer,
          style: modelNodesPrimaryStyle,
        },
        {
          layer: props.newGeneratorLayer,
          style: modelGeneratorCreatedStyle,
        },
      ],
    };
    map.manager.createMapState(MP_GENERATOR_NEW_NODES, nodeSelectMapState);

    let _generatorJustCreated = false; // workaround to stop select from removing generator straight after its drawn (didnt find way to stop event propagation, maybe OL bug)
    // Draw interaction to create generator point
    const { setActive: setDrawActive } = useDraw(map, {
      initiallyActive: false,
      olDrawOptions: {
        source: props.newGeneratorLayer.source,
        type: 'Point',
        style: modelGeneratorCreatedStyle,
      },
      onDrawEnd: (event) => {
        _generatorJustCreated = true;
        emitGenerator(event.feature); // feature not yet propaget to createdGeneratorFeatures ref
      },
    });

    // Modify interaction pointing on generator layer, so point can be mover
    if (!props.disabled)
      useModify(map, {
        olModifyOptions: { hitDetection: true, source: props.newGeneratorLayer.source, style: () => null },
        onModifyEnd: () => emitGenerator(newGeneratorsFeatures.value[0]),
      });

    // Select interaction pointing on generator layer, meant only as onclick generator removal (no simple feature onclick option available :( )
    const { setActive: setGeneratorRemovalActive, clearSelect: clearGeneratorRemovalSelect } = useSelect(map, {
      initiallyActive: false,
      useSelectLayer: false,
      olSelectOptions: {
        layers: (layer) => {
          if (layer !== props.newGeneratorLayer.olObject) return false;
          if (_generatorJustCreated) {
            _generatorJustCreated = false;
            return false;
          }
          return true;
        },
        toggleCondition: singleClick,
      },
      onselectFunction: () => clearGenerator(),
    });

    const { resetSelect: resetNodeSelect, selectedFeaturesIds: nodesIds } = useSelect(map, {
      olSelectOptions: {
        layers: (layer) => layer === props.nodesLayer.olObject || layer.className_ === 'select-layer',
        toggleCondition: singleClick,
        style: modelNodesSelectedStyle,
        filter: (feature, layer) => {
          if (props.disabled) return false; // Passive mode
          if (props.nodes.includes(feature.getId())) return layer.className_ === 'select-layer'; // Deselection from select layer
          return phase.value === 'nodeSelect';
        },
      },
    });

    const { triggerHover } = useHover(map, {
      mode: 'replacer',
      useSelectLayer: false,
      layerFilter: (layer) => {
        if (layer.className_ === 'select-layer') return true;
        if (layer === props.nodesLayer.olObject) return phase.value === 'nodeSelect';
        return layer === props.newGeneratorLayer.olObject;
      },
      hitTolerance: 3,
    });

    watch(nodesIds, (newNodes, oldNodes) => {
      if (newNodes.length !== oldNodes.length) emitNodes(newNodes);
    });

    const activateGeneratorInteractions = (drawActive) => {
      if (props.disabled) return;
      setDrawActive(drawActive);
      setGeneratorRemovalActive(!drawActive);
    };

    function startGeneratorCreation() {
      removeFeatures();
      activateGeneratorInteractions(true);
      phase.value = 'generatorCreate';
      setMapMode(MP_GENERATOR_DRAW);
    }

    function startNodeSelect() {
      activateGeneratorInteractions(false);
      phase.value = 'nodeSelect';
      setMapMode(MP_GENERATOR_NEW_NODES);
    }

    const clearGenerator = () => emitGenerator();
    const clearNodes = () => emitNodes();

    function removeFeatures() {
      newGeneratorsFeatures.value = [];
      clearGeneratorRemovalSelect();
      resetNodeSelect([]);
    }

    function addGeneratorFeatureFromProps() {
      const generatorFeature = createPointFeature({
        geometry: { coordinates: props.generator },
      });
      newGeneratorsFeatures.value = [generatorFeature];
    }

    function addNodesFeaturesFromProps() {
      const nodeFeatures = [];
      for (const node of props.nodes) {
        const feature = createFeatureFromId(node, nodesData.getFeatureData);
        feature.set('type', 'selected');
        nodeFeatures.push(markRaw(feature));
      }
      resetNodeSelect(nodeFeatures);
    }

    function emitGenerator(feature) {
      emit('update', {
        generator: feature ? feature.getGeometry().getCoordinates() : [],
        ...(!feature && { nodes: [] }), // emit empty nodes if no feature
      });
    }

    function emitNodes(nodes = []) {
      emit('update', { nodes });
    }

    function generatorCoordsChanged(compareCoords) {
      const currentF = newGeneratorsFeatures.value[0];
      if (!currentF) return true;
      const fCoords = currentF.getGeometry()?.getCoordinates();
      return JSON.stringify(fCoords) !== JSON.stringify(compareCoords);
    }

    function refreshState() {
      if (!props.generator.length) return startGeneratorCreation();
      if (generatorCoordsChanged(props.generator)) addGeneratorFeatureFromProps();
      addNodesFeaturesFromProps();
      startNodeSelect();
      triggerHover(20);
    }

    function validateData({ validateList, onValidationEnd }) {
      const validList = validateList({
        items: props.nodes,
        testFn: nodesData.getFeatureData,
        warningMsg: 'modifications.node not found',
      });

      onValidationEnd(() => emit('update', { nodes: validList }), 'modifications.interaction partially invalid');
    }

    initInteraction();

    return {
      isInitialized,
      phase,
      clearGenerator,
      clearNodes,
    };
  },
};
</script>
