<template>
  <div>
    <span>{{ $t('modifications.node to edit') }}</span>
  </div>
  <template v-if="isInitialized">
    <div class="p-grid p-mt-2">
      <div class="p-col-6">
        <tm-input-selector
          :selected="node"
          :type="node !== null ? typeof node : 'number'"
          name="node"
          rules="required"
          :label="$t('modifications.node')"
          border-color="yellow"
          :clearable="true"
          :active="phase === 'nodeSelect'"
          @clear:clicked="clearAllInputs"
          @label:clicked="clearAllInputs"
        />
      </div>
    </div>

    <node-transit-table
      v-show="tableShown"
      v-model:collapsed="tableCollapsed"
      class="p-my-3"
      :disabled="tableDisabled"
      :node-id="node"
      :neighbour-links="linksByDirection"
      @row:click="displayNodeTurnRestrictionOnMap"
    />

    <div>
      <span>{{ $t('modifications.cross directions to edit') }}</span>
    </div>
    <div class="p-grid p-mt-2">
      <div class="p-col-6">
        <tm-input-selector
          :selected="linkFrom"
          :type="linkFrom !== null ? typeof linkFrom : 'number'"
          :disabled="!node || !tableCollapsed"
          name="linkFrom"
          rules="required"
          :label="$t('modifications.source')"
          border-color="green"
          :clearable="true"
          :active="phase === 'linkFrom'"
          @clear:clicked="reselectLink('linkFrom')"
          @label:clicked="reselectLink('linkFrom')"
        />
      </div>
      <div class="p-col-6">
        <tm-input-selector
          :selected="linkTo"
          :type="linkTo !== null ? typeof linkTo : 'number'"
          :disabled="!node || !tableCollapsed"
          name="linkTo"
          rules="required"
          :label="$t('modifications.target')"
          border-color="red"
          :clearable="true"
          :active="phase === 'linkTo'"
          @clear:clicked="reselectLink('linkTo')"
          @label:clicked="reselectLink('linkTo')"
        />
      </div>
    </div>
  </template>
  <template v-else>
    <div>{{ $t('map.loading interaction') }}</div>
  </template>
</template>

<script>
import { ref, watch, markRaw, computed, toRef } from 'vue';
import { singleClick } from 'ol/events/condition';
import { useSelect, useHover, watchRender, addStyleOptions } from 'vuemap';
import { useMainMap } from '@components/map/map';
import { useSetMapMode, useInteractionDataEvaluator } from '@composables/useCommonHelpers';
import useLayerSourceData, { getNodeNeighboringLinksData } from '@composables/useLayerSourceData';
import { MP_NODE_SELECT, MP_NODE_LINKS } from '@keys/index';
import {
  modelLinksDisabledStyle,
  modelNodesPrimaryStyle,
  modelNodesDisabledStyle,
  modelNodesSelectedStyle,
  modelNeighboringLinksStyle,
} from '../map/layer-style';
import { createFeatureFromId } from '../map/layerModelNodesUtils';
import { createLineStringFeature } from '../map/layerCommonUtils';
import NodeTransitTable from './NodeTransitTable.vue';

export default {
  components: {
    NodeTransitTable,
  },
  props: {
    node: {
      type: [Number, String],
      default: null,
    },
    linkFrom: {
      type: [Number, String],
      default: null,
    },
    linkTo: {
      type: [Number, String],
      default: null,
    },
    linksLayer: {
      type: Object,
      required: true,
    },
    nodesLayer: {
      type: Object,
      required: true,
    },
    neighborsLayer: {
      type: Object,
      required: true,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  /**
   * feature:selected event - notifies about the selected node feature
   *
   * @event feature:selected
   * @property {Object} type (DTA specific argument)
   */
  emits: ['update', 'feature:selected'],
  setup(props, { emit }) {
    const nodesData = useLayerSourceData(props.nodesLayer.id);
    const { setMapMode } = useSetMapMode();
    const { isInitialized, initInteraction } = useInteractionDataEvaluator({
      props,
      fields: ['node', 'linkFrom', 'linkTo'],
      refreshStateFn: refreshState,
      dataSources: [nodesData],
      validatorFn: validateData,
    });

    const map = useMainMap();
    const neighborsFeatures = toRef(props.neighborsLayer, 'features');
    const phase = ref(null);
    const tableDisabled = computed(() => !props.node);
    const tableShown = computed(() => !props.linkFrom && !props.linkTo);
    const tableCollapsed = ref(true);
    const tableLinksSelected = ref([]);

    // Force map redraw on table related state change (when links visibility is not changed)
    watchRender(
      [tableCollapsed, tableLinksSelected, phase, () => props.linkTo, () => props.linkFrom],
      props.neighborsLayer,
    );

    const linksDisabledContextStyle = addStyleOptions(modelLinksDisabledStyle, props.linksLayer.context.getByFeature);
    map.manager.createMapState(MP_NODE_SELECT, {
      layers: [
        {
          layer: props.linksLayer,
          style: linksDisabledContextStyle,
        },
        {
          layer: props.nodesLayer,
          style: modelNodesPrimaryStyle,
        },
      ],
    });

    const isDirectionLink = (testD, featD) => tableCollapsed.value && phase.value === testD && testD === featD;
    function getLinkStyleProps(feature) {
      const featureId = feature.getId();
      const { direction, isHovered } = feature.getProperties('direction');
      const isLinkTo = props.linkTo === featureId;
      const isLinkFrom = props.linkFrom === featureId;
      return {
        isLinkTo,
        isLinkFrom,
        isDirectionLink: isDirectionLink('linkFrom', direction) || isDirectionLink('linkTo', direction),
        isSelectedLink: isLinkFrom || isLinkTo,
        isTabled: !tableCollapsed.value,
        isTabledHighlighted: !tableCollapsed.value && tableLinksSelected.value.includes(featureId),
        isHovered,
      };
    }
    map.manager.createMapState(MP_NODE_LINKS, {
      layers: [
        {
          layer: props.linksLayer,
          style: linksDisabledContextStyle,
        },
        {
          layer: props.nodesLayer,
          style: modelNodesDisabledStyle,
        },
        {
          layer: props.neighborsLayer,
          style: addStyleOptions(modelNeighboringLinksStyle, getLinkStyleProps),
        },
      ],
    }); // Preset must be readded always, otherwise wrong old styleFn closure (with previous instance data) is cached

    const displayNodeTurnRestrictionOnMap = (nodeTurnRestriction) => {
      tableLinksSelected.value = nodeTurnRestriction ? [nodeTurnRestriction.linkFrom, nodeTurnRestriction.linkTo] : [];
    };

    const {
      resetSelect: resetNodeSelect,
      selectedFeatures: selectedNode,
      clearSelect: clearNodeSelect,
    } = useSelect(map, {
      initiallyActive: true,
      olSelectOptions: {
        layers: [props.nodesLayer.olObject],
        toggleCondition: singleClick,
        style: modelNodesSelectedStyle,
        hitTolerance: 3, // tolerance so hovered feature is clickable
        filter: (feature) => {
          if (props.disabled) return false; // Passive mode
          if (phase.value === 'nodeSelect') return true;
          return feature.getId() === props.node; // Allow only deselection when in later phases
        },
      },
      mode: 'replacer',
      replacerFunction: (selectedNode) => {
        const feature = createFeatureFromId(selectedNode.getId(), nodesData.getFeatureData);
        feature.set('type', 'selected');
        return feature;
      },
    });

    const {
      setActive: setLinksSelectActive,
      resetSelect: resetLinksSelect,
      lastSelectEvent: linkSelectEvent,
    } = useSelect(map, {
      initiallyActive: false,
      olSelectOptions: {
        layers: [props.neighborsLayer.olObject],
        toggleCondition: singleClick,
        hitTolerance: 3, // tolerance so hovered feature is clickable
        style: null,
        filter: (feature) => {
          if (props.disabled) return false; // Passive mode
          if (!tableCollapsed.value) return false; // Dont allow link selection when table is opened
          if (phase.value === feature.get('direction')) return true;
          return feature.getId() === props.linkFrom || feature.getId() === props.linkTo; // Allow only deselection when in modification phase
        },
      },
    });

    const { triggerHover } = useHover(map, {
      mode: 'replacer',
      layerFilter: (layer) => {
        if (!tableCollapsed.value) return false; // No hovering if node info table expanded
        if (phase.value === 'nodeSelect') return layer === props.nodesLayer.olObject;
        return layer.className_ === 'select-layer' || layer === props.neighborsLayer.olObject;
      },
      hitTolerance: 3,
    });

    watch(selectedNode, (f, oldF) => {
      if (f.length === oldF.length) return;

      if (f.length === 0) clearAllInputs();
      else updateInput('node', f[0].getId());

      const nodeType = f[0]?.get('ctrl_type') || null;
      emit('feature:selected', { type: nodeType });
    });

    watch(linkSelectEvent, (event) => {
      if (event.deselected.length > 0) {
        const [feature] = event.deselected;
        reselectLink(feature.get('direction'));
      } else {
        const [feature] = event.selected;
        const direction = feature.get('direction');
        updateInput(direction, feature.getId());
      }
    });

    let buildedNode = null;
    function buildNeighbouringLinks(nodeId) {
      if (buildedNode === nodeId && neighborsFeatures.value.length > 0) return;
      const featuresData = getNodeNeighboringLinksData(nodeId);
      const sourcePropName = 'from_node_id';
      const features = featuresData.map((fData) => {
        const feature = createLineStringFeature(fData, { idProperty: 'edge_id' });
        const direction = fData.properties[sourcePropName] === nodeId ? 'linkTo' : 'linkFrom';
        feature.set('direction', direction);
        return markRaw(feature);
      });
      neighborsFeatures.value = features;
      buildedNode = nodeId;
    }

    function selectNode() {
      phase.value = 'nodeSelect';
      setMapMode(MP_NODE_SELECT);
    }

    function selectLink(direction) {
      setLinksSelectActive(true);
      phase.value = direction;
      setMapMode(MP_NODE_LINKS);
    }

    function finishSelection() {
      setLinksSelectActive(true);
      phase.value = 'selected';
      setMapMode(MP_NODE_LINKS);
    }

    function clearLinksSelection() {
      resetLinksSelect();
      neighborsFeatures.value = [];
      setLinksSelectActive(false);
    }

    function reselectLink(direction) {
      updateInput(direction, null);
    }

    function clearAllInputs() {
      emit('update', { node: null, linkFrom: null, linkTo: null });
    }

    function updateInput(key, value) {
      emit('update', { [key]: value });
    }

    function refreshState() {
      if (!props.node) {
        clearNodeSelect();
        clearLinksSelection();
        selectNode();
      } else {
        if (selectedNode.value.length !== 1 || selectedNode.value[0].getId() !== props.node) {
          const nodeFeature = createFeatureFromId(props.node, nodesData.getFeatureData);
          nodeFeature.set('type', 'selected');
          resetNodeSelect([nodeFeature]);
        }
        buildNeighbouringLinks(props.node);

        const linkFeatures =
          props.linkFrom || props.linkTo
            ? neighborsFeatures.value.filter((feature) => {
                const featureId = feature.getId();
                return featureId === props.linkFrom || featureId === props.linkTo;
              })
            : [];
        resetLinksSelect(linkFeatures);

        if (!props.linkFrom && !props.linkTo) selectLink('linkFrom');
        else if (props.linkFrom && props.linkTo) finishSelection();
        else {
          const missingDirection = props.linkFrom ? 'linkTo' : 'linkFrom';
          selectLink(missingDirection);
        }
      }
      triggerHover(20);
    }

    function validateData({ isValid, validateItem, validateList, onValidationEnd }) {
      validateItem({ id: props.node, testFn: nodesData.getFeatureData, warningMsg: 'modifications.node not found' });
      const output = { node: isValid.value ? props.node : null, linkFrom: null, linkTo: null };

      if (isValid.value) {
        const nodeLinksData = getNodeNeighboringLinksData(props.node);
        const nodeLinksIds = nodeLinksData.map((item) => item.properties.edge_id);
        const items = ['linkFrom', 'linkTo'].map((type) => ({ type, id: props[type] }));
        validateList({
          items,
          testFn: (id) => nodeLinksIds.includes(id),
          warningMsg: 'modifications.nodes link not found',
          onValidItem: ({ type, id }) => (output[type] = id),
        });
      }

      onValidationEnd(() => emit('update', output), 'modifications.interaction invalid');
    }

    const linksByDirection = computed(() => {
      const fromLinks = [];
      const toLinks = [];

      neighborsFeatures.value.forEach((linkFeature) => {
        const featureProps = linkFeature.getProperties();
        if (featureProps.isvalid === false) return; // TODO: invalid features might not be returned by the API in the future

        const linkId = linkFeature.getId();
        featureProps.direction === 'linkFrom' ? fromLinks.push(linkId) : toLinks.push(linkId);
      });

      return { fromLinks, toLinks };
    });

    initInteraction();

    return {
      isInitialized,
      tableDisabled,
      tableShown,
      tableCollapsed,
      phase,
      clearAllInputs,
      reselectLink,
      displayNodeTurnRestrictionOnMap,
      linksByDirection,
    };
  },
};
</script>

<style scoped></style>
