<template>
  <div>
    <span>{{ $t('modifications.connected nodes') }}</span>
  </div>
  <template v-if="isInitialized">
    <div class="p-grid p-mt-2">
      <div class="p-col-6 p-pb-0">
        <tm-input-selector
          :selected="source"
          :type="source !== null ? typeof source : 'number'"
          name="source"
          rules="required"
          :label="$t('modifications.source')"
          border-color="green"
          :clearable="true"
          :active="creationPhase === 'source'"
          @clear:clicked="reselectNode('source')"
          @label:clicked="reselectNode('source')"
        />
      </div>
      <div class="p-col-6 p-pb-0">
        <tm-input-selector
          :selected="target"
          :type="target !== null ? typeof target : 'number'"
          name="target"
          rules="required"
          :label="$t('modifications.target')"
          border-color="red"
          :clearable="true"
          :active="creationPhase === 'target'"
          @clear:clicked="reselectNode('target')"
          @label:clicked="reselectNode('target')"
        />
      </div>
    </div>
  </template>
  <template v-else>
    <div>{{ $t('map.loading interaction') }}</div>
  </template>
</template>

<script>
import { watch, ref, markRaw, computed, unref, toRef } from 'vue';

import { singleClick } from 'ol/events/condition';
import { useSelect, useModify, useHover, addStyleOptions } from 'vuemap';

import { useMainMap } from '@components/map/map';
import { useSetMapMode, useInteractionDataEvaluator } from '@composables/useCommonHelpers';
import useLayerSourceData from '@composables/useLayerSourceData';
import { MP_LINK_NODES, MP_LINK_MODIFY } from '@keys/index';
import {
  modelLinksDisabledStyle,
  modelNodesPrimaryStyle,
  modelNodesDisabledStyle,
  modelNodesSelectedStyle,
  modelLinksActiveStyle,
} from '../map/layer-style';
import { createFeatureFromPoints, createFeatureFromCoordinates } from '../map/layerModelLinksUtils';
import { createFeatureFromId } from '../map/layerModelNodesUtils';

export default {
  props: {
    modId: {
      type: Number,
      default: null,
    },
    source: {
      type: [Number, String],
      default: null,
    },
    target: {
      type: [Number, String],
      default: null,
    },
    coordinates: {
      type: Array,
      default: () => [],
    },
    linksLayer: {
      type: Object,
      required: true,
    },
    nodesLayer: {
      type: Object,
      required: true,
    },
    newLinkLayer: {
      type: Object,
      required: true,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  emits: ['update'],
  setup(props, { emit }) {
    const creationPhase = ref('notStarted');
    const { setMapMode } = useSetMapMode();
    const nodesData = useLayerSourceData(props.nodesLayer.id);
    const { isInitialized, initInteraction } = useInteractionDataEvaluator({
      props,
      fields: ['source', 'target', 'coordinates'],
      refreshStateFn: refreshState,
      dataSources: [nodesData],
      validatorFn: validateData,
    });

    const map = useMainMap();
    const newLinkFeatures = toRef(props.newLinkLayer, 'features');

    function extraFeatureEditingStyleFilter(feature, ...args) {
      const featureId = feature.getId();
      if (typeof featureId === 'number' || feature.getProperties().modification.id !== props.modId)
        return modelLinksDisabledStyle(feature, ...args);
      return [];
    }
    const linksDisabledContextStyle = addStyleOptions(
      extraFeatureEditingStyleFilter,
      props.linksLayer.context.getByFeature,
    );
    map.manager.createMapState(MP_LINK_NODES, {
      layers: [
        {
          layer: props.linksLayer,
          style: linksDisabledContextStyle,
        },
        {
          layer: props.nodesLayer,
          style: modelNodesPrimaryStyle,
        },
      ],
    });

    map.manager.createMapState(MP_LINK_MODIFY, {
      layers: [
        {
          layer: props.linksLayer,
          style: linksDisabledContextStyle,
        },
        {
          layer: props.nodesLayer,
          style: modelNodesDisabledStyle,
        },
        {
          layer: props.newLinkLayer,
          style: modelLinksActiveStyle,
        },
      ],
    });

    const {
      lastSelectEvent: nodeSelectEvent,
      resetSelect: resetNodeSelect,
      selectedFeatures: selectedNodes,
    } = useSelect(map, {
      olSelectOptions: {
        layers: (layer) => layer === props.nodesLayer.olObject || layer.className_ === 'select-layer',
        toggleCondition: singleClick,
        style: modelNodesSelectedStyle,
        filter: (feature, layer) => {
          if (props.disabled) return false; // Passive mode
          if (feature.getId() === props.source || feature.getId() === props.target)
            return layer.className_ === 'select-layer'; // Deselection from select layer
          return creationPhase.value !== 'modification';
        },
      },
    });

    const { setActive: _setModifyActive } = useModify(map, {
      olModifyOptions: { source: props.newLinkLayer.source },
      onModifyEnd: emitCoordinates,
    });
    const setModifyActive = (active) => {
      if (props.disabled) _setModifyActive(false);
      else _setModifyActive(active);
    };

    const { triggerHover } = useHover(map, {
      mode: 'replacer',
      replacerFunction: (f) => {
        const feature = createFeatureFromId(f.getId(), nodesData.getFeatureData);
        feature.set('type', f.get('type'));
        return feature;
      },
      layerFilter: (layer) => {
        if (creationPhase.value === 'modification') return layer.className_ === 'select-layer';
        return layer === props.nodesLayer.olObject || layer.className_ === 'select-layer';
      },
      hitTolerance: 3,
    });

    watch(nodeSelectEvent, (event) => {
      if (event.deselected.length > 0) {
        const [feature] = event.deselected;
        const type = feature.get('type');
        reselectNode(type);
      } else {
        const features = event.target.getFeatures();
        const selectedFeature = features.item(features.getLength() - 1);
        const type = creationPhase.value;
        emitNode(type, selectedFeature.getId());
      }
    });

    function startNodeSelect(type = 'source') {
      setModifyActive(false);
      setMapMode(MP_LINK_NODES);
      creationPhase.value = type;
    }

    function reselectNode(nodeKey = 'source') {
      emitNode(nodeKey, null);
    }

    function startLinkModification(coordinates) {
      creationPhase.value = 'modification';
      setMapMode(MP_LINK_MODIFY);
      buildLinkFeature(coordinates);
      setModifyActive(true);
    }

    const keydNodes = computed(() => ({
      source: selectedNodes.value.find((node) => node.getId() === props.source),
      target: selectedNodes.value.find((node) => node.getId() === props.target),
    }));

    function buildLinkFeature(coordinates = []) {
      const feature =
        coordinates && coordinates.length > 1
          ? createFeatureFromCoordinates(coordinates)
          : createFeatureFromPoints([keydNodes.value.source, keydNodes.value.target]);
      newLinkFeatures.value = [markRaw(feature)];
      emitCoordinates();
    }

    function getCreatedLinkCoords() {
      const feature = unref(newLinkFeatures.value)[0]; // occasional bug, feature wrapped in two proxies
      return feature?.getGeometry().getCoordinates();
    }

    function emitCoordinates() {
      emit('update', { coordinates: getCreatedLinkCoords() });
    }

    function emitNode(type, value) {
      emit('update', { [type]: value, coordinates: null });
    }

    function refreshState() {
      if (!props.source && !props.target) {
        resetNodeSelect([]);
        startNodeSelect();
      } else {
        const nodeFeatures = [];
        for (const type of ['source', 'target']) {
          if (props[type]) {
            const feature = createFeatureFromId(props[type], nodesData.getFeatureData);
            feature.set('type', type);
            nodeFeatures.push(markRaw(feature));
          }
        }
        resetNodeSelect(nodeFeatures);

        if (!(props.source && props.target)) {
          const missingDirection = props.source ? 'target' : 'source';
          startNodeSelect(missingDirection);
        } else if (
          creationPhase.value !== 'modification' ||
          JSON.stringify(getCreatedLinkCoords()) !== JSON.stringify(props.coordinates)
        ) {
          startLinkModification(props.coordinates);
        } else setModifyActive(true);
      }

      triggerHover(20);
    }

    function validateData({ validateList, onValidationEnd }) {
      const items = ['source', 'target'].map((type) => ({ type, id: props[type] }));
      validateList({
        items,
        testFn: nodesData.getFeatureData,
        warningMsg: 'modifications.links node not found',
      });

      onValidationEnd(
        () => emit('update', { source: null, target: null, coordinates: null }),
        'modifications.interaction invalid',
      );
    }

    initInteraction();

    return {
      creationPhase,
      reselectNode,
      isInitialized,
    };
  },
};
</script>

<style scoped>
.node-source {
  font-weight: bold;
  color: #3ec71d;
}
.node-target {
  font-weight: bold;
  color: #f05a28;
}
</style>
