<template>
  <div>
    <span>{{ $t('modifications.links to edit') }}</span>
  </div>
  <div class="p-mt-2">
    <template v-if="isInitialized">
      <tm-input-selector
        name="links"
        type="array"
        rules="required"
        :selected="linkId"
        :label="$t('modifications.link')"
        border-color="yellow"
        :clearable="true"
        :active="true"
        @clear:clicked="clearSelection"
      />
    </template>
    <template v-else>
      <div>{{ $t('map.loading interaction') }}</div>
    </template>
  </div>
</template>

<script>
import { watch } from 'vue';

import { singleClick } from 'ol/events/condition';
import { useSelect, useHover, addStyleOptions } from 'vuemap';

import { useMainMap } from '@components/map/map';
import { useSetMapMode, useInteractionDataEvaluator } from '@composables/useCommonHelpers';
import useLayerSourceData from '@composables/useLayerSourceData';
import { MP_LINK_SELECT } from '@keys/index';
import { modelLinksSelectorStyle, modelLinksSelectedStyle } from '../map/layer-style';
import { createFeatureFromId, createFeatureFromFeature } from '../map/layerModelLinksUtils';

export default {
  props: {
    linkId: {
      type: Array,
      default: () => [],
    },
    linksLayer: {
      type: Object,
      required: true,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  /**
   * feature:selected event - notifies about the last feature selected
   *
   * @event feature:selected
   * @property {Object} last feature speed, capacity + all selected features count
   */
  emits: ['update', 'feature:selected'],
  setup(props, { emit }) {
    const linksData = useLayerSourceData(props.linksLayer.id);
    useSetMapMode({ setOnMount: MP_LINK_SELECT });
    const { isInitialized, initInteraction } = useInteractionDataEvaluator({
      props,
      fields: ['linkId'],
      refreshStateFn: refreshState,
      dataSources: [linksData],
      validatorFn: validateData,
    });

    const map = useMainMap();
    map.manager.createMapState(MP_LINK_SELECT, {
      layers: [
        {
          layer: props.linksLayer,
          style: addStyleOptions(modelLinksSelectorStyle, props.linksLayer.context.getByFeature),
        },
      ],
    });

    // Setup select composable
    const { selectedFeaturesIds, selectedFeatures, resetSelect } = useSelect(map, {
      olSelectOptions: {
        layers: [props.linksLayer.olObject],
        style: addStyleOptions(modelLinksSelectedStyle, props.linksLayer.context.getByFeature),
        toggleCondition: singleClick,
        hitTolerance: 3, // tolerance so hovered feature is clickable
        filter: () => !props.disabled,
      },
      mode: 'replacer',
      replacerFunction: (f) => createFeatureFromFeature(f, linksData.getFeatureData),
    });

    // Map hover visualization
    const { triggerHover } = useHover(map, {
      mode: 'replacer',
      replacerFunction: (f) => {
        const feature = createFeatureFromFeature(f, linksData.getFeatureData);
        if (selectedFeaturesIds.value.includes(feature.getId())) feature.set('isSelected', true);
        return feature;
      },
      layerFilter: [props.linksLayer.olObject],
      hitTolerance: 3,
    });

    watch(selectedFeatures, (features) => {
      const lastFeature = features.length ? features[features.length - 1] : null;
      const hasLanes = lastFeature && lastFeature.get('lanes') !== undefined;
      emit('update', { linkId: selectedFeaturesIds.value });
      emit('feature:selected', {
        count: features.length,
        lastSpeed: lastFeature ? lastFeature.get('free_speed') : null,
        lastCapacity: lastFeature ? Math.round(lastFeature.get('capacity')) : null,
        ...(hasLanes && { lastLanes: lastFeature.get('lanes') }),
        linkId: selectedFeaturesIds.value,
      });
      triggerHover(20);
    });

    const clearSelection = () => resetSelect([]);

    function refreshState(featureIds = props.linkId) {
      // Get features which are already selected in modification
      const features = featureIds.map((featureId) => createFeatureFromId(featureId, linksData.getFeatureData));
      resetSelect(features);
    }

    function validateData({ validateList, onValidationEnd }) {
      const validList = validateList({
        items: props.linkId,
        testFn: linksData.getFeatureData,
        warningMsg: 'modifications.link not found',
      });

      onValidationEnd(() => refreshState(validList), 'modifications.interaction partially invalid');
    }

    initInteraction();

    return {
      clearSelection,
      isInitialized,
    };
  },
};
</script>

<style scoped>
.text-yellow {
  background-color: #f8f004;
}
</style>
