<template>
  <div>
    <span>{{ $t('modifications.generator to edit') }}</span>
  </div>
  <template v-if="isInitialized">
    <div class="p-grid p-mt-2">
      <div class="p-col-12">
        <tm-input-selector
          :selected="generator"
          name="generator"
          type="array"
          rules="required"
          :label="$t('modifications.generator')"
          border-color="yellow"
          :clearable="true"
          :active="phase === 'generatorSelect'"
          @clear:clicked="clearGenerator()"
          @label:clicked="clearGenerator()"
        />
      </div>
    </div>

    <div class="p-mt-2">
      <span>{{ $t('modifications.traffic nodes') }}</span>
    </div>
    <div class="p-grid p-mt-2">
      <div class="p-col-12">
        <tm-input-selector
          :selected="nodes"
          :disabled="phase === 'generatorSelect'"
          name="nodes"
          type="array"
          rules="required"
          :label="$t('modifications.node')"
          border-color="green"
          :active="phase === 'nodesSelect'"
          :clearable="false"
          :restorable-to="originalGeneratorNodes"
          @restore:clicked="restoreNodes()"
          @label:clicked="restoreNodes()"
        />
      </div>
    </div>
  </template>
  <template v-else>
    <div>{{ $t('map.loading interaction') }}</div>
  </template>
</template>

<script>
import { ref, watch, markRaw, computed } from 'vue';

import { singleClick } from 'ol/events/condition';
import { useSelect, useHover, addStyleOptions } from 'vuemap';

import { useMainMap } from '@components/map/map';
import { useSetMapMode, useInteractionDataEvaluator } from '@composables/useCommonHelpers';
import useLayerSourceData from '@composables/useLayerSourceData';
import { MP_GENERATOR_SELECT, MP_GENERATOR_EXIST_NODES } from '@keys/index';
import {
  modelLinksDisabledStyle,
  modelNodesPrimaryStyle,
  modelNodesSelectedStyle,
  modelGeneratorPrimaryStyle,
  modelGeneratorSelectedStyle,
} from '../map/layer-style';
import { createFeatureFromId as createNodeFeatureById } from '../map/layerModelNodesUtils';
import { createFeatureFromId as createGeneratorFeatureById } from '../map/layerModelGeneratorsUtils';

export default {
  props: {
    generator: {
      type: Array,
      default: () => [],
    },
    nodes: {
      type: Array,
      default: () => [],
    },
    linksLayer: {
      type: Object,
      required: true,
    },
    nodesLayer: {
      type: Object,
      required: true,
    },
    generatorsLayer: {
      type: Object,
      required: true,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  emits: ['update'],
  setup(props, { emit }) {
    const nodesData = useLayerSourceData(props.nodesLayer.id);
    const generatorsData = useLayerSourceData(props.generatorsLayer.id);
    const { setMapMode } = useSetMapMode();
    const { isInitialized, initInteraction } = useInteractionDataEvaluator({
      props,
      fields: ['generator', 'nodes'],
      refreshStateFn: refreshState,
      dataSources: [nodesData, generatorsData],
      validatorFn: validateData,
    });

    const map = useMainMap();
    const phase = ref(null);

    const linksDisabledContextStyle = addStyleOptions(modelLinksDisabledStyle, props.linksLayer.context.getByFeature);
    map.manager.createMapState(MP_GENERATOR_SELECT, {
      layers: [
        {
          layer: props.linksLayer,
          style: linksDisabledContextStyle,
        },
        {
          layer: props.generatorsLayer,
          style: modelGeneratorPrimaryStyle,
        },
      ],
    });

    map.manager.createMapState(MP_GENERATOR_EXIST_NODES, {
      layers: [
        {
          layer: props.linksLayer,
          style: linksDisabledContextStyle,
        },
        {
          layer: props.nodesLayer,
          style: modelNodesPrimaryStyle,
        },
      ],
    });

    // Select interaction pointing on generator layer, meant only as onclick generator removal (no simple feature onclick option available :( )
    const {
      lastSelectEvent: generatorEvent,
      selectedFeatures: generator,
      resetSelect: resetGeneratorSelect,
      olLayer: olGSelect,
    } = useSelect(map, {
      olSelectOptions: {
        layers: (layer) => [props.generatorsLayer.olObject, olGSelect].includes(layer),
        toggleCondition: singleClick,
        style: modelGeneratorSelectedStyle,
        filter: (feature, layer) => {
          if (props.disabled) return false; // Passive mode
          if (phase.value === 'nodesSelect') return layer === olGSelect; // Deselection from select layer
          return phase.value === 'generatorSelect';
        },
      },
    });

    watch(generatorEvent, () => {
      if (generator.value.length === 0) {
        return emitGenerator();
      }
      const [feature] = generator.value;
      emitGenerator(feature.getId(), getGeneratorNodes(feature), {
        inTraffic: Math.round(parseFloat(feature.get('incoming_trips'))),
        outTraffic: Math.round(parseFloat(feature.get('outgoing_trips'))),
      });
    });

    const {
      resetSelect: resetNodeSelect,
      selectedFeaturesIds: nodesIds,
      olLayer: olNSelect,
    } = useSelect(map, {
      olSelectOptions: {
        layers: (layer) => [props.nodesLayer.olObject, olNSelect].includes(layer),
        toggleCondition: singleClick,
        style: modelNodesSelectedStyle,
        filter: () => !props.disabled,
      },
    });

    watch(nodesIds, (newNodes, oldNodes) => {
      if (newNodes.length !== oldNodes.length) emitNodes(newNodes);
    });

    const { triggerHover } = useHover(map, {
      mode: 'replacer',
      layerFilter: [props.generatorsLayer.olObject, olGSelect, props.nodesLayer.olObject, olNSelect],
      hitTolerance: 3,
    });

    function startGeneratorSelection() {
      removeFeatures();
      phase.value = 'generatorSelect';
      setMapMode(MP_GENERATOR_SELECT);
    }

    function startNodeSelect() {
      phase.value = 'nodesSelect';
      setMapMode(MP_GENERATOR_EXIST_NODES);
    }

    const clearGenerator = () => emitGenerator();
    const restoreNodes = () => emitNodes(originalGeneratorNodes.value);
    const originalGeneratorNodes = computed(() => (generator.value[0] ? getGeneratorNodes(generator.value[0]) : []));

    function getGeneratorNodes(generatorFeature) {
      return generatorFeature.get('node_id');
    }

    function removeFeatures() {
      resetGeneratorSelect([]);
      resetNodeSelect([]);
    }

    function addGeneratorFeatureFromProps() {
      const feature = createGeneratorFeatureById(props.generator[0], generatorsData.getFeatureData);
      resetGeneratorSelect([markRaw(feature)]);
    }

    function addNodesFeaturesFromProps() {
      const nodeFeatures = [];
      for (const node of props.nodes) {
        const feature = createNodeFeatureById(node, nodesData.getFeatureData);
        feature.set('type', 'generatorSelected');
        nodeFeatures.push(markRaw(feature));
      }
      resetNodeSelect(nodeFeatures);
    }

    const toArray = (value) => (Array.isArray(value) ? value : [value]);

    function emitNodes(value = []) {
      emit('update', { nodes: toArray(value) });
    }

    function emitGenerator(generator = [], nodes = [], otherData = {}) {
      emit('update', { generator: toArray(generator), nodes: toArray(nodes), ...otherData });
    }

    function refreshState() {
      if (props.generator.length === 0) return startGeneratorSelection();
      addGeneratorFeatureFromProps();
      addNodesFeaturesFromProps();
      startNodeSelect();
      triggerHover(20);
    }

    function validateData({ isValid, validateItem, validateList, onValidationEnd }) {
      const genId = props.generator[0];
      validateItem({
        id: genId,
        testFn: generatorsData.getFeatureData,
        warningMsg: 'modifications.generator not found',
      });
      const output = { generator: isValid.value ? [genId] : [], nodes: [] };

      if (isValid.value) {
        const validIds = validateList({
          items: props.nodes,
          testFn: nodesData.getFeatureData,
          warningMsg: 'modifications.node not found',
        });
        if (!isValid.value) output.nodes = validIds;
      }
      onValidationEnd(() => emit('update', output), 'modifications.interaction invalid');
    }

    initInteraction();

    return {
      isInitialized,
      phase,
      clearGenerator,
      restoreNodes,
      originalGeneratorNodes,
    };
  },
};
</script>
