<template>
  <div :class="{ 'p-disabled': disabled }">
    <map-interaction-wrapper
      :interaction="interaction"
      v-bind="interactionProps"
      :disabled="disabled"
      @update="onPropUpdate"
      @[existingModeEventKey]="changeNodeType"
    />
    <tm-divider />
    <tm-date-range
      v-model:from="nodeModification.dateFrom"
      v-model:to="nodeModification.dateTo"
      v-tooltip="$t('modifications.value defined by model')"
      :disabled="true"
    />

    <template v-if="modMode === 'existing'">
      <tm-selection
        v-model:selected="selectedNodePreset"
        :options="nodePresets"
        option-value="name"
        type="radio"
        class="p-mt-3"
        @update:selected="applyNodePreset"
      />

      <tm-slider
        v-if="selectedNodeType !== 'none'"
        v-model:selected="nodeModification.capacity"
        suffix="v/h"
        :label="$t('modifications.capacity')"
        :range="{ min: 0, max: 3000 }"
        :direct-input="true"
      />
    </template>
  </div>
</template>

<script>
import { ref, computed, shallowReactive } from 'vue';
import MapInteractionWrapper from '@components/map/MapInteractionWrapper.vue';
import useDate from '@composables/useDate';
import { useModificationLayer } from '@components/map/layersModel';
import { useDTALinksLayer, useDTANodesLayer } from '@components/map/layersModelDTA';
import ModificationNodeSelector from './ModificationNodeSelector.vue';
import ModificationNodeCreator from './ModificationNodeCreator.vue';
import useModificationView, { useInteractionProps } from '@composables/useModificationView';

export default {
  components: { MapInteractionWrapper },
  props: {
    /**
     * Fetched modification object
     */
    modification: {
      type: Object,
      required: true,
    },
    /**
     * Mode of modification - whether to modify existing or new modification
     */
    modMode: {
      type: String,
      required: true,
      validator: (value) => ['new', 'existing'].includes(value),
    },
    /**
     * Whether the interaction with form fields should be disabled
     */
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  /**
   * update:modification event - updates the original modification model
   *
   * @event update:modification
   * @property {Object} updated modification model
   */
  emits: ['update:modification'],
  setup(props, { emit }) {
    const useLinksLayer = useDTALinksLayer;
    const useNodesLayer = useDTANodesLayer;
    const interactions = shallowReactive({
      existing: {
        component: ModificationNodeSelector,
        // TODO without manual unwrap out of setup inject called when app initialized here?
        layers: [
          { layer: useLinksLayer(), key: 'linksLayer' },
          { layer: useNodesLayer(), key: 'nodesLayer' },
          { layer: useModificationLayer(), key: 'neighborsLayer' },
        ],
        loadingMessageKey: 'modifications.preparing node selection',
      },
      new: {
        component: ModificationNodeCreator,
        layers: [
          { layer: useLinksLayer(), key: 'linksLayer' },
          { layer: useNodesLayer(), key: 'nodesLayer' },
          { layer: useModificationLayer(), key: 'newNodeLayer' },
        ],
        loadingMessageKey: 'modifications.preparing node creator',
      },
    });

    const interaction = computed(() => interactions[props.modMode]);
    const interactionProps = useInteractionProps(props, interaction);

    const existingModeEventKey = computed(() => (props.modMode === 'existing' ? 'feature:selected' : null));
    const nodeModification = ref({});
    const { watchModification, updateModification, onPropUpdate } = useModificationView(nodeModification, emit, props);
    const { getModelMonday } = useDate();

    const nodeModificationDefaults = {
      dateFrom: getModelMonday({ hour: 7 }),
      dateTo: getModelMonday({ hour: 10 }),
    };

    const newModeDefaults = {
      ...nodeModificationDefaults,
      node: [],
    };

    const existingModeDefaults = {
      ...nodeModificationDefaults,
      node: null,
      linkFrom: null,
      linkTo: null,
      capacity: 700,
    };

    const dtaNodePresets = [
      { name: 'closure', label: 'modifications.closure', capacity: 0 },
      { name: 'uncontrolled', label: 'modifications.ordinary uncontrolled', capacity: 700 },
      { name: 'controlled', label: 'modifications.ordinary controlled', capacity: 1000 },
      { name: 'custom', label: 'modifications.custom' },
    ];

    const noneTypeNodePresets = [
      { name: 'closure', label: 'modifications.closure', capacity: 0 },
      { name: 'custom', label: 'modifications.free passage', capacity: -1 },
    ];

    const selectedNodeType = ref(null);
    const presetField = computed(() => 'capacity');
    const nodePresets = computed(() => (selectedNodeType.value === 'none' ? noneTypeNodePresets : dtaNodePresets));
    const selectedNodePreset = ref(_getCalculatedNodePreset());

    function _getCalculatedNodePreset(updatedModification = {}) {
      const field = presetField.value;
      const exactNodePreset = nodePresets.value.find((el) => el[field] === updatedModification[field]);
      return exactNodePreset ? exactNodePreset.name : 'custom';
    }

    const applyNodePreset = (type) => {
      if (type === 'custom') return;
      const field = presetField.value;
      nodeModification.value[field] = nodePresets.value.find((el) => el.name === type)[field];
    };

    const changeNodeType = ({ type = null } = {}) => {
      selectedNodeType.value = type;
    };

    watchModification((updatedModification) => {
      updateModification(updatedModification, props.modMode === 'new' ? newModeDefaults : existingModeDefaults);
      selectedNodePreset.value = _getCalculatedNodePreset(updatedModification);
    });

    return {
      existingModeEventKey,
      nodeModification,
      interaction,
      interactionProps,
      onPropUpdate,
      nodePresets,
      selectedNodePreset,
      applyNodePreset,
      selectedNodeType,
      changeNodeType,
    };
  },
};
</script>
