<template>
  <div :class="{ 'p-disabled': disabled }">
    <map-interaction-wrapper
      :interaction="interaction"
      v-bind="interactionProps"
      :disabled="disabled"
      @update="onPropUpdate"
    />
    <tm-divider />
    <tm-date-range
      v-model:from="generatorModification.dateFrom"
      v-model:to="generatorModification.dateTo"
      v-tooltip="$t('modifications.value defined by model')"
      :disabled="true"
      class="p-mb-2"
    />

    <div>
      <span> {{ $t('modifications.intensity') }}</span>
    </div>
    <div class="p-grid p-mt-2">
      <div class="p-col-12">
        <tm-input-selector
          v-model:selected="generatorModification.inTraffic"
          name="inTraffic"
          rules="required"
          :direct-input="true"
          suffix="v/h"
          :label="$t('modifications.incoming traffic')"
          :clearable="modMode === 'new'"
          :restorable-to="modMode === 'new' ? null : trafficDefaults.inTraffic"
        />
      </div>
      <div class="p-col-12">
        <tm-input-selector
          v-model:selected="generatorModification.outTraffic"
          name="outTraffic"
          rules="required"
          :direct-input="true"
          suffix="v/h"
          :label="$t('modifications.outgoing traffic')"
          :clearable="modMode === 'new'"
          :restorable-to="modMode === 'new' ? null : trafficDefaults.outTraffic"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { ref, computed, shallowReactive } from 'vue';
import MapInteractionWrapper from '@components/map/MapInteractionWrapper.vue';
import useDate from '@composables/useDate';
import { useModificationLayer } from '@components/map/layersModel';
import { useDTALinksLayer, useDTANodesLayer, useDTAGeneratorsLayer } from '@components/map/layersModelDTA';
import ModificationGeneratorCreator from './ModificationGeneratorCreator.vue';
import ModificationGeneratorEditor from './ModificationGeneratorEditor.vue';
import useModificationView, { useInteractionProps } from '@composables/useModificationView';

export default {
  components: { MapInteractionWrapper },
  props: {
    /**
     * Fetched modification object
     */
    modification: {
      type: Object,
      required: true,
    },
    /**
     * Mode of modification - whether to modify existing or new modification
     */
    modMode: {
      type: String,
      required: true,
      validator: (value) => ['new', 'existing'].includes(value),
    },
    /**
     * Whether the interaction with form fields should be disabled
     */
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  /**
   * update:modification event - updates the original modification model
   *
   * @event update:modification
   * @property {Object} updated modification model
   */
  emits: ['update:modification'],
  setup(props, { emit }) {
    const useLinksLayer = useDTALinksLayer;
    const useNodesLayer = useDTANodesLayer;
    const useGeneratorsLayer = useDTAGeneratorsLayer;
    const interactions = shallowReactive({
      new: {
        component: ModificationGeneratorCreator,
        layers: [
          { layer: useLinksLayer(), key: 'linksLayer' },
          { layer: useNodesLayer(), key: 'nodesLayer' },
          { layer: useModificationLayer(), key: 'newGeneratorLayer' },
        ],
        loadingMessageKey: 'modifications.preparing generator creator',
      },
      existing: {
        component: ModificationGeneratorEditor,
        layers: [
          { layer: useLinksLayer(), key: 'linksLayer' },
          { layer: useNodesLayer(), key: 'nodesLayer' },
          { layer: useGeneratorsLayer(), key: 'generatorsLayer' },
        ],
        loadingMessageKey: 'modifications.preparing generator creator',
      },
    });
    const interaction = computed(() => interactions[props.modMode]);
    const interactionProps = useInteractionProps(props, interaction);

    const generatorModification = ref({});
    const { watchModification, updateModification, onPropUpdate } = useModificationView(
      generatorModification,
      emit,
      props,
    );
    const { getModelMonday } = useDate();

    const generatorModificationDefaults = {
      dateFrom: getModelMonday({ hour: 7 }),
      dateTo: getModelMonday({ hour: 10 }),
      generator: [],
      nodes: [],
      inTraffic: 100,
      outTraffic: 100,
    };

    const trafficDefaults = ref({
      inTraffic: generatorModificationDefaults.inTraffic,
      outTraffic: generatorModificationDefaults.outTraffic,
    });

    function _updateTrafficDefaults() {
      trafficDefaults.value.inTraffic = generatorModification.value.inTraffic;
      trafficDefaults.value.outTraffic = generatorModification.value.outTraffic;
    }

    watchModification((updatedModification) => {
      const hasGeneratorChanged =
        JSON.stringify(updatedModification.generator) != JSON.stringify(generatorModification.value.generator);

      updateModification(updatedModification, generatorModificationDefaults);

      if (hasGeneratorChanged) _updateTrafficDefaults();
    });

    return {
      generatorModification,
      interaction,
      interactionProps,
      onPropUpdate,
      trafficDefaults,
    };
  },
};
</script>

<style scoped></style>
