<template>
  <div>
    <span>{{ $t('modifications.node location') }}</span>
  </div>
  <div class="p-grid p-mt-2">
    <div class="p-col-12">
      <tm-input-selector
        :selected="node"
        name="node"
        type="array"
        rules="required"
        :label="$t('modifications.node')"
        border-color="blue"
        :clearable="true"
        @clear:clicked="clearNode()"
        @label:clicked="clearNode()"
      />
    </div>
  </div>
</template>

<script>
import { watch, toRef } from 'vue';

import { singleClick } from 'ol/events/condition';
import { useSelect, useHover, useDraw, useModify, addStyleOptions, styleFilter } from 'vuemap';

import { useMainMap } from '@components/map/map';
import { useSetMapMode } from '@composables/useCommonHelpers';
import { MP_NODE_DRAW } from '@keys/index';
import { modelLinksDisabledStyle, modelNodesDisabledStyle, modelNodeCreatedStyle } from '../map/layer-style';
import { createPointFeature } from '../map/layerCommonUtils';

export default {
  props: {
    /**
     * Coordinations of the selected node as array
     * e.g. [1484702.5067507387, 6406448.442333383]
     */
    node: {
      type: Array,
      default: () => [],
    },
    /**
     * Modification id
     */
    modId: {
      type: Number,
      default: null,
    },
    linksLayer: {
      type: Object,
      required: true,
    },
    nodesLayer: {
      type: Object,
      required: true,
    },
    newNodeLayer: {
      type: Object,
      required: true,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  emits: ['update'],
  setup(props, { emit }) {
    useSetMapMode({ setOnMount: MP_NODE_DRAW });
    const map = useMainMap();
    const newNodeFeatures = toRef(props.newNodeLayer, 'features');

    const newNodeFilter = (feature) => {
      const featureId = feature.getId();
      return typeof featureId === 'number' || feature.getProperties().modification.id !== props.modId;
    };
    map.manager.createMapState(MP_NODE_DRAW, {
      layers: [
        {
          layer: props.linksLayer,
          style: addStyleOptions(modelLinksDisabledStyle, props.linksLayer.context.getByFeature),
        },
        {
          layer: props.nodesLayer,
          style: styleFilter(modelNodesDisabledStyle, newNodeFilter),
        },
        {
          layer: props.newNodeLayer,
          style: modelNodeCreatedStyle,
        },
      ],
    });

    let _nodeJustCreated = false; // workaround to stop select from removing node straight after its drawn (didnt find way to stop event propagation, maybe OL bug)

    // Draw interaction to create node point
    const { setActive: setDrawActive } = useDraw(map, {
      initiallyActive: false,
      olDrawOptions: {
        source: props.newNodeLayer.source,
        type: 'Point',
        style: modelNodeCreatedStyle,
      },
      onDrawEnd: (event) => {
        _nodeJustCreated = true;
        emitNode(event.feature);
      },
    });

    // Modify interaction pointing on node layer, so point can be mover
    if (!props.disabled)
      useModify(map, {
        olModifyOptions: { hitDetection: true, source: props.newNodeLayer.source, style: () => null },
        onModifyEnd: () => emitNode(newNodeFeatures.value[0]),
      });

    // Select interaction pointing on node layer, meant only as onclick node removal (no simple feature onclick option available :( )
    const { setActive: setNodeRemovalActive, clearSelect: clearNodeRemovalSelect } = useSelect(map, {
      initiallyActive: false,
      useSelectLayer: false,
      olSelectOptions: {
        layers: (layer) => {
          if (layer !== props.newNodeLayer.olObject) return false;
          if (_nodeJustCreated) {
            _nodeJustCreated = false;
            return false;
          }
          return true;
        },
        toggleCondition: singleClick,
      },
      onselectFunction: () => clearNode(),
    });

    const { triggerHover } = useHover(map, {
      mode: 'replacer',
      useSelectLayer: false,
      layerFilter: (layer) => {
        if (layer.className_ === 'select-layer') return true;
        return props.newNodeLayer.olObject === layer;
      },
      hitTolerance: 3,
    });

    const activateNodeInteractions = (drawActive) => {
      if (props.disabled) return;
      setDrawActive(drawActive);
      setNodeRemovalActive(!drawActive);
    };

    function startNodeCreation() {
      removeFeatures();
      activateNodeInteractions(true);
    }

    const clearNode = () => emitNode();

    function removeFeatures() {
      newNodeFeatures.value = [];
      clearNodeRemovalSelect();
    }

    function addNodeFeatureFromProps() {
      const nodeFeature = createPointFeature({
        geometry: { coordinates: props.node },
      });
      newNodeFeatures.value = [nodeFeature];
    }

    function emitNode(feature) {
      emit('update', { node: feature?.getGeometry()?.getCoordinates() || [] });
    }

    function nodeCoordsChanged(compareCoords) {
      const currentF = newNodeFeatures.value[0];
      if (!currentF) return true;
      const fCoords = currentF.getGeometry()?.getCoordinates();
      return JSON.stringify(fCoords) !== JSON.stringify(compareCoords);
    }

    function refreshState() {
      if (!props.node.length) return startNodeCreation();
      if (nodeCoordsChanged(props.node)) addNodeFeatureFromProps();
      activateNodeInteractions(false);
      triggerHover(20);
    }

    watch(() => props.node, refreshState, { immediate: true });

    return {
      clearNode,
    };
  },
};
</script>
