<template>
  <tm-fieldset
    v-model:collapsed="isTableCollapsed"
    :legend="$t('modifications.node transit table')"
    :toggleable="!disabled"
  >
    <template v-if="!isDataUnreliable">
      <tm-selection v-model:selected="selectedEventFilters" :options="eventFilterGroup" />
      <div class="p-my-2"></div>

      <div class="p-mt-3 table-wrapper">
        <table>
          <tr>
            <th>{{ $t('modifications.link from ID') }}</th>
            <th>{{ $t('modifications.link to ID') }}</th>
            <th>{{ $t('modifications.cost') }}</th>
            <th>{{ $t('modifications.model event') }}</th>
            <th>{{ $t('modifications.from') }}</th>
            <th>{{ $t('modifications.to') }}</th>
            <th>{{ $t('modifications.included') }}</th>
          </tr>
          <tr
            v-for="row in filteredNodeTransit"
            :key="row.id"
            :class="{ selected: row === selectedRow }"
            @click="toggleSelectedRow(row)"
          >
            <td>{{ row.linkFrom }}</td>
            <td>{{ row.linkTo }}</td>
            <td>
              {{ row.value === -1 ? $t('modifications.unlimited') : row.value + $t('map.vehicles per hour') }}
            </td>
            <td>
              {{ row.isBaseModel ? $t('modifications.basic model') : row.eventName }}
              <span v-if="row.isExtraNode">(extra node)</span>
              <!-- TODO: should we mark extra nodes somehow? -->
            </td>
            <template v-if="!row.isBaseModel">
              <td>{{ $tmdate.formatScenarioDate(row.dateFrom) }}</td>
              <td>{{ $tmdate.formatScenarioDate(row.dateTo) }}</td>
              <td>{{ row.eventIncluded ? $t('modifications.yes') : $t('modifications.no') }}</td>
            </template>
            <template v-else>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </template>
          </tr>
        </table>
      </div>
    </template>
    <span v-else>{{ $t('modifications.node table invalid data') }}</span>
  </tm-fieldset>
</template>

<script>
import { ref, toRef, computed, inject } from 'vue';
import useFilters from '@composables/useFilters';
import useNodeTransit from '@composables/useNodeTransit';

export default {
  props: {
    /**
     * Current Node ID
     */
    nodeId: {
      type: [Number, String],
      required: false,
      default: null,
    },
    /**
     * Disabled state of table (fold and cannot be expanded)
     */
    disabled: {
      type: Boolean,
      default: false,
    },
    /**
     * Collapsed state of table
     */
    collapsed: {
      type: Boolean,
      default: true,
    },
    /**
     * Neighbour Links separated by their direction
     * { fromLinks = [], toLinks = [] }
     */
    neighbourLinks: {
      type: Object,
      default: () => {},
    },
  },
  /**
   * update:modification event - updates the original modification model
   *
   * @event row:click
   * @property {Number} selected row ID
   */
  emits: ['row:click', 'update:collapsed'],
  setup(props, { emit }) {
    const scenarioId = inject('scenarioId');
    const eventId = inject('eventId');

    const { nodeTransit, isDataUnreliable } = useNodeTransit(
      scenarioId,
      toRef(props, 'nodeId'),
      toRef(props, 'neighbourLinks'),
    );

    const isTableCollapsed = computed({
      get: () => props.collapsed || props.disabled,
      set: (val) => emit('update:collapsed', val),
    });

    const eventFilterGroup = [
      { name: 'model', field: 'isBaseModel', value: true, label: 'modifications.basic model' },
      { name: 'current', field: 'eventId', value: parseInt(eventId, 10), label: 'modifications.this event' },
      {
        name: 'others',
        field: 'eventId',
        operator: 'NEQ',
        value: parseInt(eventId, 10),
        operator2: 'NEQ',
        value2: null,
        label: 'modifications.other events',
      },
    ];
    const selectedEventFilters = ref([]);

    const costFilterGroup = [
      { name: 'free', field: 'value', value: 0, label: 'modifications.free transit' },
      {
        name: 'delay',
        field: 'value',
        value: 0,
        operator: 'GT',
        label: 'modifications.delay',
      },
      { name: 'closure', field: 'value', value: -1, label: 'modifications.closure' },
    ];
    const selectedCostFilters = ref([]);

    const { filteredItems: filteredNodeTransit } = useFilters({
      items: nodeTransit,
      cacheKey: 'nodeTransit',
      selectedFilters: {
        event: selectedEventFilters,
        cost: selectedCostFilters,
      },
    });

    const selectedRow = ref(null);
    function toggleSelectedRow(row) {
      const isSelected = row && row !== selectedRow.value;
      selectedRow.value = isSelected ? row : null;
      emit('row:click', selectedRow.value);
    }

    return {
      eventFilterGroup,
      selectedEventFilters,
      costFilterGroup,
      selectedCostFilters,
      filteredNodeTransit,
      isTableCollapsed,
      toggleSelectedRow,
      selectedRow,
      isDataUnreliable,
    };
  },
};
</script>

<style scoped>
.table-wrapper {
  width: 100%;
  overflow-x: scroll;
  border: 2px solid #c1c1c1;
  padding: 1rem;
}
.table-wrapper table {
  white-space: nowrap;
  border-collapse: collapse;
  margin-right: 1rem;
}
.table-wrapper table tr:not(:first-of-type) {
  cursor: pointer;
}
.table-wrapper table tr:not(:first-of-type):hover {
  background-color: #66bfe4;
}
.table-wrapper table th {
  font-weight: normal;
  border-bottom: solid #c1c1c1;
}
.table-wrapper table td,
.table-wrapper table th {
  text-align: center;
  padding: 0.3rem 1rem;
  border-right: 1px solid #c1c1c1;
}
.table-wrapper table tr:first-child td,
.table-wrapper table tr:first-child th {
  border-top: 0;
}
.table-wrapper table tr:last-child td {
  border-bottom: 0;
}
.table-wrapper table tr td:last-child,
.table-wrapper table tr th:last-child {
  border-right: 0;
}
.selected {
  background-color: #66bfe4;
}
</style>
