<template>
  <transition-group v-if="ready" name="panellist">
    <tm-panel-list-item
      v-for="item in items"
      :key="item.id"
      v-model:selected="selectedItems"
      :type="type"
      :item="item"
      :access="access"
      :access-event-object="accessEventObject"
      :watch-mode="watchMode"
      :data-test="type"
      :data-test-id="item.id"
      :is-active="activatedItemId == item.id"
      @checked="$emit('item:checked', { item, checked: $event })"
      @clicked="switchActiveItem($event)"
      @action:clicked="$emit('item:action:clicked', { item, action: $event })"
    />
  </transition-group>
  <div v-else>
    <prime-skeleton height="3rem" class="p-mb-3" />
    <prime-skeleton height="3rem" class="p-mb-3" />
    <prime-skeleton height="3rem" />
  </div>
</template>

<script>
import { computed } from 'vue';
import TmPanelListItem from '@components/views/PanelListItem.vue';

export default {
  components: {
    TmPanelListItem,
  },
  props: {
    /**
     * Type representing the view to witch the list belongs
     */
    type: {
      type: String,
      default: 'basic',
      validator: (value) => {
        return ['scenarios', 'events', 'modifications', 'imports', 'basic'].includes(value);
      },
    },
    /**
     * Array of items to display in the list
     */
    items: {
      type: Array,
      default: () => [],
    },
    /**
     * default active item Id
     */
    activatedItemId: {
      type: [String, Number],
      default: null,
    },
    /**
     * User access to this list of items
     */
    access: {
      type: String,
      default: '',
    },
    /**
     * Event object - only needed for type 'modifications' and used for authorization
     */
    accessEventObject: {
      type: Object,
      default: () => {},
    },
    /**
     * Whether to display the item list only for watching (and disallow editing)
     * (reflects the edit mode and cumputing state)
     */
    watchMode: {
      type: Boolean,
      default: true,
    },
    /**
     * Whether the content is ready to be displayed
     * if false - it will display temporal skeleton panels
     */
    ready: {
      type: Boolean,
      default: true,
    },
    /**
     * List of selected items
     */
    selected: {
      type: Array,
      default: () => [],
    },
  },
  /**
   * item:activated event - signals, that specific list item was activated
   *
   * @event item:activated
   * @property {String} Id of the activated item
   *
   * item:deactivated event - signals, that active list item was deactivated
   *
   * @event item:deactivated
   * @property {String} Id of the deactivated item
   *
   * item:checked event - signals, that specific list item was checked
   *
   * @event item:checked
   * @property {Object} object with the item itself and its checked state
   *
   * item:action:clicked event - signals, that an item action was checked on specific list item
   *
   * @event item:action:clicked
   * @property {Object} object with the item itself and its clicked action name
   *
   * item:clicked event - signals, that an item has been clicked on
   *
   * @event item:clicked
   * @property {Object} object with the clicked item itself
   *
   * update:selected event - updates original selected model
   *
   * @event update:selected
   * @property {Array} list od selected items
   */
  emits: [
    'item:activated',
    'item:deactivated',
    'item:checked',
    'item:clicked',
    'item:action:clicked',
    'update:selected',
  ],
  setup(props, { emit }) {
    const switchActiveItem = (item) => {
      emit('item:clicked', item);
      if (item.id != props.activatedItemId) emit('item:activated', item);
      else emit('item:deactivated', item);
    };

    const selectedItems = computed({
      get: () => props.selected || [],
      set: (selected) => emit('update:selected', selected),
    });

    return {
      switchActiveItem,
      selectedItems,
    };
  },
};
</script>

<style scoped>
.panellist-enter-active,
.panellist-leave-active {
  transition: all 0.1s ease;
}
.panellist-enter-from,
.panellist-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
::v-deep(.p-panel-header) {
  cursor: pointer;
  position: relative;
}
</style>
