<template>
  <div class="p-grid p-mb-3">
    <div class="p-col-12 p-fluid">
      <tm-selection
        v-model:selected="selectedUsers"
        type="autocomplete-multiple"
        option-value="username"
        :options="filteredUsers"
        :placeholder="!selectedUsers.length ? $t('accesses.add users') : ''"
        @autocomplete="searchForUser"
      />
    </div>
  </div>

  <div v-if="selectedUsers.length" class="p-grid">
    <div class="p-col-6">
      <prime-dropdown
        v-model="newUserRole"
        append-to="body"
        :options="availableUserRoles"
        option-label="label"
        option-value="value"
        class="dropdown-wide"
      >
        <template #option="slotProps">
          <div>{{ slotProps.option.label }}</div>
        </template>
      </prime-dropdown>
    </div>
    <div class="p-col-6">
      <tm-button type="confirm" :label="$t('accesses.add user')" @click="grantAccessForSelectedUsers" />
    </div>
  </div>
  <template v-else>
    <div v-for="user in assignedUsers" :key="user.id" class="p-grid p-ai-center">
      <div class="p-col-1">
        <prime-avatar icon="pi pi-user" class="p-mr-2 user-avatar" shape="circle" />
      </div>
      <div class="p-col-7 user-label">
        <strong>{{ user.username }}</strong> <br />
        {{ user.email }}
      </div>
      <div class="p-col-4">
        <div v-if="user.id === scenario.authorUserId" class="option-nonclicable p-text-right">
          {{ $t('accesses.owner') }}
        </div>
        <prime-dropdown
          v-else
          v-model="user.level"
          append-to="body"
          :options="availableUserRolesWithDeleteOption"
          option-label="label"
          option-value="value"
          class="dropdown-wide"
        >
          <template #option="slotProps">
            <div
              v-if="slotProps.option.value === 'delete'"
              class="option-clickable"
              @click.stop="removeUserAccess(user.id)"
            >
              {{ $t('accesses.remove') }}
            </div>
            <div v-else @click="changeUserAccess(user.id, slotProps.option.value)">{{ slotProps.option.label }}</div>
          </template>
        </prime-dropdown>
      </div>
    </div>
  </template>

  <tm-divider />

  <div class="p-grid p-ai-center">
    <div class="p-col-1">
      <prime-avatar icon="pi pi-link" class="p-mr-2 user-avatar" shape="circle" />
    </div>
    <div class="p-col-4 p-pl-3">
      <tm-button type="link" :label="$t('accesses.get a link')" @click="copyLinkToClipboard" />
    </div>
    <div class="p-col-7 p-d-flex p-ai-center">
      <span class="p-mr-3 p-ml-auto">{{ $t('accesses.add to public') }}</span>
      <tm-switch
        v-model="isScenarioInPublicList"
        @click.stop="changeScenarioAccessibility({ isInPublicList: !scenario.isInPublicList })"
      />
    </div>
  </div>
</template>

<script>
import { ref, computed, onMounted } from 'vue';
import useToast from '@composables/useToast';
import { useI18n } from 'vue-i18n';
import { useConfirm } from 'primevue/useconfirm';
import { useStore } from 'vuex';
import useUsers from '@composables/useUsers';
import useScenarioAccesses from '@composables/useScenarioAccesses';
import PrimeDropdown from 'primevue/dropdown';
import PrimeAvatar from 'primevue/avatar';
import { MP_MODEL_DTA_VIEWER } from '@keys/index';

export default {
  components: {
    PrimeDropdown,
    PrimeAvatar,
  },
  props: {
    /**
     * Scenario model object - that is to be shared
     */
    scenario: {
      type: Object,
      required: true,
    },
  },
  /**
   * update:scenario event - updates parent scenario
   *
   * @event update:scenario
   * @property {Object} updated scenario model
   */
  emits: ['update:scenario'],
  setup(props, { emit }) {
    const { t } = useI18n();
    const { addToast } = useToast();
    const confirm = useConfirm();
    const store = useStore();
    const { users: availableUsers, fetchUsers } = useUsers();
    const {
      accesses: scenarioUserAccess,
      fetchAccesses,
      createAccess,
      updateAccess,
      deleteAccess,
    } = useScenarioAccesses(props.scenario.id);
    const loggedUserId = store.state.auth.user.id;

    const DEFAULT_NEW_USER_ROLE = 'viewer';
    const newUserRole = ref(DEFAULT_NEW_USER_ROLE);
    const availableUserRoles = [
      { value: 'viewer', label: t('accesses.viewer') },
      { value: 'inserter', label: t('accesses.inserter') },
      { value: 'editor', label: t('accesses.editor') },
    ];
    const availableUserRolesWithDeleteOption = availableUserRoles.concat([{ value: 'delete', label: 'delete' }]);

    onMounted(async () => {
      await fetchUsers();
      await fetchAccesses();
    });

    function _getAssignedUsers() {
      return availableUsers.value
        .map((user) => {
          const userAccess = scenarioUserAccess.value.find((access) => access.userId == user.id) || {};
          return { ...user, level: userAccess.level };
        })
        .filter((user) => !!user.level);
    }

    const assignedUsers = computed(() => _getAssignedUsers());
    const selectedUsers = ref([]);
    const filteredUsers = ref([]);

    const searchForUser = (query) => {
      const availableNonAssignedUsers = availableUsers.value.filter(
        (el) => !assignedUsers.value.find((e) => e.id === el.id),
      );

      filteredUsers.value = availableNonAssignedUsers.filter(
        (el) => el.username?.includes(query) || el.email?.includes(query),
      );
    };

    const grantAccessForSelectedUsers = () => {
      selectedUsers.value.forEach(async (user) => {
        await createAccess({ ...user, level: newUserRole.value });
      });

      selectedUsers.value = []; // clear the selection
    };

    const removeUserAccess = (userId) => {
      confirm.require({
        message: t('accesses.confirm removing user access'),
        header: t('accesses.removing user access'),
        icon: 'pi pi-exclamation-triangle',
        accept: () => deleteAccess(userId),
      });
    };

    const changeUserAccess = (userId, level) => {
      if (loggedUserId !== userId) updateAccess(userId, level);
      else {
        confirm.require({
          message: t('accesses.confirm changing own access'),
          header: t('accesses.changing own access'),
          icon: 'pi pi-exclamation-triangle',
          accept: () => updateAccess(userId, level),
        });
      }
    };

    const copyLinkToClipboard = () => {
      if (!props.scenario.isPublic) changeScenarioAccessibility({ isPublic: true });

      const mapMode = MP_MODEL_DTA_VIEWER;
      const modelType = 'DTA';
      const baseUrl = import.meta.env.BASE_URL;
      const shareableLink = `${window.location.origin}${baseUrl}scenarios/${props.scenario.id}/events?mapmode=${mapMode}&model=${modelType}`;

      const tempElement = document.createElement('input');
      tempElement.value = shareableLink;
      document.body.appendChild(tempElement);
      tempElement.select();

      try {
        document.execCommand('copy');
        addToast({
          summary: t('accesses.shareable link copied successfully'),
        });
      } catch (err) {
        addToast({
          severity: 'error',
          summary: t('accesses.error while copying shareable link'),
        });
      }

      window.getSelection().removeAllRanges();
      document.body.removeChild(tempElement);
    };

    const isScenarioInPublicList = ref(props.scenario.isInPublicList);

    const changeScenarioAccessibility = ({
      isPublic = props.scenario.isPublic,
      isInPublicList = props.scenario.isInPublicList,
    } = {}) => {
      if (isInPublicList && !isPublic) isPublic = true;

      emit('update:scenario', { isPublic, isInPublicList });
    };

    return {
      availableUsers,
      assignedUsers,
      selectedUsers,
      filteredUsers,
      searchForUser,
      availableUserRoles,
      availableUserRolesWithDeleteOption,
      newUserRole,
      removeUserAccess,
      copyLinkToClipboard,
      grantAccessForSelectedUsers,
      changeUserAccess,
      isScenarioInPublicList,
      changeScenarioAccessibility,
    };
  },
};
</script>

<style scoped>
::v-deep(.p-autocomplete-token) {
  margin-bottom: 0.2rem;
}
.dropdown-wide {
  width: 100%;
}
.option-clickable {
  cursor: pointer;
  color: #0094d2;
}
.option-nonclicable {
  color: #66bfe4;
}
.user-label {
  padding-left: 1rem;
  font-size: 0.9rem;
}
.user-avatar {
  width: 1.8rem;
  height: 1.8rem;
}
</style>
