<template>
  <form>
    <span class="block-heading">{{ $t('users.general settings') }}</span>
    <tm-input
      v-model="user.username"
      :placeholder="$t('users.username')"
      type="text"
      name="username"
      rules="required"
      :borderless="false"
      class="p-mb-3"
    />
    <tm-input
      v-if="!isEditing || isEditingSelf"
      v-model="user.email"
      :placeholder="$t('users.email')"
      type="email"
      name="email"
      rules="required|email"
      :borderless="false"
      class="p-mb-3"
    />
    <tm-input
      v-if="isEditingSelf"
      v-model="user.oldPassword"
      :placeholder="$t('users.old password')"
      type="password"
      name="old_password"
      rules="min:8"
      :borderless="false"
      class="p-mb-3"
    />

    <tm-divider />
    <span class="block-heading">{{ $t('users.organization') }}</span>
    <tm-selection
      v-model:selected="user.organization"
      :options="filteredOrganizations"
      type="autocomplete-dropdown"
      :placeholder="$t('users.select organization')"
      class="organizations-field"
      @autocomplete="searchForOrganization"
    />

    <tm-divider />
    <span class="block-heading">{{ $t('users.roles') }}</span>
    <tm-selection v-model:selected="selectedUserRoles" :options="availableUserRoles" />

    <template v-if="isEditing">
      <tm-divider />
      <span class="block-heading">{{ $t('users.password change') }}</span>

      <template v-if="isEditingSelf">
        <tm-input
          v-model="user.newPassword"
          :placeholder="$t('users.new password')"
          type="password"
          name="new_password"
          autocomplete="new-password"
          rules="min:8"
          :borderless="false"
          class="p-mb-3"
        />
        <tm-input
          v-model="passwordConfirmation"
          :placeholder="$t('users.control password')"
          type="password"
          name="confirm_password"
          autocomplete="new-password"
          rules="confirmed:new_password"
          :borderless="false"
          class="p-mb-3"
        />
        <tm-input
          v-model="user.oldPassword"
          :placeholder="$t('users.old password')"
          type="password"
          name="old_password"
          rules="min:8"
          :borderless="false"
          class="p-mb-3"
        />
        <tm-divider />
      </template>

      <div class="p-d-flex p-ai-center p-my-2">
        <tm-button type="link" :label="$t('users.request password reset')" @click="sendPasswordRequest" />
      </div>
    </template>

    <tm-divider />
    <tm-button
      type="confirm"
      class="p-mt-2"
      :label="isEditing ? $t('users.save') : $t('users.create and send e-mail')"
      @click="saveUser"
    />
  </form>
</template>

<script setup lang="ts">
import { ref, computed, onMounted } from 'vue';
import { useForm } from 'vee-validate';
import useUsers from '@composables/useUsers';
import { useStore } from 'vuex';
import { useI18n } from 'vue-i18n';
import { useConfirm } from 'primevue/useconfirm';

const props = defineProps<{
  userId?: number;
}>();

const { validate, meta, setValues } = useForm();
const {
  user: fetchedUser,
  fetchUser,
  createUser,
  updateUser,
  requestPasswordReset,
  organizations: availableOrganizations,
  fetchOrganizations,
  invalidateUsers,
  // invalidateOrganizations, // TODO: used by tests
} = useUsers(props.userId);
const store = useStore();
const { t } = useI18n();
const confirm = useConfirm();
const isEditing = computed(() => !!props.userId);
const isEditingSelf = computed(() => store.state.auth.user.id == props.userId);

type UserRoleOption = {
  name: number;
  label: string;
  disabled: boolean;
};

const user = ref<TmUser>({
  username: '',
  email: '',
  roles: [],
  organization: 'Roadtwin',
});
const passwordConfirmation = ref<string>();

// TODO: get list of available user roles from config or DB maybe
const availableUserRoles: UserRoleOption[] = [
  { name: 100, label: 'users.admin', disabled: !store.getters['auth/isAdmin'] },
];
const selectedUserRoles = ref<UserRoleOption[]>([]);

const filteredOrganizations = ref<string[]>([]);
const searchForOrganization = (query: string) => {
  filteredOrganizations.value = availableOrganizations.value.reduce((filtered: string[], org) => {
    if (org.name?.toLowerCase().includes(query.toLowerCase())) filtered.push(org.name);
    return filtered;
  }, []);
};

const saveUser = async () => {
  await validate();
  if (!meta.value.valid) return;

  const userData = {
    ...user.value,
    roles: selectedUserRoles.value.map((role) => role.name),
    organization: user.value.organization || null,
  };
  isEditing.value ? updateUser(userData) : createUser(userData);
};

const sendPasswordRequest = () => {
  confirm.require({
    message: t('users.confirm sending password request', { email: user.value.email }),
    header: t('users.send password request'),
    icon: 'pi pi-exclamation-triangle',
    accept: () => {
      requestPasswordReset({ email: user.value.email });
    },
  });
};

onMounted(async () => {
  fetchOrganizations();

  if (!isEditing.value) return;

  invalidateUsers(props.userId);
  await fetchUser();

  user.value = { ...fetchedUser.value };
  setValues(fetchedUser.value);

  selectedUserRoles.value = availableUserRoles.filter((role) => user.value.roles?.includes(role.name));
});
</script>

<style scoped>
.block-heading {
  display: block;
  margin-bottom: 1rem;
  font-weight: bold;
}
.organizations-field {
  width: 100%;
}
</style>
