<template>
  <tm-card>
    <template #header>
      <tm-breadcrumb />
      <tm-heading :text="$t('navigation.models')" back-to-route="home" />
      <tm-divider />
    </template>

    <template #content>
      <tm-selection
        :selected="activeModel.id"
        :options="modelOptions"
        option-value="id"
        type="radio"
        @update:selected="switchActiveModel"
      />

      <div v-if="isAdminUser" class="p-d-flex p-jc-center p-mt-3">
        <tm-button
          v-tooltip="$t('models.refresh model')"
          :disabled="!isActiveModelValid"
          type="create"
          icon="pi-refresh"
          class="p-mr-3"
          @click="isActiveModelValid && refreshTrafficModel()"
        />
      </div>

      <div v-if="!isActiveModelValid" class="p-mt-3">{{ $t('models.computing in progress') }}</div>
    </template>
  </tm-card>
</template>

<script setup lang="ts">
import { computed, onMounted } from 'vue';
import { useStore } from 'vuex';
import useModels from '@composables/useModels';
import { useI18n } from 'vue-i18n';
import { useConfirm } from 'primevue/useconfirm';

const store = useStore();
const { models, activeModel, fetchModels, switchActiveModel, refreshModel } = useModels();
const { t } = useI18n();
const confirm = useConfirm();

const modelOptions = computed(() => models.value.map((model) => ({ ...model, label: `models.${model.type}` })));
const isAdminUser = computed(() => store.getters['auth/isAdmin']);
const isActiveModelValid = computed(() => !!store.state.scenarios.model?.isValid);

const refreshTrafficModel = () => {
  confirm.require({
    message: t('models.confirm computing traffic model'),
    header: t('models.computing traffic model'),
    icon: 'pi pi-exclamation-triangle',
    accept: () => refreshModel(activeModel.value?.type || 'DTA'),
  });
};

onMounted(fetchModels); // models should be prefetched, but just to be sure and to simplify tests
</script>
