<template>
  <tm-card class="about">
    <template #header>
      <tm-breadcrumb />
      <tm-heading :text="$t('about.about')" back-to-route="settings" />
      <tm-divider />
    </template>

    <template #content>
      <!-- eslint-disable-next-line vue/no-v-html -->
      <div ref="aboutRef" v-html="aboutText"></div>
    </template>

    <template #footer></template>
  </tm-card>
</template>

<script setup lang="ts">
import { ref, computed, onMounted } from 'vue';
import { useI18n } from 'vue-i18n';
import { useRouter } from 'vue-router';

const { locale } = useI18n();
const router = useRouter();

const appUrl = window.location.origin;
const basePath = import.meta.env.BASE_URL;

const aboutRef = ref<HTMLElement>();

const aboutText = computed(() => {
  const envLangSuffix = locale.value.toUpperCase();
  // TODO: this is temporary solution until it is decided to store custom texts elsewhere (db)
  const rawHtml = import.meta.env[`VITE_TEXT_ABOUT_${envLangSuffix}`];
  return rawHtml;
});

onMounted(() => {
  const el = aboutRef.value;
  const images = el?.getElementsByTagName('img');
  const anchors = el?.getElementsByTagName('a');

  if (images) _updateImageElements(images); // add optional basePath to every img element
  if (anchors) _updateAnchorElements(anchors); // modify every local link to use vue-router instead
});

const _updateImageElements = (images: HTMLCollectionOf<HTMLImageElement>) => {
  for (const img of images) {
    const src = img.getAttribute('src');
    if (!_isLocalLink(src)) return; // ignore external images

    img.setAttribute('src', `${appUrl}${basePath}${src}`);
  }
};

const _updateAnchorElements = (anchors: HTMLCollectionOf<HTMLAnchorElement>) => {
  const routeList = router?.options?.routes || [];
  for (const anchor of anchors) {
    const href = anchor.getAttribute('href');
    if (!_isLocalLink(href)) return; // ignore external links

    const routeName = routeList.find((r) => r.path == href)?.name;
    if (!routeName) return; // don't modify unknown links

    anchor.onclick = (event) => {
      event.preventDefault(); // prevent hard reload
      router.push({ name: routeName }); // use vue router instead (to preserve query etc)
    };
  }
};

const _isLocalLink = (src: string | null) => {
  return src && (src.startsWith(appUrl) || src.startsWith('/'));
};
</script>

<style scoped>
.about ::v-deep(img) {
  display: block;
  max-width: 80%;
  margin: 2rem auto;
}
</style>
