<template>
  <tm-card>
    <template #header>
      <tm-breadcrumb />
      <tm-heading :text="$t('settings.changelog')" back-to-route="settings" />
      <tm-divider />
    </template>

    <template #content>
      <h3>2.1.0 - 27.10.2022</h3>
      <ul>
        <li>Vylepšený systém ikon pro intuitivní navigaci</li>
        <li>Výpočet nejkratší cesty</li>
        <li>Vylepšený design widgetů a přepínání datových režimů</li>
        <li>Výkonnostní i kartografické vylepšení vizualizace uzlů a generátorů</li>
        <li>Vylepšení zobrazení pro mobilní zařízení</li>
        <li>Nové podkladové mapy - barevně čistý podklad</li>
        <li>Přehrávní hodinových dopravních intenzit</li>
        <li>Možnost uzamknout porovnávací mapu</li>
        <li>Vyřešení různých menších bugů</li>
      </ul>
      <h3>2.0.2 - 28.09.2022</h3>
      <ul>
        <li>Vylepšení zobrazení pro mobilní zařízení</li>
        <li>Drobné vylepšení funkcionality jednotlivých widgetů</li>
      </ul>
      <h3>2.0.1 - 03.05.2022</h3>
      <ul>
        <li>Vylepšení obsahu kontextových informací prvků v seznamech</li>
        <li>Vylepšení obsahu mapového info okna změn</li>
        <li>Alternativní vizualizace vybraných dopr. značek změn</li>
        <li>Povinné vyplnění uživatelského jména pro identifikaci uživatelů místo emailu</li>
        <li>Bug - adresa veřejného odkazu</li>
        <li>Bug - použití veřejného scénáře v porovnání</li>
      </ul>
      <h3>2.0.0 - 12.04.2022</h3>
      <ul>
        <li>Obsah O aplikaci, nápovědy</li>
        <li>Podpora aplikační analytiky a správce cookues</li>
        <li>Vylepšení dynamického zobrazení kapacity v modelech</li>
        <li>Různé opravy a zlepšení výkonu</li>
      </ul>
      <h3>0.4.0 - 22.03.2022</h3>
      <ul>
        <li>Vylepšení okna informací o objektu (předchozí popup)</li>
        <li>Legenda mapy</li>
        <li>Grafické přepracování nastavení</li>
        <li>Opravy konzistence/UI formulářů modifikací</li>
        <li>Opravy menších bugů při výpočtech/zobrazení scénáře</li>
      </ul>
      <h3>0.3.3 - 24.02.2022</h3>
      <ul>
        <li>Přepracování poznámek a filtrů</li>
        <li>Vylepšení grafické podoby časové osy</li>
        <li>Podpora modifikací v časové ose</li>
        <li>Vylepšení zabezpečení a stability aplikace</li>
      </ul>
      <h3>0.3.2 - 17.02.2022</h3>
      <ul>
        <li>[features-beta] Import událostí</li>
        <li>[features-beta] Grafická změna filtrů a řazení</li>
        <li>[features] Timeline událostí aktivního scénáře</li>
        <li>Změny kartografie - uzavřené/omezené úseky, popisky nových úseků</li>
        <li>Menší UI úpravy - tooltipy</li>
        <li>Opravy menších bugů</li>
      </ul>
      <h3>0.3.1 - 20.01.2022</h3>
      <ul>
        <li>[features] Nové ikonky</li>
        <li>Úprava zobrazení značek při editaci</li>
        <li>Menší opravy popupů a modifikačních interakcí</li>
      </ul>
      <h3>0.3.0 - 17.01.2022</h3>
      <ul>
        <li>
          Zobrazení scénáře z produkční v1 k testování aplikace s velkým scénářem (Traffic Situation, zatím pod
          uživatelem dev-admin, veřejný, stav k prosinec 2021)
        </li>
        <li>Opravy a optimalizace výkonu WebApp serveru pro velké scénáře</li>
        <li>[bug] Oprava chybějících prvků scénáře po úpravě základního modelu ("případ Americká")</li>
        <li>
          [feature] Nastavení aplikace v panelu nastavení (jazyk, mapa), rozhraní provizorní, nápovědy apod zatím bez
          obsahu
        </li>
        <li>[bug] Oprava filtrů pro sdílené/veřejné scénáře</li>
        <li>[bug] Menší opravy použitelnosti a workflow (WIP) uživatelského rozhraní</li>
      </ul>
      <h3>0.2.1 - 20.12.2021</h3>
      <ul>
        <li>[changed] Přepracování workflow formulářů scénáře (samostatné sdílení, název/poznámky nad seznamem)</li>
        <li>[features] Fixní hlavičky/patičky panelu scénáře (pokud je dost vysoký)</li>
        <li>[features] Skrývání poznámek/filtrů</li>
        <li>[bug] Oprava odkazu pro sdílení</li>
        <li>[bug] Oprava práce s emaily</li>
      </ul>
      <h3>0.2.0 - 7.12.2021</h3>
      <ul>
        <li>
          [features-ALPHA] Bodové značky modifikací. (prvotní vizualizace, jedna značka na modifikaci, žádný popup)
        </li>
        <li>[features] Zoom/posun mapy při aktivaci eventu/modifikace. (zatím chybí při načtení aplikace z url)</li>
        <li>[features] Optimalizace práce s daty a překreslování mapy</li>
        <li>Vylepšení chybových hlášek při výpočtu na klientu</li>
      </ul>
      <h3>0.1.1 - 19.11.2021</h3>
      <ul>
        <li>[features] Zvýšenní výkonu a znovupoužitelnost vypočtených scénářů</li>
        <li>[features] Zachování demo dat u předprodukčních migrací DB</li>
        <li>[experimental] Zobrazení popisku počtu vozidel na úseku při větších zoomech</li>
      </ul>
      <h3>0.1.0 - 8.11.2021</h3>
      <ul>
        <li>[user story] Historické porovnávání včetně uložení posledního porovnání</li>
        <li>[features] "Hover" kurzor je aktivní pouze nad klikatelným objekty (popupy, interakce)</li>
        <li>[features] Popup pro porovnávací vizualizace (obsah pouze rozdíl dopravy na úseku)</li>
        <li>[features] Zobrazení informací o aktuální verzi aplikace, včetně changelogu (panel nastavení)</li>
        <li>[bug] Načtení zobrazení aplikace i při zavřených panelech</li>
        <li>[bug] Opraveno nežádoucí ukládání vteřin u datumů</li>
        <li>[bug] Špatná šířka úseků s úbytkem u porovnání</li>
        <li>[bug] Opraveny některé chyby u kopií "složitějších" událostí</li>
      </ul>
      <strong>last commit</strong>
      <p>{{ commitMessage }}</p>
    </template>

    <template #footer>
      VERSION: {{ appVersion }} <br />
      <template v-if="buildTime">BUILD: {{ $d(buildTime, 'full') }} <br /> </template>
      BRANCH: {{ branchName }} <br />
    </template>
  </tm-card>
</template>

<script setup lang="ts">
import { inject } from 'vue';

const commitMessage: string = inject('commitMessage') || '';
const buildTime: number | undefined = inject('buildTime');
const appVersion: string = inject('appVersion') || '';
const branchName: string = inject('branchName') || '';
</script>

<style scoped></style>
