<template>
  <tm-card class="help">
    <template #header>
      <tm-breadcrumb />
      <tm-heading :text="$t('help.help')" back-to-route="settings" />
      <tm-divider />
    </template>

    <template #content>
      <h3>{{ $t('help.user') }}</h3>
      <i18n-t keypath="help.user help text" tag="p" scope="global">
        <strong>{{ $t('help.user') }}</strong>
      </i18n-t>
      <img :src="getImageSource('user')" alt="user help img" />

      <h3>{{ $t('help.scenarios') }}</h3>
      <i18n-t keypath="help.scenarios help text" tag="p" scope="global">
        <strong>{{ $t('help.scenarios') }}</strong>
      </i18n-t>
      <img :src="getImageSource('scenarios')" alt="scenarios help img" />

      <i18n-t keypath="help.filters help filters" tag="p" scope="global" />
      <img :src="getImageSource('filters')" alt="filters help img" class="wide" />

      <i18n-t keypath="help.how to display scenario" tag="p" scope="global" />
      <tm-embedded-youtube :code="getVideoCode('display scenario')" />

      <i18n-t keypath="help.how to create new scenario" tag="p" scope="global" />
      <tm-embedded-youtube :code="getVideoCode('create scenario')" />

      <i18n-t keypath="help.how to share scenario" tag="p" scope="global" />
      <tm-embedded-youtube :code="getVideoCode('share scenario')" />

      <i18n-t keypath="help.how to copy scenario" tag="p" scope="global" />
      <tm-embedded-youtube :code="getVideoCode('copy scenario')" />
      <i18n-t keypath="help.how to copy scenario note" tag="small" scope="global">
        <strong>{{ $t('help.not propagated') }}</strong>
      </i18n-t>

      <i18n-t keypath="help.how to import events" tag="p" scope="global" />
      <tm-embedded-youtube :code="getVideoCode('import events')" />

      <i18n-t keypath="help.how to create new link" tag="p" scope="global" />
      <tm-embedded-youtube :code="getVideoCode('create link')" />

      <i18n-t keypath="help.how to edit existing link" tag="p" scope="global" />
      <tm-embedded-youtube :code="getVideoCode('edit link')" />

      <i18n-t keypath="help.how to create new node" tag="p" scope="global" />
      <tm-embedded-youtube :code="getVideoCode('create node')" />

      <i18n-t keypath="help.how to edit existing node" tag="p" scope="global" />
      <tm-embedded-youtube :code="getVideoCode('edit node')" />

      <i18n-t keypath="help.how to create new generator" tag="p" scope="global" />
      <tm-embedded-youtube :code="getVideoCode('create generator')" />

      <i18n-t keypath="help.how to edit existing generator" tag="p" scope="global" />
      <tm-embedded-youtube :code="getVideoCode('edit generator')" />

      <h3>{{ $t('help.settings') }}</h3>
      <i18n-t keypath="help.settings help text" tag="p" scope="global">
        <strong>{{ $t('help.settings') }}</strong>
      </i18n-t>
      <img :src="getImageSource('settings')" alt="settings help img" />

      <h3>{{ $t('help.map modes') }}</h3>
      <i18n-t keypath="help.map modes help text" tag="p" scope="global" class="strong-list">
        <span>{{ $t('help.model mode') }}</span>
        <span>{{ $t('help.comparison mode') }}</span>
      </i18n-t>
      <img :src="getImageSource('map-modes')" alt="map modes help img" class="small" />
      <i18n-t keypath="help.widgets help text" tag="p" scope="global" />
      <img :src="getImageSource('widgets')" alt="widgets help img" />

      <h4>{{ $t('help.map info') }}</h4>
      <i18n-t keypath="help.map info help text" tag="p" scope="global">
        <strong>{{ $t('help.map info') }}</strong>
      </i18n-t>
      <img :src="getImageSource('map-info')" alt="map info help img" />

      <h4>{{ $t('help.calendar') }}</h4>
      <i18n-t keypath="help.calendar help text" tag="p" scope="global">
        <strong>{{ $t('help.calendar') }}</strong>
      </i18n-t>
      <img :src="getImageSource('calendar')" alt="calendar help img" />
      <i18n-t keypath="help.play mode help text" tag="p" scope="global">
        <strong>{{ $t('help.play mode') }}</strong>
      </i18n-t>

      <h4>{{ $t('help.event list') }}</h4>
      <i18n-t keypath="help.event list help text" tag="p" scope="global">
        <strong>{{ $t('help.event list') }}</strong>
      </i18n-t>
      <img :src="getImageSource('event-list')" alt="event list help img" />

      <h4>{{ $t('help.shortest path') }}</h4>
      <i18n-t keypath="help.shortest path help text" tag="p" scope="global" />
      <img :src="getImageSource('shortest-path')" alt="shortest path help img" />
      <p>{{ $t('help.video tutorial') }}</p>
      <tm-embedded-youtube :code="getVideoCode('find shortest path')" />

      <h4>{{ $t('help.timeline') }}</h4>
      <i18n-t keypath="help.timeline help text" tag="p" scope="global">
        <strong>{{ $t('help.timeline') }}</strong>
      </i18n-t>
      <img :src="getImageSource('timeline')" alt="timeline help img" />

      <h4>{{ $t('help.map settings') }}</h4>
      <i18n-t keypath="help.map settings help text" tag="p" scope="global">
        <strong>{{ $t('help.map settings') }}</strong>
      </i18n-t>
      <img :src="getImageSource('map-settings')" alt="map settings help img" />

      <h4>{{ $t('help.legend') }}</h4>
      <i18n-t keypath="help.legend help text" tag="p" scope="global">
        <strong>{{ $t('help.legend') }}</strong>
      </i18n-t>
      <img :src="getImageSource('legend')" alt="legend help img" />

      <h4>{{ $t('help.comparison') }}</h4>
      <i18n-t keypath="help.comparison help text" tag="p" scope="global">
        <strong>{{ $t('help.comparison mode') }}</strong>
        <strong>{{ $t('help.comparison') }}</strong>
      </i18n-t>
      <img :src="getImageSource('comparison')" alt="comparison help img" />

      <i18n-t keypath="help.video tutorial" tag="p" scope="global" />
      <tm-embedded-youtube :code="getVideoCode('compare scenarios')" />
    </template>

    <template #footer></template>
  </tm-card>
</template>

<script setup lang="ts">
import { useI18n } from 'vue-i18n';
import TmEmbeddedYoutube from '@components/core/EmbeddedYoutube.vue';

const { locale } = useI18n();

const getImageSource = (name: string) => {
  const basePath = import.meta.env.BASE_URL;
  return `${basePath}images/help/${locale.value}/${name}.png`;
};

const getVideoCode = (name: string) => {
  // TODO: add english videos
  const videos: { [key: string]: { [key: string]: string } } = {
    'display scenario': { cs: '3H68eiRrFGw', en: '' },
    'create scenario': { cs: 'AM2ClJVj9iE', en: '' },
    'share scenario': { cs: 'J80Z2eQQn20', en: '' },
    'copy scenario': { cs: 'EocK0XP5d0Y', en: '' },
    'import events': { cs: 'LPeFAlju5GE', en: '' },
    'create link': { cs: 'T1ByLm_AZpA', en: '' },
    'edit link': { cs: 'ipPj4o7t32w', en: '' },
    'create node': { cs: 'zFLB1vVzWAQ', en: '' },
    'edit node': { cs: 'lF6OucufGpE', en: '' },
    'create generator': { cs: 'msPKcrBfAtk', en: '' },
    'edit generator': { cs: 'N0NdDP3Cy-g', en: '' },
    'find shortest path': { cs: 'y-7xOE3_hEE', en: '' },
    'compare scenarios': { cs: '5eznkivZTSY', en: '' },
  };

  return videos[name]?.[locale.value] || videos[name]?.['cs'] || null;
};
</script>

<style scoped>
.help h3:not(:first-of-type) {
  margin-top: 2rem;
}
.help img,
.help iframe,
.help ::v-deep(iframe),
.help ::v-deep(img) {
  display: block;
  width: 60%;
  margin: 2rem auto;
}
.help img.wide {
  width: 90%;
}
.help img.small {
  width: 20%;
}
.strong-list span {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  font-weight: bold;
}
</style>
