<template>
  <tm-card>
    <template #header>
      <tm-breadcrumb />
      <tm-heading :text="$t('settings.settings')" back-to-route="home" />
      <tm-divider />
    </template>

    <template #content>
      <prime-accordion :active-index="0">
        <prime-accordion-tab :header="$t('settings.general')">
          <ul class="p-listbox-list">
            <li class="p-listbox-item">
              <span>{{ $t('settings.language') }}</span>
              <tm-locale />
            </li>
            <li v-if="isAdminUser" class="p-listbox-item link" @click="$router.push({ name: 'admin.users' })">
              <span>{{ $t('settings.user management') }}</span>
              <i class="pi pi-chevron-right" />
            </li>
          </ul>
        </prime-accordion-tab>

        <prime-accordion-tab :header="$t('settings.other')">
          <ul class="p-listbox-list">
            <li class="p-listbox-item link" @click="$router.push({ name: 'settings.about' })">
              <span>{{ $t('settings.about') }}</span>
              <i class="pi pi-chevron-right" />
            </li>
            <li class="p-listbox-item link" @click="$router.push({ name: 'settings.help' })">
              <span>{{ $t('settings.help') }}</span>
              <i class="pi pi-chevron-right" />
            </li>
            <li class="p-listbox-item link" @click="goToReport">
              <span>{{ $t('settings.report') }}</span>
              <i class="pi pi-chevron-right" />
            </li>
            <li class="p-listbox-item link" @click="$router.push({ name: 'settings.changelog' })">
              <span>{{ $t('settings.changelog') }}</span>
              <i class="pi pi-chevron-right" />
            </li>
            <li class="p-listbox-item link" @click="$cc.showSettings(0)">
              <span>{{ $t('settings.cookies') }}</span>
              <i class="pi pi-chevron-right" />
            </li>
          </ul>
        </prime-accordion-tab>
      </prime-accordion>
    </template>
  </tm-card>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { useStore } from 'vuex';
import PrimeAccordion from 'primevue/accordion';
import PrimeAccordionTab from 'primevue/accordiontab';
import TmLocale from '@components/layouts/Locale.vue';

const store = useStore();
const isAdminUser = computed(() => store.getters['auth/isAdmin']);

const goToReport = () =>
  window.open(
    'https://docs.google.com/forms/d/e/1FAIpQLSfytvjrUns0ch9xdw-pyNz7Yv_la_QIXuPGtWygtIC144PJsg/viewform',
    '_blank',
  );
</script>

<style scoped>
::v-deep(.p-accordion .p-accordion-tab) {
  margin-bottom: 1rem;
}
::v-deep(.p-accordion-toggle-icon) {
  display: none;
}
::v-deep(.p-accordion .p-accordion-header .p-accordion-header-link) {
  font-weight: normal;
}
::v-deep(.p-accordion .p-accordion-tab:not(:first-child) .p-accordion-header .p-accordion-header-link) {
  border-top: 1px solid #dee2e6;
}
::v-deep(.p-accordion .p-accordion-tab .p-accordion-header .p-accordion-header-link:focus) {
  outline: none;
  box-shadow: none;
}
.p-listbox-list {
  padding: 0;
  margin: 0;
}
.p-listbox-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p-listbox-item:not(:last-child) {
  margin-bottom: 1rem;
}
.p-listbox-item:not(.link) {
  cursor: default;
}
.p-listbox-item.link i {
  color: #6c757d;
  border: 0 none;
  background: transparent;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  padding: 0.5rem;
}
.p-listbox-item.link i:hover {
  color: #495057;
  border-color: transparent;
  background: #e9ecef;
}
</style>
