<template>
  <slot> </slot>
</template>

<script>
import useModelCompare from '@composables/useModelCompare';
import useExtraFeatures from '@composables/useExtraFeatures';
import { modelCompareStyle } from '../layer-style';
import { createFeatureFromFeature } from '../layerModelLinksUtils';
import useFullScenario from '@composables/useFullScenario';
import { useMapModeComparison, getModelOptions, getLoadDiffDataFn } from '@composables/useMapModeComparison';

const ModeModelComparison = {
  props: {
    modeKey: {
      type: String,
      required: true,
    },
    registerMode: {
      type: Function,
      required: true,
    },
    /**
     * Array of ISO string dates [sourceScenarioDate, targetScenarioDate]
     */
    dates: {
      type: Array,
      required: true,
    },
    /**
     * Array of compared scenarios IDs [sourceScenarioId, targetScenarioId]
     */
    scenarios: {
      type: Array,
      default: () => ['base', 'base'],
    },
    useLinkLayer: {
      type: Function,
      required: true,
    },
  },
  setup(props) {
    const { provideCompareData } = useModelCompare();
    const { setModelDiffExtraFeatures } = useExtraFeatures();
    const usedScenario = useFullScenario();

    const loadDiffDataFn = getLoadDiffDataFn({
      props,
      compareDataProvider: provideCompareData,
      sourceOptionsProvider: getModelOptions,
      targetOptionsProvider: getModelOptions,
      useScenario: usedScenario,
      contextPreloadFn: (options) => setModelDiffExtraFeatures(options),
    });

    useMapModeComparison({
      props,
      useLayer: props.useLinkLayer,
      layerStyle: modelCompareStyle,
      createFeatureFromFeature,
      watchSource: [usedScenario.activeScenarioId, () => props.dates, () => props.scenarios],
      watchCallback: (layer, [activeId], [oldActiveId]) => {
        if (oldActiveId !== undefined && activeId !== oldActiveId) return; // Skip update if active scenario changed (after initial load), delayed deactivation
        loadDiffDataFn(layer);
      },
      watchOnMount: true,
    });

    return {};
  },
};

export default ModeModelComparison;
</script>
