<template>
  <mode-model-comparison :use-link-layer="useDTALinksLayer"></mode-model-comparison>
</template>

<script setup>
import ModeModelComparison from './ModeModelComparison.vue';
import { useDTALinksLayer } from '../layersModelDTA';
</script>
