<template>
  <slot> </slot>
</template>

<script>
import { watch } from 'vue';
import { onActivated, onDeactivated, computed, toRef } from 'vue';
import { styleFilter, watchRender, addStyleOptions, onVmItemsReady } from 'vuemap';
import { useDTALinksLayer, useDTANodesLayer, useDTAGeneratorsLayer } from '../layersModelDTA';
import { useModelSignsLayer } from '../layersModel';
import { useModelDTATrafficInterval } from '@composables/useModelTrafficInterval';
import { modelDTALinkStyle, signsStyle, modelNodesViewerStyle, modelGeneratorViewerStyle } from '../layer-style';
import { useSelectInteraction } from '@composables/useFeatureSelection';
import { useLinksModificationContext, mergeCtxs } from '@composables/useModelModifications';
import useFullScenario from '@composables/useFullScenario';
import { createFeatureFromFeature } from '../layerModelLinksUtils';
import useExtraFeatures from '@composables/useExtraFeatures';
import { getScenarioModelSectionByDate } from '@utils/model-sections';

export default {
  props: {
    modeKey: {
      type: String,
      required: true,
    },
    registerMode: {
      type: Function,
      required: true,
    },
    /**
     * Date (as iso string) on which the traffic will be displayed
     */
    date: {
      type: String,
      required: true,
    },
    /**
     * Set of mapStyling settings (see map store)
     */
    mapStyle: {
      type: Object,
      default: () => {},
    },
  },
  setup(props) {
    const { activeScenario, activeScenarioId } = useFullScenario();
    const {
      startWatcher: startExtraFeaturesWatcher,
      endWatcher: endExtraFeaturesWatcher,
      dateFilteredExtraFeatures,
    } = useExtraFeatures({ activeScenario });

    const linksLayer = useDTALinksLayer();
    const nodesLayer = useDTANodesLayer();
    const generatorsLayer = useDTAGeneratorsLayer();
    const signsLayer = useModelSignsLayer();

    const getLinksModificationCtx = useLinksModificationContext(linksLayer.id);
    const trafficIntervalData = useModelDTATrafficInterval();

    const dateFilteredExtraLinks = computed(() => {
      return dateFilteredExtraFeatures.value.link.map((mod) => mod.properties.id);
    });
    const linksFilter = (feature) => {
      const featureId = feature.getId();
      return typeof featureId === 'number' || dateFilteredExtraLinks.value.includes(featureId);
    };
    const linkStyleFn = addStyleOptions(
      modelDTALinkStyle,
      computed(() => linksLayer.context.getByFeature),
    );
    const linksStyleFilteredFn = styleFilter(linkStyleFn, linksFilter);

    const isLayerDisplayed = (type) => props.mapStyle.general[type] === true;
    const buildMapPreset = () =>
      [
        ...[
          isLayerDisplayed('links') && {
            layer: linksLayer,
            style: linksStyleFilteredFn,
          },
        ],
        ...[
          isLayerDisplayed('nodes') && {
            layer: nodesLayer,
            style: modelNodesViewerStyle,
          },
        ],
        ...[
          isLayerDisplayed('generators') && {
            layer: generatorsLayer,
            style: modelGeneratorViewerStyle,
          },
        ],
        {
          layer: signsLayer,
          style: signsStyle,
        },
      ].filter((lDef) => !!lDef);

    const registerMode = () =>
      props.registerMode(props.modeKey, {
        layers: buildMapPreset(),
      });
    watch(
      ['links', 'nodes', 'generators'].map((type) => () => isLayerDisplayed(type)),
      registerMode,
      { immediate: true },
    );

    watchRender(() => dateFilteredExtraLinks.value, linksLayer);

    useSelectInteraction({
      modeKey: props.modeKey.split('-')[0],
      layers: [
        {
          layer: linksLayer,
          extraDataFn: () => ({
            isLoading: toRef(trafficIntervalData, 'isLoading'),
          }),
          selectReplacerFn: createFeatureFromFeature,
          selectStyle: linkStyleFn,
        },
        {
          layer: signsLayer,
          selectStyle: signsStyle,
        },
      ],
    });

    const loadModelTrafficData = async (tmDate) => {
      const { sectionKey, extraFeaturesCodeList } = getScenarioModelSectionByDate(activeScenario.value, tmDate);
      const hourVolumeCtx = await trafficIntervalData.getLinksIntervalCtx({
        date: tmDate,
        modelKey: sectionKey,
        scenarioId: activeScenarioId.value,
        extraFeaturesCodeList,
      });
      onVmItemsReady(linksLayer, () => {
        const modificationCtx = getLinksModificationCtx({ scenarioId: activeScenarioId.value, date: tmDate });
        linksLayer.context.add(`model-${sectionKey}-${tmDate}`, mergeCtxs(hourVolumeCtx, modificationCtx));
      });
    };

    let watcherHandler;

    function startWatcher() {
      watcherHandler = watch(
        [activeScenario, () => props.date],
        async (
          [{ isPending, modelSections }, date],
          [{ id: oldId, modelSections: oldModelSections } = {}, oldDate],
        ) => {
          const dateChanged = date !== oldDate;
          const sectionsChanged = JSON.stringify(modelSections) !== JSON.stringify(oldModelSections);
          const isRelevantScenarioChange = !isPending || !!oldId; // sometimes scenario is pending while it is being de-activated
          if (isRelevantScenarioChange && (dateChanged || sectionsChanged)) loadModelTrafficData(props.date);
        },
        { immediate: true },
      );
    }

    function endWatcher() {
      if (typeof watcherHandler === 'function') watcherHandler();
    }

    onActivated(() => {
      startWatcher();
      startExtraFeaturesWatcher();
    });

    onDeactivated(() => {
      endWatcher();
      endExtraFeaturesWatcher();
    });

    return {};
  },
};
</script>
