<template>
  <div class="row p-grid">
    <div v-if="type" class="indicator p-col-3" :class="{ 'p-d-flex p-jc-between': type == 'dashed' }">
      <template v-if="type == 'line'">
        <div :class="type" :style="{ 'background-color': color }" />
      </template>
      <template v-if="type == 'dashed'">
        <div v-for="i in 3" :key="i" :class="type" :style="{ 'background-color': color }" />
      </template>
      <template v-if="type == 'number'">
        <div :class="type">560</div>
      </template>
      <template v-if="type == 'icon'">
        <div :class="type">
          <tm-button type="create" :icon="modificationIcon.icon" :border-color="modificationIcon.border" />
        </div>
      </template>
    </div>
    <div class="label p-col-9 p-d-flex p-ai-center">
      <span>{{ label }}</span>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { types as modificationTypes } from '@composables/useModifications';

type ModificationIcon = {
  icon?: string;
  border?: string;
};

const props = defineProps<{
  label?: string; // Text description of the indicator
  type?: 'line' | 'dashed' | 'number' | 'icon'; // Type of the indicator
  color?: string; // Color of the indicator
  icon?: string; // Icon to be displayed as indicator
}>();

const modificationIcon = computed<ModificationIcon>(() => {
  if (props.type !== 'icon' || !props.icon) return {};
  const icon = props.icon.split('-');
  const modMode = icon[0];
  const modType = icon[1];
  return modificationTypes.find((el) => el.type == modType && el.mode == modMode) || {};
});
</script>

<style scoped>
.row .indicator {
  padding: 0.5rem 1rem;
}
.row .indicator .line,
.row .indicator .dashed {
  margin-top: 0.5rem;
}
.row .indicator .line {
  width: 100%;
  height: 0.5rem;
  border-radius: 7px 7px 7px 7px;
}
.row .indicator .dashed {
  display: inline-block;
  width: 30%;
  height: 0.5rem;
  border-radius: 7px 7px 7px 7px;
}
.row .indicator .number,
.row .indicator .icon {
  font-weight: bold;
  text-align: center;
}
.row .indicator .icon button {
  pointer-events: none;
}
</style>
