<template>
  <tm-card>
    <template #header>
      <tm-heading :text="$t(`widgets.eventList widget`)" widget-name="eventList" />
      <tm-divider />
    </template>

    <template #content>
      <div class="p-mb-3">
        {{ $t(`widgets.picked date`) }} <strong v-if="date">{{ $d(new Date(date), 'full') }}</strong>
      </div>
      <div class="event-list">
        <tm-panel-list
          v-if="scenario.id"
          :items="currentEvents"
          :access="scenario.level"
          :watch-mode="watchMode"
          @item:clicked="jumpToEvent"
        />
      </div>
    </template>
  </tm-card>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import TmPanelList from '@components/views/PanelList.vue';
import { useStore } from 'vuex';
import useMapItems from '@composables/useMapItems';
import useFullScenario from '@composables/useFullScenario';

const props = defineProps<{
  date: TmDate; // Date during witch the events must be active
}>();

const { activeScenario: scenario } = useFullScenario();
const { jumpToEvent } = useMapItems();
const store = useStore();
const watchMode = computed(() => store.getters['scenarios/isWatchModeActive'](scenario.value.id));

const currentEvents = computed<TmEvent[]>(() => {
  if (!scenario.value.events) return [];
  const activeDate = props.date;
  if (!activeDate) return scenario.value.events;
  const events = scenario.value.events.filter((ev) => {
    const start = ev.dateFrom;
    const end = ev.dateTo;
    return (start == null || start <= activeDate) && (end == null || end >= activeDate);
  });
  return events;
});
</script>

<style scoped>
.event-list {
  max-height: 10rem;
}
</style>
