<template>
  <tm-card>
    <template #header>
      <tm-heading :text="$t('widgets.mapSettings widget')" widget-name="mapSettings" />
      <tm-divider />
    </template>

    <template #content>
      <h3>{{ $t('widgets.general settings') }}</h3>

      <ul class="p-listbox-list">
        <li class="p-listbox-item">
          <span>{{ $t('widgets.layer') }}</span>
          <tm-selection
            v-model:selected="baseMapLayer"
            option-value="name"
            :options="baseMapLayerOptions"
            class="switcher p-ml-3"
            type="dropdown"
          />
        </li>
        <template v-if="isModelMode">
          <!-- ! Temporal dual switching of both preset and single properties, only preset should stay, but props might be settable in advanced mode? -->
          <!-- TODO Localize names for prod usage -->
          <li class="p-listbox-item">
            <span>DTA preset</span>
            <tm-selection
              v-model:selected="mapStyleSettings[MP_MODEL_DTA_VIEWER].output"
              option-value="name"
              :options="dtaPresetOptions"
              class="switcher p-ml-3"
              type="dropdown"
            />
          </li>
          <template v-if="hasCustomStyling">
            <li class="p-listbox-item">
              <span>DTA width</span>
              <tm-selection
                v-model:selected="mapStyleSettings[MP_MODEL_DTA_VIEWER].width"
                option-value="name"
                :options="dtaPropsOptions"
                class="switcher p-ml-3"
                type="dropdown"
              />
            </li>
            <li class="p-listbox-item">
              <span>DTA color</span>
              <tm-selection
                v-model:selected="mapStyleSettings[MP_MODEL_DTA_VIEWER].color"
                option-value="name"
                :options="dtaPropsOptions"
                class="switcher p-ml-3"
                type="dropdown"
              />
            </li>
            <li class="p-listbox-item">
              <span>DTA text</span>
              <tm-selection
                v-model:selected="mapStyleSettings[MP_MODEL_DTA_VIEWER].text"
                option-value="name"
                :options="dtaPropsOptions"
                class="switcher p-ml-3"
                type="dropdown"
              />
            </li>
          </template>
        </template>
        <li class="p-listbox-item">
          <span>{{ $t('widgets.show vehicles count') }}</span>
          <tm-switch v-model="mapStyleSettings.vehiclesCountDisplayed" />
        </li>
        <li v-if="isModelMode" class="p-listbox-item">
          <span>{{ $t('widgets.show traffic signs') }}</span>
          <tm-switch v-model="mapStyleSettings.trafficSignsStyle" />
        </li>
      </ul>

      <template v-if="isModelMode">
        <h3>{{ $t('widgets.base model data settings') }}</h3>

        <ul class="p-listbox-list">
          <li class="p-listbox-item">
            <span>{{ $t('widgets.show links') }}</span>
            <tm-switch v-model="mapStyleSettings.links" />
          </li>
          <li class="p-listbox-item">
            <span>{{ $t('widgets.show nodes') }}</span>
            <tm-switch v-model="mapStyleSettings.nodes" />
          </li>
          <li class="p-listbox-item">
            <span>{{ $t('widgets.show generators') }}</span>
            <tm-switch v-model="mapStyleSettings.generators" />
          </li>
        </ul>
      </template>
    </template>
  </tm-card>
</template>

<script setup lang="ts">
import { computed, watch, reactive, toRefs } from 'vue';
import { useStore } from 'vuex';
import { dtaDataProperties, dtaModelOutputOptions } from '@composables/useModels';
import { MP_MODEL_DTA_VIEWER } from '@keys/index';

const props = defineProps<{
  mapMode: TmMapMode;
  dataMode: TmDataMode;
}>();

const store = useStore();
const isModelMode = computed(() => props.dataMode === 'model');
const hasCustomStyling = computed(() => import.meta.env.VITE_MAP_STYLING_MODE === 'custom');

const mapStyleProps = [
  'links',
  'nodes',
  'generators',
  'vehiclesCountDisplayed',
  'trafficSignsStyle',
  { group: MP_MODEL_DTA_VIEWER, property: 'output' },
  { group: MP_MODEL_DTA_VIEWER, property: 'width' },
  { group: MP_MODEL_DTA_VIEWER, property: 'color' },
  { group: MP_MODEL_DTA_VIEWER, property: 'text' },
];

const _getMapStyleModel = ({ group = 'general', property }: { group?: string; property: string }) =>
  computed({
    get: () => store.state.map.mapStyle[group][property],
    set: (newState) =>
      store.commit('map/SET_MAP_STYLE', {
        group,
        property,
        newState,
      }),
  });

const mapStyleSettings = mapStyleProps.reduce((models, prop) => {
  if (typeof prop === 'string') models[prop] = _getMapStyleModel({ property: prop });
  else {
    const { group, property } = prop;
    if (!models[group]) models[group] = {};
    models[group][property] = _getMapStyleModel({ group, property });
  }
  return models;
}, reactive<any>({})); // TS_TODO:

const baseMapLayerOptions = [
  { name: 'OSM', label: 'widgets.osm light' },
  { name: 'OSM-standard', label: 'widgets.osm' },
  { name: 'plain-white', label: 'widgets.white background' },
  { name: 'plain-grey', label: 'widgets.grey background' },
];

// TODO Refactor based on final design and expectations\
// If only presets stay and no expectation to have power mode, move props evaluator to styling and store only output?
const dtaPresetOptions = computed(() => [
  ...(hasCustomStyling.value ? [{ name: 'custom' }] : []),
  ...dtaModelOutputOptions,
]);
const dtaViewerPresets = dtaModelOutputOptions.reduce((hash: any, option) => {
  hash[option.name] = option.viewerPreset;
  return hash;
}, {}); // TS_TODO:

const dtaPropsOptions = dtaDataProperties.map((option) => ({ name: option }));
dtaPropsOptions.unshift({ name: 'none' });

const { output, width, color, text } = toRefs(mapStyleSettings[MP_MODEL_DTA_VIEWER]);
watch(output, (preset) => {
  if (preset === 'custom') return;
  const presetConfig = dtaViewerPresets[preset];
  width.value = presetConfig.width;
  color.value = presetConfig.color;
  text.value = presetConfig.text;
});
watch([width, color, text], ([newWidth, newColor, newText]) => {
  if (output.value === 'custom') return;
  const preset = dtaViewerPresets[output.value];
  if (preset.width !== newWidth || preset.color !== newColor || preset.text !== newText) output.value = 'custom';
});

const baseMapLayer = computed({
  get: () => store.state.map.base,
  set: (baseId) => store.dispatch('map/setBase', { baseId }),
});
</script>

<style scoped>
.p-listbox-list {
  padding: 0;
  margin: 1rem 0;
}
.p-listbox-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0.2rem;
}
.p-listbox-item:not(:last-child) {
  margin-bottom: 1rem;
}
.p-listbox-item:not(.link) {
  cursor: default;
}
.p-listbox-item.link i {
  color: #6c757d;
  border: 0 none;
  background: transparent;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  padding: 0.5rem;
}
.p-listbox-item.link i:hover {
  color: #495057;
  border-color: transparent;
  background: #e9ecef;
}
::v-deep(.p-selectbutton.p-buttonset .p-button) {
  border-radius: 0px;
  padding: 0.2rem 0.5rem !important;
}
::v-deep(.p-dropdown-label.p-inputtext) {
  padding: 0.2rem 0rem 0.2rem 0.5rem !important;
}
h3:first-of-type {
  margin-top: 0;
}
.switcher {
  max-width: 50%;
}
</style>
