<template>
  <tm-card>
    <template #header>
      <tm-heading :text="$t('widgets.calendar widget')" widget-name="calendar" />
      <tm-divider />
    </template>

    <template #content>
      <tm-calendar
        v-model:selected="selectedDate"
        v-tooltip="tooltip"
        :disabled-date="isDisabled"
        :time-options="timeOptions"
        :timeslider="true"
        @update:selected="endPlayMode()"
      />

      <div class="p-d-flex p-jc-center p-mt-5 p-pb-1">
        <tm-button
          type="create"
          :tooltip="$t(`widgets.${isPlayModeActive ? 'stop' : 'start'} calendar play mode`)"
          :icon="isPlayModeActive ? 'ri-stop-fill' : 'ri-play-fill'"
          @click="isPlayModeActive ? endPlayMode() : startPlayMode()"
        />
      </div>
    </template>
  </tm-card>
</template>

<script setup lang="ts">
import { computed, toRef } from 'vue';
import { useStore } from 'vuex';
import { useI18n } from 'vue-i18n';
import useModels from '@composables/useModels';
import usePlayMode from '@composables/usePlayMode';
import { MP_MODEL_DTA_VIEWER } from '@keys/index';

const props = defineProps<{
  mapMode: TmMapMode; // Currently active map mode
}>();

const store = useStore();
const { getModelCalendarSetting } = useModels();
const { t } = useI18n();
const { isPlayModeActive, startPlayMode, endPlayMode } = usePlayMode(toRef(props, 'mapMode'));

const isDisabled = computed(() => props.mapMode === MP_MODEL_DTA_VIEWER);
const timeOptions = computed(() => getModelCalendarSetting());
const tooltip = computed(() => ({ value: t('modifications.value defined by model'), disabled: !isDisabled.value }));

const selectedDate = computed({
  get: store.getters['map/getCalendarDate'],
  set: (tmDate) => store.dispatch('map/setCalendarDate', { tmDate }),
});
</script>
