<template>
  <tm-card>
    <template #header>
      <tm-heading :text="$t('widgets.legend widget')" widget-name="legend" />
      <tm-divider />
    </template>

    <template #content>
      <div v-if="COMPARISON_MAP_MODES.includes(mapMode)" class="legend-body">
        <h3>{{ $t('widgets.increase and decrease') }}</h3>
        <tm-widget-legend-row color="#2166ac" :label="$t('widgets.large decrease')" type="line" />
        <tm-widget-legend-row color="#67a9cf" :label="$t('widgets.medium decrease')" type="line" />
        <tm-widget-legend-row color="#d3e6f1" :label="$t('widgets.small decrease')" type="line" />
        <tm-widget-legend-row color="#eef0f2" :label="$t('widgets.minimal decrease')" type="line" />
        <tm-widget-legend-row color="#fddbc7" :label="$t('widgets.small increase')" type="line" />
        <tm-widget-legend-row color="#ef8a62" :label="$t('widgets.medium increase')" type="line" />
        <tm-widget-legend-row color="#be1e2d" :label="$t('widgets.large increase')" type="line" />
        <h4>{{ $t('widgets.vehicles count') }}</h4>
        <tm-widget-legend-row :label="$t('widgets.vehicles number')" type="number" />
      </div>

      <div v-else class="legend-body">
        <h3>{{ $t('widgets.traffic') }}</h3>
        <h4>{{ $t('widgets.traffic level') }}</h4>
        <tm-widget-legend-row color="#259345" :label="$t('widgets.fluent traffic')" type="line" />
        <tm-widget-legend-row color="#faec4d" :label="$t('widgets.fluent traffic with groups')" type="line" />
        <tm-widget-legend-row color="#f9b24a" :label="$t('widgets.continuous traffic')" type="line" />
        <tm-widget-legend-row color="#f15b2b" :label="$t('widgets.traffic jams emerging')" type="line" />
        <tm-widget-legend-row color="#c33342" :label="$t('widgets.traffic jam')" type="line" />
        <h4>{{ $t('widgets.vehicles volume') }}</h4>
        <tm-widget-legend-row :label="$t('widgets.aproximated by width')" />
        <tm-widget-legend-row :label="$t('widgets.exact vehicles number')" type="number" />
        <h3>{{ $t('widgets.closures and restrictions') }}</h3>
        <tm-widget-legend-row color="#000000" :label="$t('widgets.segment closed')" type="line" />
        <tm-widget-legend-row color="#f9b24a" :label="$t('widgets.segment with restriction')" type="dashed" />
        <h3>{{ $t('widgets.traffic events') }}</h3>
        <tm-widget-legend-row :label="$t('widgets.new link')" icon="new-link" type="icon" />
        <tm-widget-legend-row :label="$t('widgets.edited link')" icon="existing-link" type="icon" />
        <tm-widget-legend-row :label="$t('widgets.new node')" icon="new-node" type="icon" />
        <tm-widget-legend-row :label="$t('widgets.edited node')" icon="existing-node" type="icon" />
        <tm-widget-legend-row :label="$t('widgets.new generator')" icon="new-generator" type="icon" />
        <tm-widget-legend-row :label="$t('widgets.edited generator')" icon="existing-generator" type="icon" />
      </div>
    </template>
  </tm-card>
</template>

<script setup lang="ts">
import TmWidgetLegendRow from '@components/layouts/widgets/WidgetLegendRow.vue';
import { COMPARISON_MAP_MODES } from '@keys/index';

// eslint-disable-next-line @typescript-eslint/no-unused-vars
const props = defineProps<{
  mapMode: TmMapMode;
}>();
</script>

<style scoped>
.legend-body h3,
.legend-body h4 {
  padding-bottom: 0.7rem;
  margin: 0;
}
.legend-body h3:not(:first-of-type) {
  margin-top: 2rem;
}
</style>
