<template>
  <component
    :is="mapInfoComponent.component"
    v-if="mapInfoComponent"
    :key="mapInfoComponent.name"
    :selected-data="selectedData"
    :select-pager="activeSelect?.paging"
  />
</template>

<script setup lang="ts">
import { computed, reactive, markRaw, watch, onBeforeUnmount } from 'vue';
import { useSelectManager } from '@composables/useFeatureSelection';
import useFullScenario from '@composables/useFullScenario';
import MapInfoTraffic from '@components/map/MapInfoTraffic.vue';
import MapInfoSigns from '@components/map/MapInfoSigns.vue';
import MapInfoEmpty from '@components/map/MapInfoEmpty.vue';
import { LID_SIGNS } from '@keys/index';

const { activeScenarioId } = useFullScenario();

// TODO improve to be reactive ready so bindings cannot be lost (now widget recreated with each activeSelect)
const { selectedData, deselect, activeSelect }: any = useSelectManager(); // TS_TODO:
const isDisplayingSign = computed(() => selectedData.value?.lId === LID_SIGNS);
const mapInfoComponents = reactive({
  traffic: { component: markRaw(MapInfoTraffic), name: 'traffic' },
  signs: { component: markRaw(MapInfoSigns), name: 'signs' },
  empty: { component: markRaw(MapInfoEmpty), name: 'empty' },
});
const mapInfoComponent = computed(() => {
  if (!selectedData.value) return mapInfoComponents.empty;
  if (!selectedData.value.fId && !selectedData.value.lId) return null;
  return isDisplayingSign.value ? mapInfoComponents.signs : mapInfoComponents.traffic;
});

// deactivate selection when the widget is closed or active scenario changed
onBeforeUnmount(() => deselect());
watch(activeScenarioId, () => deselect());
</script>
