<template>
  <prime-dialog
    v-model:visible="displayed"
    :modal="options.modal"
    :dismissable-mask="options.dismissable"
    :header="$t(options.header)"
    class="tm-dialog"
  >
    <component :is="options.component" v-if="options.component" />
    <div v-else>
      <div class="content">
        <i class="p-mr-3 pi pi-exclamation-triangle" />
        <span v-if="options.message">{{ $t(options.message) }}</span>
      </div>
      <div class="actions">
        <tm-button :label="$t('dialogs.close')" type="cancel" @click="closeDialog()" />
      </div>
    </div>
  </prime-dialog>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import useDialog from '@composables/useDialog';
import PrimeDialog from 'primevue/dialog';
import TmDialogTimeline from '@components/layouts/dialogs/DialogTimeline.vue';
import TmDialogDependencies from '@components/layouts/dialogs/DialogDependencies.vue';
import TmDialogUnfinished from '@components/layouts/dialogs/DialogUnfinished.vue';
import TmDialogUser from '@components/layouts/dialogs/DialogUser.vue';

const props = withDefaults(
  defineProps<{
    modal?: boolean; // Whether the dialog should disable background
    dismissable?: boolean; // Whether the dialog should be dismissable on background click
  }>(),
  {
    modal: true,
    dismissable: false,
  },
);

const { displayed, dialog, close: closeDialog } = useDialog();

const componentsByType = {
  timeline: TmDialogTimeline,
  dependencies: TmDialogDependencies,
  unfinished: TmDialogUnfinished,
  user: TmDialogUser,
};

const options = computed(() => ({
  header: dialog.value.header || `dialogs.${dialog.value.type || 'alert'}`,
  message: dialog.value.message,
  component: dialog.value.type ? componentsByType[dialog.value.type] : null,
  modal: dialog.value.modal ?? props.modal,
  dismissable: dialog.value.dismissable ?? props.dismissable,
}));
</script>
