<template>
  <tm-card>
    <template #header>
      <tm-breadcrumb :names="{ scenarios: scenario.name }" />
      <tm-header-form
        :ready="!!scenario.id"
        class="p-mb-3"
        :has-editor-access="scenario.level === 'editor'"
        :resource="scenario"
        @change="updateScenario"
      >
        <template #back> <tm-button icon="pi-arrow-left" type="back" @click="goBack()" /></template>
        <template #icon><tm-scenario-state-icon :scenario="scenario" class="p-mx-1" /></template>
      </tm-header-form>
      <tm-divider />
      <tm-filter
        v-model:selectedSharing="selectedShareFilters"
        v-model:selectedDating="selectedDateFilters"
        v-model:selectedInclusion="selectedInclusionFilters"
        v-model:selectedSorting="selectedSorting"
        :ready="!!scenario.id"
        :sharing-options="eventShareFilterGroup"
        :dating-options="eventDateFilterGroup"
        :inclusion-options="eventInclusionFilterGroup"
        :sorting-options="sortingSelection"
      />
    </template>

    <template #content>
      <tm-panel-list
        :ready="!!scenario.id"
        :items="filteredEvents"
        :activated-item-id="activeEventId"
        :access="scenario.level"
        :watch-mode="isInWatchMode"
        type="events"
        @item:activated="activateAndFitMapItem({ scenarioId: scenario.id, eventId: $event.id, date: $event.dateFrom })"
        @item:deactivated="activateAndFitMapItem({ scenarioId: scenario.id })"
        @item:action:clicked="performItemAction($event.action, $event.item)"
        @item:checked="changeEventInclusion($event.item, $event.checked)"
      />
    </template>

    <template #footer>
      <tm-event-list-in-computation-footer v-if="isInsideComputation" :scenario="scenario" />
      <tm-event-list-with-computation-footer v-else-if="isWithComputation" :scenario="scenario" />
      <tm-event-list-without-computation-footer v-else :scenario="scenario" />
    </template>
  </tm-card>
</template>

<script setup lang="ts">
import { ref, computed, onMounted } from 'vue';
import { useRouter } from 'vue-router';
import useEditMode from '@composables/useEditMode';
import useFullScenario from '@composables/useFullScenario';
import useFilters from '@composables/useFilters';
import TmPanelList from '@components/views/PanelList.vue';
import TmHeaderForm from '@components/views/HeaderForm.vue';
import TmFilter from '@components/views/Filter.vue';
import { useI18n } from 'vue-i18n';
import { useStore } from 'vuex';
import { useConfirm } from 'primevue/useconfirm';
import useUnfinishedGuard from '@composables/useUnfinishedGuard';
import useMapItems from '@composables/useMapItems';
import TmScenarioStateIcon from '@components/views/ScenarioStateIcon.vue';
import TmEventListInComputationFooter from '@components/views/EventListInComputationFooter.vue';
import TmEventListWithComputationFooter from '@components/views/EventListWithComputationFooter.vue';
import TmEventListWithoutComputationFooter from '@components/views/EventListWithoutComputationFooter.vue';
import type { Filter, Sorting } from '@composables/useFilters';

const props = defineProps<{
  scenarioId: number;
}>();

const { switchToOriginalScenario } = useEditMode(props.scenarioId);
const { scenario, updateScenario, deleteEvent, updateEvent, events, copyEvent, activeEventId } = useFullScenario(props);
const router = useRouter();
const store = useStore();
const { t } = useI18n();
const confirm = useConfirm();
const loggedUserId = store.state.auth.user.id;
const { activateAndFitMapItem, adjustMapViewForMapItem } = useMapItems();
useUnfinishedGuard();

onMounted(() => adjustMapViewForMapItem({ scenarioId: props.scenarioId }));

const isInWatchMode = computed(() => store.getters['scenarios/isWatchModeActive'](props.scenarioId));
const isInsideComputation = computed(() => store.getters['scenarios/isInsideComputation'](scenario.value.id));
const isWithComputation = computed(() => store.getters['scenarios/isWithComputation'](scenario.value.id));

const eventDateFilterGroup: Filter[] = [
  { name: 'past', label: 'scenarios.past' },
  { name: 'current', label: 'scenarios.current' },
  { name: 'future', label: 'scenarios.future' },
];
const selectedDateFilters = ref<Filter[]>([]);

const eventInclusionFilterGroup: Filter[] = [
  { name: 'included', field: 'included', value: true, label: 'scenarios.included' },
  { name: 'excluded', field: 'included', value: false, label: 'scenarios.excluded' },
];
const selectedInclusionFilters = ref<Filter[]>([]);

const eventShareFilterGroup: Filter[] = [
  { name: 'own', field: 'authorUserId', value: loggedUserId, label: 'scenarios.own' },
  { name: 'other', field: 'authorUserId', value: loggedUserId, operator: 'NEQ', label: 'scenarios.other' },
];
const selectedShareFilters = ref<Filter[]>([]);

const sortingSelection: Sorting[] = [
  { name: 'name', label: 'events.filter by name' },
  { name: 'id', label: 'events.filter by most recent' },
];
const selectedSorting = ref<Sorting>(sortingSelection[0]);

const { filteredItems: filteredEvents } = useFilters<TmEvent>({
  items: events,
  cacheKey: 'events',
  selectedFilters: {
    share: selectedShareFilters,
    date: selectedDateFilters,
    include: selectedInclusionFilters,
  },
  selectedSorting,
});

const performItemAction = async (action: 'enter' | 'delete' | 'copy', scEvent: TmEvent) => {
  switch (action) {
    case 'enter':
      router.push({
        name: 'scenarios.events.modifications',
        params: { id: scenario.value.id, evId: scEvent.id },
      });
      break;
    case 'delete':
      confirm.require({
        message: t('events.confirm delete', { name: scEvent.name }),
        header: t('events.delete event'),
        icon: 'pi pi-exclamation-triangle',
        accept: () => {
          deleteEvent(scEvent.id);
        },
      });
      break;
    case 'copy':
      copyEvent(scEvent.id);
  }
};

const changeEventInclusion = (scEvent: TmEvent, checkedState: boolean) => {
  updateEvent({ id: scEvent.id, included: checkedState });
};

const goBack = () => {
  if (isInsideComputation.value) return switchToOriginalScenario(scenario.value.id);
  router.push({ name: 'scenarios' });
};
</script>
