<template>
  <tm-card>
    <template #header>
      <tm-breadcrumb :names="{ scenarios: scenario.name }" />
      <tm-header-form v-model:resource="scEvent" v-model:valid="isFormValid" />
    </template>

    <template #footer>
      <div class="p-grid">
        <div class="p-col-6">
          <tm-button type="cancel" :label="$t('events.leave without adding')" @click="cancelEvent()" />
        </div>
        <div class="p-col-6">
          <tm-button :disabled="!isFormValid" type="confirm" :label="$t('events.add')" @click="submitEvent()" />
        </div>
      </div>
    </template>
  </tm-card>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import useFullScenario from '@composables/useFullScenario';
import { useRouter } from 'vue-router';
import useUnfinishedGuard from '@composables/useUnfinishedGuard';
import TmHeaderForm from '@components/views/HeaderForm.vue';

const props = defineProps<{
  scenarioId: number;
}>();

const { scenario, createEvent } = useFullScenario(props);
const router = useRouter();

const scEvent = ref<TmEvent>({
  name: '',
  description: '',
  note: '',
  type: 'link',
});

const submitEvent = async () => {
  if (!isFormValid.value) return;
  await createEvent(scEvent.value);
};

const { forcedFormAbandonment } = useUnfinishedGuard({
  newModel: scEvent,
  modelType: 'event',
  submitAction: submitEvent,
});

const cancelEvent = () => {
  forcedFormAbandonment.value = true;
  router.push({ name: 'scenarios.events' });
};

const isFormValid = ref(false);
</script>
