<template>
  <tm-card>
    <template #header>
      <tm-breadcrumb :names="{ scenarios: scenario.name }" />
      <tm-heading :text="$t('scenarios.import events')" back-to-route="scenarios.events" />
      <tm-filter
        v-model:selectedSharing="selectedShareFilters"
        v-model:selectedDating="selectedDateFilters"
        v-model:selectedInclusion="selectedInclusionFilters"
        v-model:selectedSorting="selectedSorting"
        :ready="!!scenario.id"
        :sharing-options="eventShareFilterGroup"
        :dating-options="eventDateFilterGroup"
        :inclusion-options="eventInclusionFilterGroup"
        :sorting-options="sortingSelection"
      />
      <tm-divider />
      <tm-input
        v-model="searchedPhrase"
        :placeholder="$t('scenarios.search for event')"
        type="text"
        name="search"
        :borderless="false"
        class="p-mb-3"
        @input="onSearch"
      />
    </template>

    <template #content>
      <tm-panel-list
        v-model:selected="selectedEvents"
        :ready="!!scenario.id"
        :items="filteredEvents"
        :access="scenario.level"
        :activated-item-id="expandedEventId"
        type="imports"
        @item:activated="(i) => (expandedEventId = i.id)"
        @item:deactivated="expandedEventId = null"
      />
    </template>

    <template #footer>
      <div class="p-grid">
        <div class="p-col-6 p-pb-0 p-d-flex p-ai-center">
          <div>{{ $t('scenarios.selected events') }}: {{ selectedEvents.length }}</div>
        </div>
        <div class="p-col-6 p-pb-0">
          <tm-split-button
            :disabled="!selectedEvents.length"
            :label="$t('scenarios.import')"
            :options="splitButtonOptions"
            @default:clicked="importSelectedEvents"
          />
        </div>
      </div>
    </template>
  </tm-card>
</template>

<script setup lang="ts">
import { ref, computed, onMounted } from 'vue';
import useFullScenario from '@composables/useFullScenario';
import useFilters from '@composables/useFilters';
import TmPanelList from '@components/views/PanelList.vue';
import { useI18n } from 'vue-i18n';
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import { debounce } from 'lodash-es';
import useUnfinishedGuard from '@composables/useUnfinishedGuard';
import TmFilter from '@components/views/Filter.vue';
import type { Filter, Sorting } from '@composables/useFilters';

const props = defineProps<{
  scenarioId: number;
}>();

const { scenario, fetchImportableEvents, importEvents } = useFullScenario(props);
const store = useStore();
const router = useRouter();
const { t } = useI18n();
const loggedUserId = store.state.auth.user.id;
useUnfinishedGuard();

const availableEvents = ref<TmEvent[]>([]);
const events = ref<TmEvent[]>([]);

onMounted(async () => {
  await fetchImportableEvents({
    onSuccess: (evs: TmEvent[]) => {
      availableEvents.value = evs;
    },
  });
  events.value = [...availableEvents.value];
});

const eventDateFilterGroup: Filter[] = [
  { name: 'past', label: 'scenarios.past' },
  { name: 'current', label: 'scenarios.current' },
  { name: 'future', label: 'scenarios.future' },
];
const selectedDateFilters = ref<Filter[]>([]);

const eventInclusionFilterGroup: Filter[] = [
  { name: 'included', field: 'included', value: true, label: 'scenarios.included' },
  { name: 'excluded', field: 'included', value: false, label: 'scenarios.excluded' },
];
const selectedInclusionFilters = ref<Filter[]>([]);

const eventShareFilterGroup: Filter[] = [
  { name: 'own', field: 'authorUserId', value: loggedUserId, label: 'scenarios.own' },
  { name: 'other', field: 'authorUserId', value: loggedUserId, operator: 'NEQ', label: 'scenarios.other' },
];
const selectedShareFilters = ref<Filter[]>([]);

const sortingSelection: Sorting[] = [
  { name: 'name', label: 'events.filter by name' },
  { name: 'id', label: 'events.filter by most recent' },
];
const selectedSorting = ref<Sorting>(sortingSelection[0]);

const { filteredItems: filteredEvents } = useFilters<TmEvent>({
  items: events,
  cacheKey: 'eventsImport',
  selectedFilters: {
    share: selectedShareFilters,
    date: selectedDateFilters,
    include: selectedInclusionFilters,
  },
  selectedSorting,
});

const importSelectedEvents = async () => {
  const selectedEventsIds = selectedEvents.value.map((ev) => ({
    eventId: ev.id,
    scenarioId: ev.scenarioId,
  }));
  await importEvents(selectedEventsIds);
};

const splitButtonOptions = computed(() => [
  { label: t('scenarios.leave without import'), command: () => router.push({ name: 'scenarios.events' }) },
]);

const selectedEvents = ref<TmEvent[]>([]);

const expandedEventId = ref<string | null>(null);

const searchedPhrase = ref<string | null>(null);

const onSearch = debounce(() => {
  const phrase = searchedPhrase.value ? searchedPhrase.value.trim() : null;
  if (!phrase) events.value = [...availableEvents.value];
  else events.value = availableEvents.value.filter((ev) => ev.name?.toLowerCase().includes(phrase.toLowerCase()));
}, 500);
</script>

<style scoped></style>
