<template>
  <tm-card>
    <template #header>
      <tm-breadcrumb :names="{ scenarios: scenario.name, events: scEvent.name }" />
      <tm-header-form
        :ready="!!scenario.id && !!scEvent.id"
        class="p-mb-3"
        :has-editor-access="scenario.level === 'editor'"
        :resource="scEvent"
        back-to-route="scenarios.events"
        @change="updateEventData"
      />
    </template>

    <template #content>
      <tm-panel-list
        :ready="!!scenario.id && !!scEvent.id"
        :items="modifications"
        :activated-item-id="activeModificationId"
        :access="scenario.level"
        :access-event-object="scEvent"
        :watch-mode="watchMode"
        type="modifications"
        @item:activated="
          activateAndFitMapItem({
            scenarioId: scenario.id,
            eventId: scEvent.id,
            modificationId: $event.id,
            date: $event.dateFrom,
          })
        "
        @item:deactivated="activateAndFitMapItem({ scenarioId: scenario.id, eventId: scEvent.id })"
        @item:action:clicked="performItemAction($event.action, $event.item)"
      />
    </template>

    <template #footer>
      <div class="p-d-flex p-mb-3">
        <div v-if="!watchMode" class="p-mx-auto">
          <tm-button
            v-for="(opt, i) in enabledModificationTypes"
            :key="i"
            :tooltip="$t(`modifications.${opt.mode} ${opt.type}`)"
            :data-test="'create-' + opt.type"
            type="create"
            class="p-mr-2"
            :icon="opt.icon + ' ri-lg'"
            :border-color="opt.border"
            :class="{ indented: i % 2 !== 0 }"
            @click="
              $router.push({
                name: 'scenarios.events.modifications.create',
                params: { modType: opt.type, modMode: opt.mode },
              })
            "
          />
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-6 p-pb-0"></div>
        <div class="p-col-6 p-pb-0">
          <tm-button
            type="cancel"
            :label="$t('modifications.back to scenario')"
            @click="$router.push({ name: 'scenarios.events' })"
          />
        </div>
      </div>
    </template>
  </tm-card>
</template>

<script setup lang="ts">
import { computed, onMounted } from 'vue';
import { useRouter } from 'vue-router';
import { useStore } from 'vuex';
import { useI18n } from 'vue-i18n';
import { useConfirm } from 'primevue/useconfirm';
import useFullScenario from '@composables/useFullScenario';
import TmPanelList from '@components/views/PanelList.vue';
import TmHeaderForm from '@components/views/HeaderForm.vue';
import useUnfinishedGuard from '@composables/useUnfinishedGuard';
import useMapItems from '@composables/useMapItems';

const props = defineProps<{
  scenarioId: number;
  eventId: number;
}>();

useUnfinishedGuard();
const {
  scenario,
  event: scEvent,
  modifications,
  deleteModification,
  types: modificationTypes,
  copyModification,
  updateEvent,
  activeModificationId,
} = useFullScenario(props);
const router = useRouter();
const store = useStore();
const { t } = useI18n();
const confirm = useConfirm();
const { activateAndFitMapItem, adjustMapViewForMapItem } = useMapItems();
const watchMode = computed<boolean>(() => store.getters['scenarios/isWatchModeActive'](props.scenarioId));

onMounted(() => adjustMapViewForMapItem({ scenarioId: props.scenarioId, eventId: props.eventId }));

const performItemAction = async (action: 'enter' | 'delete' | 'copy', modification: TmModification) => {
  switch (action) {
    case 'enter':
      router.push({
        name: 'scenarios.events.modifications.edit',
        params: { modType: modification.type, modMode: modification.mode, modId: modification.id },
      });
      break;
    case 'delete':
      confirm.require({
        message: t('modifications.confirm delete', { name: modification.id }),
        header: t('modifications.delete modification'),
        icon: 'pi pi-exclamation-triangle',
        accept: () => deleteModification(modification.id),
      });
      break;
    case 'copy':
      copyModification(modification.id);
  }
};

const updateEventData = async (eventData: TmEvent) => {
  delete eventData.included; // server denies requests with included when user has only permission to change name/desc
  await updateEvent(eventData);
};

const enabledModificationTypes = computed(() => modificationTypes.filter((t) => t.type !== 'matrix'));
</script>

<style scoped>
.tm-button.indented:not(:last-child) {
  margin-right: 5rem !important;
}
</style>
