<template>
  <tm-card>
    <template #header>
      <tm-breadcrumb :names="null" />
      <tm-header-form v-model:resource="scenario" v-model:valid="isFormValid" />
    </template>

    <template #footer>
      <div class="p-grid">
        <div class="p-col-6">
          <tm-button type="cancel" :label="$t('scenarios.leave without creating')" @click="cancelScenario()" />
        </div>
        <div class="p-col-6">
          <tm-button
            type="confirm"
            :disabled="!isFormValid"
            :label="$t('scenarios.create')"
            @click="submitScenario()"
          />
        </div>
      </div>
    </template>
  </tm-card>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import useFullScenario from '@composables/useFullScenario';
import { useRouter } from 'vue-router';
import useUnfinishedGuard from '@composables/useUnfinishedGuard';
import TmHeaderForm from '@components/views/HeaderForm.vue';
import useEditMode from '@composables/useEditMode';

const { createScenario } = useFullScenario();
const router = useRouter();
const { enterEditSession } = useEditMode();

const scenario = ref<TmScenario>({
  name: '',
  description: '',
  note: '',
});

const submitScenario = async () => {
  if (!isFormValid.value) return;
  await createScenario(scenario.value, {
    onSuccess: enterEditSession,
  });
};

const { forcedFormAbandonment } = useUnfinishedGuard({
  newModel: scenario,
  modelType: 'scenario',
  submitAction: submitScenario,
});

const cancelScenario = () => {
  forcedFormAbandonment.value = true;
  router.push({ name: 'scenarios' });
};

const isFormValid = ref(false);
</script>
