<template>
  <tm-card>
    <template #header>
      <tm-breadcrumb :names="{ scenarios: scenario.name }" />
      <tm-heading :text="scenario.name" back-to-route="scenarios" />
      <tm-divider />
    </template>

    <template #content>
      <tm-scenario-share
        v-if="scenario.id && scenarioAccess === 'editor'"
        :scenario="scenario"
        @update:scenario="updateScenario"
      />
    </template>

    <template #footer>
      <div class="p-grid">
        <div class="p-col-6"></div>
        <div class="p-col-6">
          <tm-button type="cancel" :label="$t('scenarios.leave')" @click="$router.push({ name: 'scenarios' })" />
        </div>
      </div>
    </template>
  </tm-card>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import useFullScenario from '@composables/useFullScenario';
import TmScenarioShare from '@components/views/ScenarioShare.vue';

const props = defineProps<{
  scenarioId: number;
}>();

const { scenario, updateScenarioPublication } = useFullScenario(props);
const scenarioAccess = computed(() => scenario.value.level);

const updateScenario = async (accessibilityOptions: TmScenario) => {
  await updateScenarioPublication({
    ...scenario.value,
    ...accessibilityOptions,
  });
};
</script>
