<template>
  <div id="timeline" @wheel.prevent></div>
</template>

<script setup lang="ts">
import { onMounted, toRaw } from 'vue';
import { useStore } from 'vuex';
import * as d3 from 'd3';
import timeline from './graph/timeline';

const props = defineProps<{
  data: TmTimelineEvent[]; // Array containing timeline event objects
}>();

const emit = defineEmits<{
  (e: 'event:clicked', timelineEvent: TmTimelineEvent): void;
}>();

const store = useStore();

onMounted(() => {
  const rawData = props.data.map((ev) => toRaw(ev));

  if (rawData.length)
    d3.select('#timeline')
      .datum(rawData)
      .call(
        timeline({
          onEventClick: (timelineEvent: TmTimelineEvent) => emit('event:clicked', timelineEvent),
          lang: store.state.locale.lang,
        }),
      );
});
</script>

<style scoped>
::v-deep(.event) {
  background-color: #0094d2;
  border-radius: 7px;
  overflow: hidden;
}
::v-deep(.event .event-text) {
  color: white;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 7px;
  padding: 0;
  margin: 0 0 0 5px;
}
::v-deep(.event:hover) {
  background-color: #007aad;
  /* overflow: visible; */
}
/* showing full event name is not consistent since svg has no concept of z-index */
/* we can instead try to re-order (order determines the z-index in svg) events on hover inside the graph */
::v-deep(.event:hover .event-text) {
  /* overflow: visible;
  background-color: #007aad;
  padding-right: 5px; */
}
</style>
