<template>
  <tm-card>
    <template #header>
      <tm-heading :text="$t('admin.log in please')" />
      <tm-divider />
    </template>

    <template #content>
      <div class="p-mb-4">{{ $t('admin.admin accounts only') }}</div>
      <div class="login-panel">
        <tm-login />
      </div>
    </template>

    <template #footer></template>
  </tm-card>
</template>

<script setup lang="ts">
import TmLogin from '@components/views/Login.vue';
</script>

<style scoped>
.p-card {
  margin: 10rem auto;
  max-width: 512px;
}
</style>
