<template>
  <tm-card>
    <template #header>
      <div class="p-d-flex">
        <tm-heading :text="$t('admin.user management')" />
        <a class="p-ml-auto action-icon" @click="logout"><i class="pi pi-sign-out" /></a>
      </div>
      <tm-divider />
    </template>

    <template #content>
      <prime-data-table :value="users" :striped-rows="true" auto-layout>
        <prime-column field="username" sortable :header="$t('admin.username')"></prime-column>
        <prime-column field="email" sortable :header="$t('admin.email')"></prime-column>
        <prime-column field="organization" :header="$t('admin.organization')"></prime-column>
        <prime-column field="roles" :header="$t('admin.roles')">
          <template #body="{ data }">
            <span v-if="data.roles && data.roles.includes(100)">{{ $t('admin.administrator') }}</span>
            <span v-else> - </span>
          </template>
        </prime-column>
        <prime-column>
          <template #body="{ data }">
            <a class="action-icon primary-color" @click="editUser(data.id)"><i class="pi pi-pencil" /></a>
            <a class="p-ml-3 action-icon primary-color" @click="removeUser(data)"><i class="pi pi-trash" /></a>
          </template>
        </prime-column>
      </prime-data-table>
    </template>
    <template #footer>
      <div class="p-d-flex p-jc-center p-mb-1">
        <tm-button type="create" icon="pi-plus" @click="addUser" />
      </div>
    </template>
  </tm-card>
</template>

<script setup lang="ts">
import { onMounted } from 'vue';
import useUsers from '@composables/useUsers';
import useAuth from '@composables/useAuth';
import PrimeDataTable from 'primevue/datatable';
import PrimeColumn from 'primevue/column';
import { useI18n } from 'vue-i18n';
import { useConfirm } from 'primevue/useconfirm';
import useDialog from '@composables/useDialog';

const { users, fetchUsers, deleteUser, invalidateUsers } = useUsers();
const { logout } = useAuth();
const { t } = useI18n();
const confirm = useConfirm();
const dialog = useDialog();

onMounted(() => {
  invalidateUsers();
  fetchUsers(true); // Force to refetch in case we have stale/public data loaded
});

const removeUser = ({ id, email }: { id: number; email: string }) => {
  confirm.require({
    message: t('admin.confirm removing user', { name: email }),
    header: t('admin.removing user'),
    icon: 'pi pi-exclamation-triangle',
    accept: () => deleteUser(id),
  });
};

const addUser = () => {
  dialog.show({
    header: 'admin.creating user',
    type: 'user',
    data: { userId: null },
  });
};

const editUser = (userId: string) => {
  dialog.show({
    header: 'admin.editing user',
    type: 'user',
    data: { userId },
  });
};
</script>

<style scoped>
.p-card {
  margin: 5rem auto;
  max-width: 80rem !important;
  height: 75vh;
}
.action-icon {
  cursor: pointer;
}
.action-icon:hover i {
  font-weight: bold;
}
.primary-color {
  color: #0094d2;
}
::v-deep(.p-datatable .p-datatable-tbody > tr > td:last-child) {
  text-align: right;
}
::v-deep(.p-datatable .p-datatable-tbody > tr > td:last-child .p-column-title) {
  display: none;
}
::v-deep(.heading) {
  margin-bottom: 0 !important;
}
::v-deep(.header > div) {
  line-height: 2rem;
}
::v-deep(.p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even)) {
  background: #f8f9fa;
}
</style>
