<template>
  <tm-card>
    <template #header>
      <tm-breadcrumb />
      <tm-heading :text="$t('users.log in please')" back-to-route="home" />
      <tm-divider />
    </template>

    <template #content>
      <tm-login />
    </template>

    <template #footer>
      <tm-button
        type="link"
        :label="$t('users.forgotten password')"
        @click="$router.push({ name: 'user.password recovery' })"
      />
    </template>
  </tm-card>
</template>

<script setup lang="ts">
import TmLogin from '@components/views/Login.vue';
</script>

<style scoped></style>
