<template>
  <tm-card>
    <template #header>
      <tm-breadcrumb />
      <tm-heading :text="$t('users.password recovery')" />
      <tm-divider />
    </template>

    <template #content>
      <tm-input
        v-model="email"
        :placeholder="$t('users.email')"
        autocomplete="email"
        type="email"
        name="email"
        rules="required|email"
        :borderless="false"
        class="p-mb-3"
        @keyup.enter="recoverPassword"
      />
      <tm-button type="confirm" :label="$t('users.password recovery')" @click="recoverPassword" />
    </template>
  </tm-card>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import useUsers from '@composables/useUsers';
import { useForm } from 'vee-validate';

const email = ref('');
const { validate, meta } = useForm();
const { requestPasswordReset } = useUsers();

const recoverPassword = async () => {
  await validate();
  if (!meta.value.valid) return;

  requestPasswordReset({ email: email.value });
};
</script>

<style scoped></style>
