<template>
  <tm-card>
    <template #header>
      <tm-breadcrumb />
      <tm-heading :text="$t('users.password reset')" />
      <tm-divider />
    </template>

    <template #content>
      <form>
        <tm-input
          v-model="email"
          :placeholder="$t('users.email')"
          autocomplete="email"
          type="email"
          name="email"
          rules="email|required"
          :borderless="false"
          class="p-mb-3"
          @keyup.enter="reset"
        />
        <tm-input
          v-model="password"
          :placeholder="$t('users.password')"
          autocomplete="new-password"
          type="password"
          name="password"
          rules="required|min:8"
          :borderless="false"
          class="p-mb-3"
          @keyup.enter="reset"
        />
        <tm-input
          v-model="password2"
          :placeholder="$t('users.control password')"
          autocomplete="new-password"
          type="password"
          name="confirm_password"
          rules="required|confirmed:password"
          :borderless="false"
          class="p-mb-3"
          @keyup.enter="reset"
        />
        <tm-button type="confirm" :label="$t('users.password reset')" @click="reset" />
      </form>
    </template>
  </tm-card>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import useUsers from '@composables/useUsers';
import { useForm } from 'vee-validate';

const props = defineProps<{
  userId: number;
  token: string;
}>();

const { validate, meta } = useForm();
const { resetPassword } = useUsers();

const email = ref('');
const password = ref('');
const password2 = ref('');

const reset = async () => {
  await validate();
  if (!meta.value.valid) return;

  resetPassword({ userId: props.userId, token: props.token, email: email.value, password: password.value });
};
</script>

<style scoped></style>
