<template>
  <tm-card>
    <template #header>
      <tm-breadcrumb />
      <tm-heading :text="$t('users.user settings')" back-to-route="user" />
      <tm-divider />
    </template>

    <template #content>
      <tm-user-settings v-if="loggedUserId" :user-id="loggedUserId" />
    </template>
  </tm-card>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { useStore } from 'vuex';
import TmUserSettings from '@components/views/UserSettings.vue';

const store = useStore();
const loggedUserId = computed<number>(() => store.state.auth.user.id);
</script>

<style scoped>
.p-card ::v-deep(.p-card-content) {
  padding-bottom: 0;
}
</style>
