<template>
  <tm-card>
    <template #header>
      <tm-breadcrumb />
      <tm-heading :text="$t('users.logged user')" back-to-route="home" />
      <tm-divider />
    </template>

    <template #content>
      <div class="p-text-center">
        <div>
          <prime-avatar icon="ri-user-line" shape="circle" size="large" class="p-mb-3 large-avatar" />
        </div>
        {{ user.email }}
      </div>
    </template>

    <template #footer>
      <div class="p-grid">
        <div class="p-col-6">
          <tm-button type="confirm" :label="$t('users.log out')" @click="logout" />
        </div>
        <div class="p-col-6">
          <tm-button
            type="confirm"
            :label="$t('users.user settings')"
            @click="$router.push({ name: 'user.settings' })"
          />
        </div>
      </div>
    </template>
  </tm-card>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { useStore } from 'vuex';
import useAuth from '@composables/useAuth';
import PrimeAvatar from 'primevue/avatar';

const store = useStore();
const user = computed(() => store.state.auth.user);
const { logout } = useAuth();
</script>

<style scoped>
.p-avatar.large-avatar {
  width: 7rem;
  height: 7rem;
}
.p-avatar.large-avatar ::v-deep(.p-avatar-icon) {
  font-size: 3rem;
}
</style>
