<template>
  <vm-map-element :vm-map="map" :class="[plainBaseColor ? 'plain-color-' + plainBaseColor : '']">
    <keep-alive>
      <component
        :is="viewerMode?.component || 'div'"
        :mode-key="mapMode"
        :register-mode="registerViewerMode"
        v-bind="viewerMode?.data ?? {}"
      />
    </keep-alive>
  </vm-map-element>
</template>

<script>
import { computed, reactive, markRaw, watchEffect, watch, toRaw, onBeforeMount, defineAsyncComponent } from 'vue';
import { VmMapElement } from 'vuemap';
import { useMainMap } from './map';
import { setStyleConfig } from './layer-style';
import { useOSM, useOSMStandard } from './baseLayers';
import { useStore } from 'vuex';
import { debounce } from 'lodash-es';
import { ENABLED_DATA_MODES } from '@composables/useDataModes';
import { ENABLED_MODEL_TYPES } from '@composables/useModels';
import { MP_MODEL_DTA_VIEWER, MP_MODEL_DTA_COMPARISON } from '@keys/index';

export default {
  components: {
    VmMapElement,
  },
  setup() {
    const store = useStore();
    const map = useMainMap();

    const mapMode = computed(() => store.state.map.mapMode);
    const calendarDate = computed(() => store.getters['map/getCalendarDate']());
    const modelType = computed(() => store.state.scenarios.model.type);
    const mapStyle = computed(() => store.state.map.mapStyle);
    const mapBaseId = computed(() => store.state.map.base);
    const plainBaseColor = computed(() => mapBaseId.value?.split('plain-')?.[1]);
    const viewerMode = computed(() => viewerModes.get(mapMode.value));
    const mapPosition = computed(() => ({ zoom: store.state.map.zoom, center: store.state.map.center }));
    const viewerModes = reactive(new Map());

    const addViewerMode = ({ key, component, data = {} } = {}) => {
      if (viewerModes.has(key)) return;

      viewerModes.set(key, {
        component: markRaw(defineAsyncComponent(() => import(`./mapModes/${component}.vue`))),
        data,
      });
    };

    const setupViewerModes = () => {
      const isEnabledDataMode = (dataModeKey) => ENABLED_DATA_MODES.includes(dataModeKey);
      const isEnabledModelType = (modelType) => ENABLED_MODEL_TYPES.includes(modelType);

      if (isEnabledDataMode('model') && isEnabledModelType('DTA'))
        addViewerMode({
          key: MP_MODEL_DTA_VIEWER,
          component: 'ModeModelDTAViewer',
          data: { date: calendarDate, mapStyle },
        });

      if (isEnabledDataMode('comparison') && isEnabledDataMode('model') && isEnabledModelType('DTA'))
        addViewerMode({
          key: MP_MODEL_DTA_COMPARISON,
          component: 'ModeModelDTAComparison',
          data: {
            dates: calendarDate,
            scenarios: computed(() => store.state.map.comparison),
            modelType,
          },
        });
    };

    // TODO: TS types would be nice here
    const registerViewerMode = (key, layers) => map.manager.createMapState(key, layers);
    const registerBaseMap = () => map.manager.addBaseMap(useOSM, useOSMStandard);

    const updateMapPosition = debounce(() => {
      const { center, zoom } = toRaw(map.view.state);
      store.dispatch('map/setPosition', { center, zoom });
    }, 100);

    // Sets currently selected mapMode as mapPreset (even if mode not found here, might come from somewhere else)
    watchEffect(() => map.manager.setMapState(mapMode.value));

    watch(mapBaseId, (id) => map.manager.setBaseMap(id.includes('plain') ? null : id), { immediate: true });

    watch(map.view.state, updateMapPosition, { immediate: true });

    watch(mapPosition, (newPosition) => map.view.set(newPosition));

    watch(
      mapStyle,
      () => {
        setStyleConfig(mapStyle.value);
        map.manager.forceRender();
      },
      { deep: true, immediate: true },
    );

    watch(
      () => map.manager.state.loading,
      (isLoading) => store.dispatch(isLoading ? 'layout/startLoading' : 'layout/finishLoading'),
    );

    onBeforeMount(() => {
      registerBaseMap();
      setupViewerModes();
    });

    return {
      map,
      mapMode,
      viewerMode,
      registerViewerMode,
      plainBaseColor,
    };
  },
};
</script>

<style>
/* OL layer css filter */
.tm-layer-pastel {
  filter: grayscale(70%);
}
.plain-color-white {
  background-color: white;
}
.plain-color-grey {
  background-color: #e9ecef;
}
</style>
