<template>
  <map-info :content-data="contentData">
    <template #heading> {{ $t('map.map info') }} </template>
  </map-info>
</template>

<script>
import MapInfo from './MapInfo.vue';
import { useI18n } from 'vue-i18n';

export default {
  components: { MapInfo },
  setup() {
    const { t } = useI18n();

    const contentData = [{ key: t('map.select item for map info') }];

    return { contentData };
  },
};
</script>
