<template>
  <component :is="interaction.component" v-if="areLayersLoaded" v-bind="{ ...$attrs, ...layers }" />
  <div v-else-if="interaction.loadingMessageKey">{{ $t(interaction.loadingMessageKey) }}</div>
</template>
<script>
import { useLayerProvider } from 'vuemap';

export default {
  inheritAttrs: false,
  props: {
    interaction: {
      type: Object,
      required: true,
    },
  },
  setup(props) {
    const { layers, areLayersLoaded } = useLayerProvider(props.interaction.layers);

    return { layers, areLayersLoaded };
  },
};
</script>
