<template>
  <map-info :content-data="contentData" :select-pager="selectPager">
    <template #heading> {{ heading }} </template>
    <template v-if="modification && !$isMobile()" #heading-toolbar>
      <tm-button
        type="create"
        class="mod-type"
        :icon="icon.icon"
        :border-color="icon.border"
        @click="jumpToModification(modification)"
      />
    </template>
    <template v-if="modification && !$isMobile()" #actions>
      <a v-tooltip="$t(`scenarios.enter`)"
        ><i class="pi pi-directions" data-test="redirect-button" @click.stop="jumpToModification(modification)"
      /></a>
    </template>
  </map-info>
</template>

<script>
import { computed } from 'vue';
import { useI18n } from 'vue-i18n';
import useFullScenario from '@composables/useFullScenario';
import useMapItems from '@composables/useMapItems';
import MapInfo from './MapInfo.vue';
import useDate from '@composables/useDate';

export default {
  components: { MapInfo },
  props: {
    selectedData: {
      type: Object,
      required: true,
    },
    selectPager: {
      type: Object,
      required: true,
    },
  },
  setup(props) {
    const { t } = useI18n();
    const { activeScenarioId, types: modificationTypes, getModification, getEvent } = useFullScenario();
    const { jumpToModification } = useMapItems();
    const { formatScenarioDate } = useDate();

    const modification = computed(() => {
      const { eventId, modId } = props.selectedData.properties;
      const mod = getModification(activeScenarioId.value, eventId, modId);
      return mod.id ? mod : null;
    });

    const heading = computed(() => modification.value?.name || t('map.data not found'));

    const contentData = computed(() => {
      const mod = modification.value;
      if (!mod) return [{ value: t('map.data not found') }];

      let data = [];
      data.push({
        key: t('widgets.duration'),
        value: `${formatScenarioDate(mod.dateFrom)} - ${formatScenarioDate(mod.dateTo)}`,
      });

      if (mod.description?.length)
        data.push({
          key: t('scenarios.note'),
          value: mod.description,
          textarea: true,
        });

      data.push(...getModTypeModeData(mod));
      data.push(...getModTypeData(mod));

      const event = getEvent(activeScenarioId.value, mod.eventId);
      data.push(
        ...[
          { key: t('widgets.event'), value: event.name },
          { key: t('widgets.event owner'), value: event.owner },
        ],
      );
      data.push({
        key: t('scenarios.last edit'),
        value: `${formatScenarioDate(mod.updatedAt)}`,
      });

      return data;
    });

    const getModTypeModeData = (mod) => {
      const { type, mode } = mod;
      return typeModeFormatters[`${type}-${mode}`](mod);
    };
    const typeModeFormatters = {
      'link-existing': (mod) => [{ key: t('modifications.link(s)'), value: mod.linkId.join(', ') }], // TODO Intl.listFormat not good with []number, vue-i18n alternative?
      'link-new': (mod) => [
        {
          key: `${t('modifications.source')} - ${t('modifications.target')}`,
          value: `${mod.source} - ${mod.target}`,
        },
      ],
      'node-existing': (mod) => [
        { key: t('modifications.node'), value: mod.node },
        {
          key: `${t('modifications.source')} - ${t('modifications.target')}`,
          value: `${mod.linkFrom} - ${mod.linkTo}`,
        },
        {
          key: t('modifications.delay'),
          value: mod.cost < 0 ? t('modifications.closure') : mod.cost,
          units: mod.cost < 0 ? null : 's',
        },
      ],
      'node-new': () => [],
      'generator-existing': (mod) => [{ key: t('modifications.generator'), value: mod.generator.join(', ') }],
      'generator-new': () => [],
    };

    const getModTypeData = (mod) => {
      const { type } = mod;
      return typeFormatters[type](mod);
    };
    const typeFormatters = {
      link: (mod) => {
        const linkData = [
          {
            key: t('modifications.speed'),
            value: mod.speed + (mod.twoWay ? `/${mod.twoWaySpeed}` : ''),
            units: t('map.kilometers per hour'),
          },
          {
            key: t('modifications.capacity'),
            value: mod.capacity + (mod.twoWay ? `/${mod.twoWayCapacity}` : ''),
            units: t('map.vehicles per hour'),
          },
        ];
        if (mod.lanes) linkData.push({ key: t('modifications.lanes'), value: mod.lanes });
        return linkData;
      },
      node: () => [],
      generator: (mod) => [
        { key: t('modifications.node(s)'), value: mod.nodes.join(', ') },
        { key: t('modifications.incoming traffic'), value: mod.inTraffic, units: t('map.vehicles per hour') },
        { key: t('modifications.outgoing traffic'), value: mod.outTraffic, units: t('map.vehicles per hour') },
      ],
    };

    const icon = computed(() => {
      if (!modification.value) return null;
      const { mode, type } = modification.value;
      return modificationTypes.find((el) => el.type === type && el.mode === mode);
    });

    return { heading, contentData, icon, jumpToModification, modification };
  },
};
</script>
