<template>
  <div class="p-d-flex popup-footer">
    <div v-if="listLength > 1" data-test-id="map-info-pager">
      <button class="popup-icon p-link" :disabled="listIndex === 0" @click="setItem(listIndex - 1)">
        <i class="pi pi-chevron-left" />
      </button>
      <span class="popup-index">{{ `${listIndex + 1}/${listLength}` }}</span>
      <button class="popup-icon p-link" :disabled="listIndex === listLength - 1" @click="setItem(listIndex + 1)">
        <i class="pi pi-chevron-right" />
      </button>
    </div>
    <div v-if="$slots.actions" class="p-ml-auto popup-action" data-test-id="map-info-actions">
      <slot name="actions"></slot>
    </div>
  </div>
</template>

<script>
import { toRefs } from 'vue';

export default {
  props: {
    selectPager: {
      type: Object,
      required: true,
    },
  },
  setup(props) {
    return { ...toRefs(props.selectPager) };
  },
};
</script>
