<template>
  <map-info :content-data="contentData" :select-pager="selectPager">
    <template #heading> {{ heading }} </template>
  </map-info>
</template>

<script>
import { computed } from 'vue';
import { useStore } from 'vuex';
import { useI18n } from 'vue-i18n';
import useModels from '@composables/useModels';
import useFullScenario from '@composables/useFullScenario';
import { addTmDateHours, formatTravelTime } from '@utils/tm-date';
import MapInfo from './MapInfo.vue';
import { MP_MODEL_DTA_VIEWER, MP_MODEL_DTA_COMPARISON } from '@keys/index';

export default {
  components: { MapInfo },
  props: {
    selectedData: {
      type: Object,
      required: true,
    },
    selectPager: {
      type: Object,
      default: null,
    },
  },
  setup(props) {
    const store = useStore();
    const { t, d } = useI18n();
    const { getModelCalendarSetting } = useModels();
    const { getScenario } = useFullScenario();

    const mapMode = computed(() => store.state.map.mapMode);
    const heading = computed(() => t(`map.${mapMode.value} traffic intensity`));

    const contentData = computed(() => {
      const data = [];
      const calendarDate = store.getters['map/getCalendarDate']();

      if (_isModel()) {
        data.push({ key: t('map.day'), value: _formatDate({ date: calendarDate, dayOnly: true }) });
        data.push({
          key: t('map.time'),
          value: _formatDate({ date: calendarDate, timeOnly: true }),
          units: null,
        });
      }

      // TODO Improve DTA support
      if (_isModel()) {
        const context = props.selectedData.extraData?.context;
        if (!context) {
          data.push({ value: t('map.data not found') });
          return data;
        }
        data.push({
          key: t('map.inflow'),
          value: context.inFlow,
          units: t('map.vehicles per hour'),
        });
        data.push({
          key: t('map.outflow'),
          value: context.outFlow,
          units: t('map.vehicles per hour'),
        });
        data.push({
          key: t('map.travel time'),
          value: formatTravelTime(context.travelTime),
        });

        const capacity = _getCapacity(props.selectedData);
        data.push({ key: t('map.capacity'), value: capacity, units: t('map.vehicles per hour') });
        data.push({ key: t('modifications.lanes'), value: _getLanes(props.selectedData) });
        data.push({
          key: t('map.traffic level'),
          value: context.outFlow ? Math.floor((context.outFlow / capacity) * 100) : 0,
          units: '%',
        });

        return data;
      }

      const volume = _getVolume(props.selectedData);
      if (props.selectedData.extraData?.isLoading) {
        // TODO: add loading flag to every mode?
        data.push({ value: t('map.data loading') });
      } else if (volume || volume === 0) {
        data.push({
          key: _isComparison() ? t('map.traffic difference') : t('map.traffic'),
          value: volume ? _formatVolume({ volume }) : 0,
          units: t('map.vehicles per hour'),
        });
        data.push({
          key: null,
          value: volume ? _formatVolume({ volume, displayInMinutes: true }) : 0,
          units: t('map.vehicles per minute'),
        });

        const capacity = _getCapacity(props.selectedData);
        if (!_isComparison() && (capacity || capacity === 0)) {
          data.push({ key: t('map.capacity'), value: capacity, units: t('map.vehicles per hour') });
          data.push({
            key: t('map.used capacity'),
            value: volume ? Math.floor((volume / capacity) * 100) : 0,
            units: '%',
          });
        }
      } else {
        data.push({ value: t('map.data not found') });
      }

      if (_isComparison()) {
        const sourceScenarioName = getScenario(store.state.map.comparison[0])?.name || t('widgets.base model');
        const targetScenarioName = getScenario(store.state.map.comparison[1])?.name || t('widgets.base model');
        data.push({
          key: `${t('map.traffic')} ${sourceScenarioName} ${_formatDate({
            date: calendarDate[0],
          })}`,
          value: props.selectedData.extraData?.context?.sourceTraffic,
          units: t('map.vehicles per hour'),
        });
        data.push({
          key: `${t('map.traffic')} ${_isComparison() ? targetScenarioName : ''} ${_formatDate({
            date: calendarDate[1],
          })}`,
          value: props.selectedData.extraData?.context?.targetTraffic,
          units: t('map.vehicles per hour'),
        });
      }

      return data;
    });

    const _isModel = () => mapMode.value === MP_MODEL_DTA_VIEWER;
    const _isComparison = () => mapMode.value === MP_MODEL_DTA_COMPARISON;
    const _getCapacity = (d) => d.extraData?.context?.capacity ?? d.properties.capacity;
    const _getLanes = (d) => d.properties.lanes;
    const _getVolume = (d) => {
      const ctx = d.extraData?.context;
      return typeof ctx === 'object' ? ctx.diff ?? ctx.volume : ctx;
    };
    const _formatVolume = ({ volume, displayInMinutes = false } = {}) => {
      const vol = displayInMinutes ? Math.round(volume / 60) : volume;
      if (_isComparison()) return volume > 0 ? `+${vol}` : vol;
      return vol;
    };
    const _formatDate = ({ date, dayOnly = false, timeOnly = false } = {}) => {
      const day = d(date, 'default');
      if (dayOnly) return day;
      const { step = 1 } = getModelCalendarSetting(_isModel() || _isComparison());
      const time = `${d(date, 'time')} - ${d(addTmDateHours(date, step), 'time')}`;
      if (timeOnly) return time;
      return `${day} ${time}`;
    };

    return { heading, contentData };
  },
};
</script>
