<template>
  <tm-card>
    <template #header>
      <tm-heading widget-name="mapPopup">
        <div>
          <span v-if="$slots['heading-toolbar']" class="p-mr-3"><slot name="heading-toolbar"></slot></span>
          <span class="widget-title"><slot name="heading"></slot></span>
        </div>
      </tm-heading>
      <map-info-pager v-if="selectPager && $isMobile()" :select-pager="selectPager" class="p-mt-2 p-jc-center">
        <template v-if="$slots.actions" #actions>
          <slot name="actions"></slot>
        </template>
      </map-info-pager>
      <tm-divider />
    </template>

    <template #content>
      <div v-for="(row, i) of contentData" :key="i" class="popup-row">
        <div class="p-d-flex p-jc-between">
          <div class="p-mr-5 popup-row-key">
            <span v-if="row.key">{{ row.key }}</span>
          </div>
          <div class="popup-row-value">
            <tm-textarea v-if="row.textarea" :model-value="row.value" :readonly="true" :rows="3" name="description" />
            <strong v-else>{{ row.value }}</strong>
            <strong v-if="row.units">&nbsp;{{ row.units }}</strong>
          </div>
        </div>
      </div>
    </template>

    <template #footer>
      <map-info-pager v-if="selectPager && !$isMobile()" :select-pager="selectPager" class="p-mt-2 p-jc-center">
        <template v-if="$slots.actions" #actions>
          <slot name="actions"></slot>
        </template>
      </map-info-pager>
    </template>
  </tm-card>
</template>

<script>
import { toRefs } from 'vue';
import MapInfoPager from './MapInfoPager.vue';

export default {
  components: {
    MapInfoPager,
  },
  props: {
    contentData: {
      type: Object,
      required: true,
    },
    selectPager: {
      type: Object,
      default: null,
    },
  },
  setup(props) {
    return { ...toRefs(props.selectPager) };
  },
};
</script>

<style scoped>
.widget-title {
  font-size: 1.8rem;
  font-weight: 700;
}
.popup-row:not(:last-child) {
  margin-bottom: 0.5rem;
}
.popup-row-key {
  min-width: 5rem;
}
.popup-row-value {
  text-align: end;
  flex-grow: 1;
}
::v-deep(.popup-action > a) {
  cursor: pointer;
}
</style>
