<!-- 
Test/Debug helper component
Observers main map and current map state layers render state 
Colors observe if map/layer is rendered (red - in render, green rendered)
Numbers store successful render count
Note that renders are debounced so mainly map would normally display higher render count
For advanced debug non-debounce variant might be handy later
-->

<template>
  <div class="p-d-flex map-telemetry">
    <map-telemetry-item :item="useMainMap"></map-telemetry-item>
    <map-telemetry-item
      v-for="layer in currentLayers"
      :key="layer.id"
      :item="layer"
      :is-layer="true"
    ></map-telemetry-item>
  </div>
</template>

<script setup lang="ts">
import { computed, watchEffect } from 'vue';

import { useMainMap } from '@components/map/map.js';
import MapTelemetryItem from './MapTelemetryItem.vue';

const map = useMainMap();
const currentLayers = computed(() => map.manager.state.layers);
watchEffect(() => console.log(currentLayers.value)); // Currently reactivity in template does not work without this :O
</script>

<style>
.map-telemetry {
  position: fixed;
  z-index: 2;
  bottom: 0;
  right: 0;
}
</style>
