<template>
  <div
    class="map-telemetry-item p-d-inline-flex p-jc-center p-ai-center p-px-3"
    :class="isItemRendered ? 'bg-green' : 'bg-red'"
    :data-test-id="'vm-tele-' + item.id"
  >
    <span>{{ item.id }}</span
    >:
    <span :data-test-id="'vm-tele-count-' + item.id">{{ renderCompleted }}</span>
  </div>
</template>

<script setup lang="ts">
import { onUnmounted, ref } from 'vue';
import { onVmItemsReady, unwrapItem } from 'vuemap';

const props = withDefaults(
  defineProps<{
    item: Object | Function;
    isLayer?: boolean;
  }>(),
  { isLayer: false },
);

const item = unwrapItem(props.item);
const renderStartEvent = props.isLayer ? 'prerender' : 'precompose';
const renderEndEvent = props.isLayer ? 'postrender' : 'rendercomplete';

const isItemRendered = ref(false);
const renderCompleted = ref(0);

let renderCompleteTimeout: number;
function completeRender() {
  isItemRendered.value = true;
  renderCompleted.value += 1;
}

function onRenderStart() {
  if (!isItemRendered.value) return;
  isItemRendered.value = false;
}

function onRenderEnd() {
  if (renderCompleteTimeout) window.clearTimeout(renderCompleteTimeout);
  renderCompleteTimeout = window.setTimeout(completeRender, 100);
}

let isReady = false;
let isMounted = true;
onVmItemsReady(item, () => {
  isReady = true;
  if (isMounted) boundListeners();
});

onUnmounted(() => {
  isMounted = false;
  if (isReady) boundListeners(false);
});

function boundListeners(unbound = false) {
  const fn = unbound ? 'un' : 'on';
  item.olObject[fn](renderStartEvent, onRenderStart);
  item.olObject[fn](renderEndEvent, onRenderEnd);
}
</script>

<style>
.map-telemetry-item {
  height: 32px;
  border-radius: 16px;
  background-color: red;
}

.bg-green {
  background-color: green;
}
.bg-red {
  background-color: red;
}
</style>
