<template>
  <aside>
    <!-- alert messages -->
    <prime-toast position="bottom-center" />

    <!-- confirmation dialog -->
    <prime-confirm-dialog />

    <!-- custom tm dialog -->
    <tm-dialog :dismissable="true" />
  </aside>

  <main>
    <slot />
  </main>
</template>

<script setup lang="ts">
import PrimeToast from 'primevue/toast';
import PrimeConfirmDialog from 'primevue/confirmdialog';
import TmDialog from '@components/layouts/Dialog.vue';
</script>
